{% extends 'base.html' %}
{% block title %}DSO Target: Skytour{% endblock %}
{% block content %}
<style>
    a.buttoned {
        color: red;
        font-weight: bold;
    }
</style>
<h1>DSO {{ object.dso.shown_name }}</h1>
{% if object.dso.nickname %}<h4>{{ object.dso.nickname }}</h4>{% endif %}
{% if object.dso.alias_list %}<h5><i>{{ object.dso.alias_list }}</i></h5>{% endif %}
<button><a href="/admin/dso_observing/targetdso/{{ object.pk }}/change/" class="buttoned">Admin</a></button>
<br>
Seed Entry: {{ object.seed_entry }}
<h2>DSO Details</h2>
<table>
    <tr>
        <td>
            RA: {{ object.dso.ra_text }}<br>
            Dec: {{ object.dso.dec_text }}<br>
            <br>
            Mag: {{ object.dso.magnitude }}<br>
            SB: {{ object.dso.surface_brightness }}<br>
            CI: {{ object.dso.contrast_index }}<br>
            Size: {{ object.dso.angular_size }}
        </td>
        <td>
            Type: {{ object.dso.object_type }}<br/>
            Morph: {{ object.dso_morphological_type }}<br>
            <br>
            Notes: {{ object.notes }}
        </td>
        <td>
            image goes here?
        </td>
    </tr>
</table>

{{ object.viability_chart }}

<h2>Observing Modes</h2>
{% for mode in mode_list %}
<h3>{{ mode.mode }}</h3>
<table>
    <tr>
        <td>Viability: {{ mode.viable }}</td>
        <td>Priority: {{ mode.priority }}</td>
    </tr>
    <tr>
        <td>Interesting: {{ mode.interesting }}</td>
        <td>Challenging: {{ mode.challenging }}</td>
    </tr>
    <tr>
        <td>Challenges: {{ mode.challenge_code }}</td>
        <td>Description: {{ mode.description_codes }}</td>
    </tr>
    <tr>
        <td colspan=2>
         Notes:<br/>
        {{ mode.notes }}
    </tr>
</table>
{% endfor %}

{% endblock %}