{% extends 'popup_base.html' %}
{% load skytour_filters humanize %}

{% block content %}
<style>
    table.form th, td.input { height: 40px; }
    #id-custom { float: right; }
</style>
<h2>{{ title }}</h2>
    <form type="GET">
        <table class="form">
            <tr>
                <th><label for="d25">d25<br><small>(major axis)</small></th>
                <td class="input">
                    <input name="d25" size="5" maxlength="5" {% if d25 %}value="{{ d25 }}"{% endif %}>&nbsp;
                    <small>log<sub>10</sub>(1/10th arcmins)</small>
                </td>
            </tr>
            <tr>
                <th><label for="r25">r25<br><small>(minor/major ratio)</small></th>
                <td class="input">
                    <input name="r25" size="5" maxlength="5" {% if r25 %}value="{{ r25 }}"{% endif %}>&nbsp;
                    <small>log<sub>10</sub>(1/10th arcmins)</small>
                </td>
            </tr>
            {% if result_string %}
            <tr>
                <td></td>
                <td class="result">
                    <h4>{{ result_string }}</h4>
                </td>
            </tr>
            {% endif %}
        <tr><td colspan=2 class="submit">
            <input class="submit" type="submit" value="{{ submit_value }}">
        </td></tr>
        <tr><td colspan=2  class="close-popup">
            <button onClick="closeFormPopup();">Close Popup</button>
        </td></tr>
        </table>
    </form>
<script>
    function closeFormPopup() {
        var me = window.self;
        me.opener = me.self;
        me.close();
    }
</script>
{% endblock content %}
