{% extends 'popup_base.html' %}
{% load skytour_filters humanize %}

{% block content %}
<style>
    table.form th, td.input { height: 40px; }
    #id-custom { float: right; }
</style>
<h2>{{ title }}</h2>
    <form type="GET">
        <table class="form">
            <tr>
                <th><label for="jd">Date<br></th>
                <td class="input">
                    <label for="ymd">Date:</label>
                    <input name="ymd"  {% if ymd %}value="{{ ymd }}"{% else %}placeholder="YYYY-MM-DD"{% endif %}>&nbsp;
                    <br>
                    <label for="hms">Time:</label>
                    <input name="hms" {% if hms %}value="{{ hms }}"{% else %}placeholder="hh:mm:ss.sss"{% endif %}>&nbsp;
                    <br>
                    <label for="now">Now:</label>
                    <input name="now" type="checkbox">
                </td>
            </tr>
            {% if result_string %}
            <tr>
                <td>Julian Date:</td>
                <td class="result">
                    <h4>{{ result_string }}</h4>
                </td>
            </tr>
            {% endif %}
        <tr><td colspan=2 class="submit">
            <input class="submit" type="submit" value="Get Julian Date">
        </td></tr>
        <tr><td colspan=2  class="close-popup">
            <button onClick="closeFormPopup();">Close Popup</button>
        </td></tr>
        </table>
    </form>
<script>
    function closeFormPopup() {
        var me = window.self;
        me.opener = me.self;
        me.close();
    }
</script>
{% endblock content %}
