{% extends "base.html" %}
{% block title %}Skytour: {{ utdt|date:"Y-M-d" }}{% endblock %}
{% block content %}
<style>
    .indented { margin: 10px 50px; }
    .random_image { max-width: 500px; }
    .obs_table { width: 500px; }
    .obs_table table { border: 0px; }
    table.location_table { width: 550px; border: 0px; }
    th {
        background-color: #980;
        color: #000;
    }
    table.dsolist_table { border: none; }
    table.header { border: 0px; background-color: #000; }
    table.header th {
        border: 0px;
        background-color: #000;
    }
    h1 {
        text-align: left;
        padding-left: 30px;
    }
    h2 {
        text-align: right;
        padding-right: 30px;
        font-size: 80%;
        color: #999;
    }
    h4.dso_title { 
        max-width: 480px;
        background-color: #336;
        font-weight: bold;
        padding: 10px;
        display: block;
        margin-bottom: 0px;
    }
    h3 { 
        color: #c90;
    }
    .image-text {
        max-width: 500px;
        display: flex;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0.3);
        height: 35px;
        margin-top: -4px;
    }
    td.num {
        text-align: right;
        padding-right: 15px;
    }
    td.col { vertical-align: top; }
</style>
<body>
<table class="header">
    <tr>
        <th><h1>Skytour</h1></th>
        <th><h2>Version {{ version }}</h2></th>
    </tr>
</table>
<table class="main">
    <tr>
        <td class="col">
            <h3>Observations: </h3>
            <div class="obs_table">
                {{ observation_table }}
            </div>

            <h3>Last Session: </h3>
            {{ most_recent_session }}
            <h4>Days Since Last Session: {{ days_since_last_session }}</h4>

            <h3>Top Location(s)</h3>
            <table class="location_table">
                <tr><th>Place</th><th>Count</th></tr>
            {% for item in  top_5_locations %}
                <tr>
                    <td>{{ item.0.1.placename }}</td>
                    <td class="num">{{ item.1 }}</td>
                </tr>
            {% endfor %}
            </table>
        </td>
        <td class="col">
            <h3>Active DSO Observing Lists</h3>
            <table class="dsolist_table">
                <tr><th>Name</th><th># DSOs</th></tr>
            {% for list in active_dso_lists %}
                <tr>
                    <td>{{ list.name }}</td>
                    <td class="num">{{ list.dso_count }}</td>
                </tr>
            {% endfor %}
            </table>
        </td>
        <td class="col">
            <h3>Featured DSO Image:</h3>
            {% if random_dso_image %}
            {% with random_dso_image as img %}
            <h4 class="dso_title">
                {{ img.object }}: {{ img.object.object_type.name }}
                in
                {{ img.object.constellation.name }}
                <br>
                <small>&nbsp;&nbsp;&nbsp;{{ img.caption }}</small>

            </h4>
            <img class="random_image" src="{{ img.image.url }}"/>
            <div class="image-text">{{ img.caption }}</div>
            {% endwith %}
            {% endif %}
        </td>
    </tr>
</table>
</body>
{% endblock content %}
