{% extends "base.html" %}

{% block content %}
<h1>Skytour</h1>

<h2>Today</h2>

<h3>Meteor Showers</h3>

{% if meteor_showers %}
<table width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Start</th>
        <th>Peak</th>
        <th>End</th>
        <th>ZHR</th>
    </tr>
    </thead>
    <tbody>
{% for shower in meteor_showers %}
    <tr>
        <td>{{ shower.name }}</td>
        <td>{{ shower.start_date }}</td>
        <td>{{ shower.peak_date }}</td>
        <td>{{ shower.end_date }}</td>
        <td>{{ shower.zhr }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
None active.
{% endif %}

<h3>Planets Close Together</h3>

{% if adjacent_planets %}
<table width="100%">
    <thead><tr><th>Planet 1</th><th>Planet 2</th><th>Separation</th></tr></thead>
    <tbody>
        {% for pair in adjacent_planets %}
        <tr>
            <td>{{ pair.0 }}</td>
            <td>{{ pair.1 }}</td>
            <td>{{ pair.2|floatformat:1 }}°</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
None near each other (10°).
{% endif %}
{% endblock %}