
<style>
    table.calendar-grid td {
        border: 1px solid #ccc;
        width: 14%;
        vertical-align: top;
    }
    table.calendar-cell td {
        border: none!important;
        padding: 2px 2px;
    }
    .day-cell {
        color = #eee!important;
    }
</style>

<h2>Calendar</h2>
<table width="100%" class="calendar-grid">
<tr>
    <td>Sun</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td><td>Sat</td>
</tr>
{% for week in grid %}
    <tr>
    {% for day in week %}
        <td style="background-color: {{day.moon.bgcolor}}" class="day-cell">
        {% if day.date %}
            <table width="100%" class='calendar-cell'>
                <tr>
                    <th colspan=1>{{ day.date.day }}</th>
                    <th colspan=1><small>{{ day.jd }}</small></th>
                    <th colspan=1>{{ day.moon.phase_abbr }}</th>
                </tr>
                <tr>
                    <td colspan=3>
                        <small>R: {{ day.sunrise.local_str}} &#9788; S: {{ day.sunset.local_str}}</small>
                        <br><small>R: {{ day.moonrise.local_str}} &#9789; S: {{ day.moonset.local_str}}</small>
                        <br><small>&#x1F52D;  {{ day.twilight.night.start }} to {{ day.twilight.astro.end }}</small>
                    </td>
                </tr>
            </table>
            <br/>
            <br/>
            {% for e in day.events %}
                <small>
                {% if e.time %}
                    {{e.time|time:"H:i"}}
                {% endif %}
                {% if e.event_type %}
                    {{ e.event_type.icon }}
                {% endif %}
                {{ e.title }}
                </small>
                <br/>
            {% endfor %}
            <br/>
        {% endif %}
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>