<script>
    const wscreenWidth = window.screen.width;
    const wwindowWidth = 600;
    const wwindowHeight = 360;
    const wrightOffset = 100;
    const wrightPosition = wscreenWidth - wwindowWidth - wrightOffset;
    const wtopOffset = 200;

    function popupEditParameter(pk, ptype) {
        const url = `/site/param/edit/${ptype}/${pk}`;
        newWindow = window.open(
            url,
            'Edit SiteParameter Value',
            `height=${wwindowHeight},  width=${wwindowWidth}, `
            + ` left=${wrightPosition}, top=${wtopOffset}, `
            + 'menubar=no,toolbar=no,location=no,status=no',
        );
        if (window.focus) { newWindow.focus() }
        return false;
    }
</script>