<style>
    table.new-parameter { border: none;  width: 400px; }
    table.new-parameter td { 
        border: 1px solid #cc9; 
        padding: 10px;
        line-height: 1.4;
    }
    table.new-parameter th {
        border: none;
        background-color: #996;
        color: #000;
    }
</style>
<div class="parameter_form" id="parameter-add-{{ submodel }}-form" style="display: none;">
    <h2>Add {{ item  }} Site Parameter</h2>
    {% if form %}
    {{ form.media }}
    <form method="post">
        {% csrf_token %}
        <table class="new-parameter">
            {{ form.as_table }}
        </table>
        <input name="submodel" value="{{ submodel }}" type="hidden">
        <br><input type="submit" value="Submit"/>
    </form>
    {% else %}
    There is no form!
    {% endif %}
</div>

<script>
    function toggleAddParameter(submodel) {
        var formDiv = document.getElementById(`parameter-add-${submodel}-form`);
        if (formDiv.style.display == "none") {
            formDiv.style.display = "block";
        } else {
            formDiv.style.display = "none";
        }
    }
</script>

