{% extends 'base.html' %}
{% block title %}Skytour: Settings{% endblock %}
{% block content %}
<style>
    .settings_admin { padding: 30px 20px; background-color: #610; width: 80%; }
    .settings_admin button { height: 3em; width: 15em;  font-size: 120%; %}
    .settings_admin span.helptext { color: #fff; font-size: 80%; font-style:italic; }
</style>
<h1>Skytour Settings</h1>

<div class="settings_admin">
<a href="/admin"><button>Admin</button></a>
    <br>
    <span class="helptext">
        (Use with Caution!)
    <span>
</div>

<h2>Positive Integers</h2>
{% with itemlist=parameters.positive submodel='positive' item='Positive Integer' %}
{% include 'inc_parameter_list.html' %}
{% endwith %}

<h2>Strings</h2>
{% with itemlist=parameters.string submodel='string' item='String' %}
{% include 'inc_parameter_list.html' %}
{% endwith %}

<h2>Floats</h2>
{% with itemlist=parameters.float submodel='float' item='Floating Number' %}
{% include 'inc_parameter_list.html' %}
{% endwith %}

<h2>Numbers</h2>
{% with itemlist=parameters.number submodel='number' item='Number' %}
{% include 'inc_parameter_list.html' %}
{% endwith %}

<script>
    const screenWidth = window.screen.width;
    const windowWidth = 600;
    const windowHeight = 360;
    const rightOffset = 100;
    const rightPosition = screenWidth - windowWidth - rightOffset;
    const topOffset = 200;
</script>
{% include 'edit_parameter_script.html' %}
{% endblock %}