{% extends 'base.html' %}
{% load skytour_filters humanize %}
{% block title %}Available DSOs: Skytour{% endblock %}
{% block content %}
<style>
.plan td {
    vertical-align: top;
    padding: 1em;
}
.td-center td {
  vertical-align: middle;
}
details {
  user-select: none;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

table.subnav { 
	width: 80%; 
	margin-left: auto;
	margin-right: auto;
	background-color: #603; 
}
table.subnav td {
	text-align: center; 
	vertical-align: middle !important; 
	padding: 5px !important;
	border: 1px solid white !important; 
}
table.subnav td a {
	color: #fff; 
	font-weight: 800; 
	text-decoration: none;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}
summary {
  display: flex;
  cursor: pointer;
  background-color: #666;
  color: #fff;
  padding: 4px 10px;
  margin: 0px 10px 20px 10px;
}

summary::-webkit-details-marker {
  display: none;
}
</style>
<style>
    span.light-yellow { color: #ffc; font-weight: bold; }
    span.infield { float: right; font-size: 80%; }
    span.nickname { font-style: italic; color: #ff9; }
    table.dso_table tbody th, 
    table.dso_table tbody td { padding: 4px 10px 2px 10px; }
    table.filter_form label { color: #ff6; font-weight: bold; }
</style>



<h1>Deep Sky Objects</h1>
<table>
    <tr>
        <td>
<h2>{{ dso_count }} DSOs available at:</h2>
<h3>&nbsp;&nbsp;&nbsp;{{ local_time }}</h3>
<h4>&nbsp;&nbsp;&nbsp;{{ calc_utdt|date:"Y-M-d H:i:s" }} UT</h4>
<h4>&nbsp;&nbsp;&nbsp;{{ location }}</h4>
        </td>
        <td>
            <form target="" method="GET">
                <table class="filter_form">
                    <tr>
                        <td>
                            <label for="utdt">UT:&nbsp;</label> 
                            <input name="utdt" value="{{ format_utdt }}">
                        </td>
                        <td>
                            <label form="ut_offset">UT Offset:&nbsp;</label> 
                            <input name="ut_offset" value="{{ ut_offset }}" size=8>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <label for="min_priority">Min Priority:&nbsp;</label>
                        <select name="min_priority">
                            <option {% if pri == '0' %}selected{% endif %}>0</option>
                            <option {% if pri == '1' %}selected{% endif %}>1</option>
                            <option {% if pri == '2' %}selected{% endif %}>2</option>
                            <option {% if pri == '3' %}selected{% endif %}>3</option>
                            <option {% if pri == '4' %}selected{% endif %}>4</option>
                        </select>
                        </td>
                        <td>
                        <label for="imaged">Imaged:&nbsp;</label> 
                        <select name="imaged">
                            <option {% if imaged == 'All' %}selected{% endif %}>All</option>
                            <option {% if imaged == 'No' %}selected{% endif %}>No</option>
                            <option {% if imaged == 'Yes' %}selected{% endif %}>Yes</option>
                            <option {% if imaged == 'Redo' %}selected{% endif %}>Redo</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="min_dec">Min Dec.:&nbsp;</label> 
                            <input name="min_dec" size=5 {% if min_dec %}value="{{ min_dec }}"{% endif %}>
                        </td>
                        <td>
                            <label for="min_alt">Min Alt.:&nbsp;</label> 
                            <input name="min_alt" size=5 {% if min_alt %}value="{{ min_alt }}"{% endif %}>
                            <label for="max_alt"> Max. Alt:&nbsp;</label>
                            <input name="max_alt" size=5 {% if max_alt %}value="{{ max_alt }}"{% endif %}>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="house">At Home:&nbsp;</label>
                            <input name="house" type="checkbox" {% if house %}checked{% endif %}>
                            &nbsp;&nbsp;
                            <label for="scheduled">On List:&nbsp;</label>
                            <input name="scheduled" type="checkbox" {% if scheduled %}checked{% endif %}>
                        </td>
                        <td>
                            <label for="gear_N">Gear:&nbsp;</label>
                            <span style="color: #fff;">
                            <input type="checkbox" name="gearN" value="N" {% if gearN %}checked{% endif %}>Naked Eye
                            <input type="checkbox" name="gearB" value="B" {% if gearB %}checked{% endif %}>Binoculars
                            | <span style="font-weight: bold;">Telescopes</span>: 
                            <input type="checkbox" name="gearS" value="S" {% if gearS %}checked{% endif %}>Small
                            <input type="checkbox" name="gearM" value="M" {% if gearM %}checked{% endif %}>Medium/Large
                            <input type="checkbox" name="gearI" value="I" {% if gearI %}checked{% endif %}>Imaging
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit">
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>

<small>
<table width="100%" id="{{ table_id }}" class="dso_table">
<thead>
    <tr class="table-header">
        <th>Name</th>
        {% if not hide_constellation %}<th>Con.</th>{% endif %}
        {% if not hide_type %}<th>Type</th>{% endif %}
        <th>Class</th>
        <th>R.A.</th>
        <th>Dec.</th>
        <th>Alt.</th>
        <th>Az.</th>
        <th>Air</th>
        <th>Mag.</th>
        <th>Surf.</th>
        <th>Size</th>
        <th>Img</th>
        <th>Gear</th>
        <!--th>Obs</th-->
        <th>Last Obs.</th>
    </tr>
</thead>
<tbody>
{% for dso in dso_list %}
    <tr>
        <td>
            <a href="{% url 'dso-detail' dso.id %}" target="_new">{{ dso.label_on_chart }}</a>
            {% if dso.nickname %} - <span class="nickname">{{ dso.nickname }}</span>{% endif %}
            {% if dso.dsoinfield_set.count > 0 %}
            <span class="infield">+{{ dso.dsoinfield_set.count }} in FOV</span>
            {% endif %}
            <br>
            <small>
            {% if dso.alias_list %}{{ dso.alias_list }}{% else %}&nbsp;{% endif %}
            </small>

        </td>
        {% if not hide_constellation %}
        <td><a href="{% url 'constellation-detail' dso.constellation.slug %}" target="_new">{{ dso.constellation.slug }}</a></td>
        {% endif %}
        {% if not hide_type %}
            <td>
                <!--a href="{% url 'object-type-detail' dso.object_type.slug %}" target="_new"-->
                    {{ dso.object_type.short_name }}
                <!--/a-->
            </td>
        {% endif %}
        <td>{{ dso.morphological_type }}</td>
        <td>{{ dso.ra|to_hm:1 }}</td>
        <td>{{ dso.dec|to_dm:1 }}</td>
        <td>{{ dso.altitude|floatformat:2 }}</td>
        <td>{{ dso.azimuth|floatformat:1 }}</td>
        <td>{{ dso.airmass|floatformat:3 }}</td>
        <td>{{ dso.magnitude|floatformat:2 }}</td>
        <td>{{ dso.surface_brightness|floatformat:1}}</td>
        <td>{{ dso.major_axis_size|floatformat:1 }}</td>
        <td>
            {% if dso.is_on_imaging_checklist %} 
                <span hidden>{{ dso.imaging_checklist_priority }} </span>
                <span style="float: left; color: {{ dso.color_imaging_checklist_priority }}">
                    {{ dso.library_image_priority }}
                </span>
                {# dso.num_library_images #}
                {% if dso.library_image_camera %}
                    <span style="float: right;">{{ dso.library_image_camera }}&nbsp;&nbsp;</span>
                {% endif %}
            {% endif %}
        </td>
        <td>
            {{ dso.targetdso.mode_set }}
        </td>
        <!-- td>
            <a href="{% url 'priority-detail' dso.priority %}" target="_new">
                {{ dso.get_priority_display }}</a>

        </td-->
        <td>
            {{ dso.number_of_observations }}
            {% if dso.last_observed %}
                &nbsp;
                <small>
                {% if dso.reimage_flag %}
                <span style="color: #f60;">
                {% elif dso.need_to_image_flag %}
                <span style="color: #0cf;">
                {% else %}
                <span style="color: #fff;">
                {% endif %}
                {{ dso.last_observed|date:'Y-m-d' }}
                </span>
            {% endif %}
            {% if dso.is_on_active_observing_list %}
            🔭
            {% endif %}
            </small>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
</small>
{% include 'includes/sortable_table.html' %}
<br/>

{% endblock %}