{% extends 'base.html' %}
{% block title %}Catalog List: Skytour{% endblock %}
{% block content %}
<h1>Catalog List</h1>
<table id="{{ table_id }}">
<thead>
    <tr class="table-header">
        <th width="25%">Name</th>
        <th width="15%">Abbr.</th>
        <th wifth="10%">Count</th>
        <th width="50%">Description</th>
    </tr>
</thead>
<tbody>
{% for obj in object_list %}
    <tr>
        <td><a href="{% url 'catalog-detail' obj.pk %}">{{ obj.name }}</a></td>
        <td style="text-align: center">{{ obj.abbreviation }}</td>
        <td style="text-align: right; padding-right: 10px;">{{ obj.dso_count }}</td>
        <td><small>{{ obj.description }}</small></td>
    </tr>
{% endfor %}
</tbody>
</table>

{# include 'includes/sortable_table.html' #}
{% endblock %}