{% extends "base.html" %}
{% load skytour_filters %}
{% block styles %}
{% endblock styles %}
{% block title %}{{ object.name }} Catalog: Skytour {% endblock %}
{% block content %}
<style>
    table.catalog_list td { font-size: 14px; }
    table.stats { width: 50%; }
    table.stats td {
        padding: 3px;
        text-align: center;
    }
</style>
<!-- main -->
{# header section #}
<table class="lite">
    <tr>
        <td width="50%">
            <h1>{{ object.abbreviation }}: {{ object.name }}</h1>
            <table class="stats">
                {% with object.observing_stats as x %}
                <tr>
                    <th>Observation Completion</th>
                    <th>#</th><th># Obs.</th><th>%</th></tr>
                <tr>
                    <td>
                    Avail.{% if x.n_available == x.n_total %}/Total{% endif %}
                    </td><td>{{ x.n_available }}</td><td>{{ x.n_obs }}</td><td>{{ x.p_available|floatformat:1}}%</td></tr>
                {% if x.n_available != x.n_total %}
                <tr><td>Total</td><td>{{ x.n_total }}</td><td>{{ x.n_obs }}</td><td>{{ x.p_obs|floatformat:1 }}%</td></tr>
                {% endif %}
                {% endwith %}
            </table>
        </td>
        <td>
            <table class="lite">
            <tr>
            {% for cat in catalog_list %}
            {% if forloop.counter0|divisibleby:3 %}<td>{% endif %}
                <a href="{% url 'catalog-detail' cat.pk %}"><button style="margin: 5px;">{{ cat.name }}</button></a><br/>
            {% if forloop.counter0|modulus:3 == 2 or forloop.last %}</td>{% endif %}
            {% endfor %}
            </tr>
            </table>
        </td>
    </tr>
</table>


{% include 'includes/paginate.html' %}
<h3>{{ object_count }} Objects in List</h3>
<table class="catalog_list" id='{{table_id}}'>
    <tr>
        <th>Object</th>
        <th>Other Catalog</th>
        <th>Name</th>
        <th>Con.</th>
        <th>&alpha; (2000)</th>
        <th>&delta; (2000)</th>
        <th>Type</th>
        <th>Mag</th>
        <th>Size</th>
        <th>S.Br.</th>
        <th>Pri.</th>
        <th># Obs.</th>
        <th>Last Obs.</th>
    </tr>
    
    {% for cat_object in object_list %}
    {% with cat_object.dso as thing %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td style="text-align: right;">
            <a href="{% url 'dso-detail' thing.pk %}">{{ cat_object.in_catalog|safe }}
                {% if object.slug == 'bayer' or object.slug == 'flamsteed' %}
                {{ thing.constellation.abbreviation }}
                {% endif %}
            </a>
        </td>
        <td>{% if thing.catalog != object %}
               {{ thing.shown_name }}
            {% else %}
                {{ thing.alias_list }}
            {% endif %}
        </td>
        <td>{% if thing.nickname %}{{ thing.nickname }}{% endif %}</td>
        <td>{{ thing.constellation.abbreviation }}</td>
        <td>{{ thing.ra_text }}</td>
        <td>{{ thing.dec_text }}</td>
        <td>{{ thing.object_type.short_name }}</td>
        <td>{{ thing.magnitude }}</td>
        <td>{{ thing.angular_size }}</td>
        <td>{{ thing.surface_brightness|floatformat:1}}</td>
        <td>{{ thing.priority }}</td>
        <td>{{ thing.number_of_observations }}</td>
        <td>{% if thing.last_observed %}{{ thing.last_observed|date:"Y-m-d H:i" }} UT{% endif %}</td>
    </tr>
    {% endwith %}
    {% endfor %}
</table>
{% include 'includes/sortable_table.html' %}
{% include 'includes/paginate.html' %}
{% endblock content %}
