{% extends "base.html" %}
{% load skytour_filters %}
{% block styles %}
{% endblock styles %}
{% block title %}{{ object.name }} Catalog: Skytour {% endblock %}
{% block content %}
<style>
    table.catalog_list td { font-size: 14px; }
    table.stats { width: 70%; }
    table.stats td {
        padding: 3px;
        text-align: center;
    }
    span.light_yellow { color: #ff6; font-weight: bold;  }
</style>
<!-- main -->
{# header section #}
<table class="lite">
    <tr>
        <td width="25%">
            <h1>{{ object.abbreviation }}: {{ object.name }}</h1>
        </td>
        <td>
            <table class="lite">
            <tr>
            {% for cat in catalog_list %}
            {% if forloop.counter0|divisibleby:4 %}<td>{% endif %}
                <a href="{% url 'catalog-detail' cat.pk %}"><button style="margin: 5px;">{{ cat.name }}</button></a><br/>
            {% if forloop.counter0|modulus:4 == 3 or forloop.last %}</td>{% endif %}
            {% endfor %}
            </tr>
            </table>
        </td>
    </tr>
</table>
<table class="lite">
    <tr>
        <td>
            <table class="stats">
                {% with object.observing_stats as x %}
                <tr>
                    <th>Observation Completion</th>
                    <th>#</th><th># Obs.</th><th>%</th><th># Imaged</th><th>%</th></tr>
                <tr>
                    <td>
                        Avail.{% if x.n_available == x.n_total %}/Total{% endif %}
                    </td>
                    <td>{{ x.n_available }}</td>
                    <td>{{ x.n_obs }}</td>
                    <td>{{ x.p_available|floatformat:1}}%</td>
                    <td>{{ x.n_imaged }}</td>
                    <td>{{ x.p_img_available|floatformat:1}}%</td>
                </tr>
                {% if x.n_available != x.n_total %}
                <tr>
                    <td>Total</td>
                    <td>{{ x.n_total }}</td>
                    <td>{{ x.n_obs }}</td>
                    <td>{{ x.p_obs|floatformat:1 }}%</td>
                    <td>{{ x.n_imaged }}</td>
                    <td>{{ x.p_imaged|floatformat:1 }}%</td>
                </tr>
                {% endif %}
                {% endwith %}
            </table>
        </td>
        <td>
            <br>
            <b>Filters:</b>
            <form request="GET" action="">
                &nbsp;&nbsp;<input name="seen" type="checkbox">Seen
                &nbsp;&nbsp;<input name="unseen" type="checkbox">Unseen
                &nbsp;&nbsp;<input name="important" type="checkbox">Important
                &nbsp;&nbsp;<input name="available" type="checkbox">Available
                &nbsp;&nbsp;<input name="imaged" type="checkbox">Imaged
                &nbsp;&nbsp;<input name="unimaged" type="checkbox">Unimaged

                &nbsp;&nbsp;<input type="submit" value="Filter">
            </form>
        </td>
    </tr>
</table>


{% include 'includes/paginate.html' %}
<h3>{{ object_count }} Objects in List</h3>
<table class="catalog_list" id='{{ table_id }}'>
    <tr>
        <th>Object</th>
        <th>Other Catalog</th>
        <th>Con.</th>
        <th>Cum.</th>
        <th>&alpha; (2000)</th>
        <th>&delta; (2000)</th>
        <th>Type</th>
        <th>Mag</th>
        <th>Size</th>
        <th>S.Br.</th>
        <th>Pri.</th>
        <th># Obs./Img.</th>
        <th>Last Obs.</th>
    </tr>
    
    {% for cat_object in object_list %}
    {% with cat_object.dso as thing %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td style="text-align: right;">
            <a href="{% url 'dso-detail' thing.pk %}">{{ cat_object.in_catalog|safe }}
                {% if object.slug == 'bayer' or object.slug == 'flamsteed' %}
                {{ thing.constellation.abbreviation }}
                {% endif %}
            </a>
        </td>
        <td>
            {% if thing.nickname %}
                <span style="color: #ff6;">{{ thing.nickname }}</span>
                <br>
            {% endif %}
            {% if thing.catalog != object %}
                <i><small>{{ thing.shown_name }}</small></i>
            {% elif thing.alias_list %}
                <i><small>{{ thing.alias_list }}</small></i>
            {% endif %}

        </td>
        <td>{{ thing.constellation.abbreviation }}</td>
        <td>{{ thing.opposition_date|date:"M d"}}
        <td>{{ thing.ra_text }}</td>
        <td>{{ thing.dec_text }}</td>
        <td>{{ thing.object_type.short_name }}</td>
        <td>{{ thing.magnitude }}</td>
        <td>{{ thing.angular_size }}</td>
        <td>{{ thing.surface_brightness|floatformat:1}}</td>
        <td>
            {{ thing.priority }}
            {% if thing.is_on_imaging_checklist %} 
            &nbsp; 
            <span style="float: right; color: {{ thing.color_imaging_checklist_priority }}">
            {{ thing.library_image_priority }}
            </span>
        {% endif %}
        </td>
        <td>
            {{ thing.number_of_observations }} 
            / {{ thing.num_library_images }} 
            {% if thing.library_image_camera %}
            <span style="float: right;">{{ thing.library_image_camera }}&nbsp;&nbsp;</span>
            {% endif %}
        </td>
        <td>
            {% if thing.last_observed %}
                &nbsp;
                <small>
                {% if thing.reimage_flag %}
                    <span style="color: #f60;">
                {% elif thing.need_to_image_flag %}
                    <span style="color: #0cf;">
                {% else %}
                    <span style="color: #fff;">
                {% endif %}
                {{ thing.last_observed|date:'Y-m-d H:i' }} UT
                </span>
                </small>
            {% endif %}
        </td>
    </tr>
    {% endwith %}
    {% endfor %}
</table>
{% include 'includes/sortable_table.html' %}
{% include 'includes/paginate.html' %}
{% endblock content %}
