{% extends 'base.html' %}
{% block title %}Constellation List: Skytour{% endblock %}
{% block content %}
<style>
    td.number { width: 4.5em; text-align: right; padding-right: 5px; }
    th { background-color: #996; color: #000; }
</style>
<h1>Constellation List</h1>
<table id="{{ table_id }}">
    <thead>
        <tr>
            <th>Name</th>
            <th>Abbr.</th>
            <th>Atlas Plate List</th>
            <th>DSO Count</th>
            <th>DSO In Field</th>
            <th>DSO Total</th>
            <th>DSO Imaged</th>
        </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
        <tr class="even">
            <td><a href="{% url 'constellation-detail' obj.slug %}">{{ obj.name }}</a></td>
            <td style="text-align: center">{{ obj.slug }}</td>
            <td><small>{{ obj.atlas_plate_list}}</small></td>
            <td class="number">
                {{ obj.dso_count }}
            </td>
            <td class="number">
                {{ obj.dso_in_field_count }}
            </td>
            <td class="number">
                {{ obj.dso_count|add:obj.dso_in_field_count }}
            </td>
            <td>
                {% if obj.count_dsos_with_library_images > 0 %}
                <a href="{% url 'library-by-constellation' obj.abbreviation %}">
                    <button>Image Gallery ({{ obj.count_dsos_with_library_images }} DSOs)</button>
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'includes/sortable_table.html' %}
{% endblock %}