{% extends 'base.html' %}
{% block title %}Constellation List: Skytour{% endblock %}
{% block content %}
<style>
    td.number { width: 4.5em; text-align: right; padding-right: 5px; }
    th { background-color: #996; color: #000; }
</style>
<h1>Constellation List</h1>
<table id="{{ table_id }}">
    <thead>
        <tr>
            <th width="11%">Name</th>
            <th width="13%">Genitive</th>
            <th width="4%">Abbr.</th>
            <th width="14%">Meaning</th>
            <th width="45%">Atlas Plate List</th>
            <th width="2%">DSO <small>Count</small></th>
            <th width="2%">DSO <small>Field</small></th>
            <th width="2%">DSO <small>Total</small></th>
            <th width="6%">DSO <small>Imaged</small></th>
        </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
        <tr class="even">
            <td><a href="{% url 'constellation-detail' obj.slug %}">{{ obj.name }}</a></td>
            <td>{{ obj.genitive }}</td>
            <td style="text-align: center">{{ obj.slug }}</td>
            <td>{{ obj.translation }}</td>
            <td><small>{{ obj.atlas_plate_list}}</small></td>
            <td class="number">
                {{ obj.dso_count }}
            </td>
            <td class="number">
                {{ obj.dso_in_field_count }}
            </td>
            <td class="number">
                {{ obj.dso_count|add:obj.dso_in_field_count }}
            </td>
            <td>
                {% if obj.count_dsos_with_library_images > 0 %}
                <a href="{% url 'library-by-constellation' obj.abbreviation %}">
                    <button>{{ obj.count_dsos_with_library_images }} DSOs</button>
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'includes/sortable_table.html' %}
{% endblock %}