{% extends "base.html" %}
{% load skytour_filters humanize %}
{% block title %}{{ object.name }}: Skytour{% endblock %}
{% block content %}
<style>
    h1, h2 { color: #fc3; }
    table.constellation-header td { padding: 0 10px 0 10px; }
    td.number { text-align: right; }
    img { display: block; }
    #constellation_stars th { background-color: #996; color: #000; }
    button.op { width: 15em; height: 3em; font-weight: bold; background-color: #c60; color: #ff0; }
    button.op a { color: #000; text-decoration: none;}
    span.hidden { display:none; } 
    span.flags { font-size: 120%; color: #9ff;}
</style>
<a name="section-top"></a>
<table class="constellation-header">
    <tr>
        <td colspan=2>
            <h1>{{ object.abbreviation }}: {{ object.name }}</h1>
            <p>
                <h4><i>{{ object.genitive }}</i></h4>
                {% if object.has_wiki == 'WIKI' %}
                <button onclick="return realtimePopup('/constellation/wiki/{{ object.slug }}')" class="op">
                    Wiki Entry
                </button>
                {% else %}
                <span class="boxed">{{ object.has_wiki_text }}</span>
                {% endif %}
                <a href="#section-active-vars"><button class="op">Active Variable Stars &nbsp;&nbsp;  ⬇️</button></a>
                <a href="#section-dso"><button class="op">DSOs &nbsp;&nbsp; ⬇️</button></a>
                <a href="#section-stars"><button class="op">Bright Stars &nbsp;&nbsp;  ⬇️</button></a>
            </p>
            <p>
                <a href="/admin/utils/constellation/{{ object.pk }}/change">Admin</a>
            </p>
        </td>
        <td style='vertical-align: top;'>
            <h2>Atlas Plates</h2>
            {% for p in object.atlasplate_set.all %}
            <a href="{% url 'atlas-detail' p.plate_id %}">{{ p.plate_id }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </td>
        <td style='vertical-align: top;'>
            <h2>Bordering Constellations</h2>
            {% for c in object.neighbors.all %}
           <a href="{% url 'constellation-detail' c.slug %}"> <button>{{ c.name }}</button></a>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td style="text-align:center; vertical-align: top;" width="70%" colspan=2>
            {% if object.reverse_map %}            
            <img src="/media/{{ object.reverse_map }}" style="width: 100%; display: block; ">
            {% if object.reverse_other_map %}<img src="/media/{{ object.reverse_other_map }}" style="width: 100%; display: block;">{% endif %}
            {% else %}
            <img src="/media/{{ object.map }}" style="width: 100%; display: block; ">
            {% if object.other_map %}<img src="/media/{{ object.other_map }}" style="width: 100%; display: block;">{% endif %}
            {% endif %}
        </td>
        <td colspan=2 style="vertical-align: bottom;">
            <img src="/media/{{ object.historical_image }}" style="width: 100%; display: block;">
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <h2>Description</h2>
            {{ object.description|safe }}
        </td>
    </tr>
</table>

{% if planets %}
{% with section='Planets' object_list=planets detail_url='planet-detail' %}
{% include 'inc_solsystem_objects.html' %}
{% endwith %}
{% endif %}

{% if asteroids %}
{% with section='Asteroids' object_list=asteroids detail_url='asteroid-detail' %}
{% include 'inc_solsystem_objects.html' %}
{% endwith %}
{% endif %}

{% if comets %}
{% with section='Comets' object_list=comets detail_url='comet-detail' %}
{% include 'inc_solsystem_objects.html' %}
{% endwith %}
{% endif %}

<a name="section-active-vars">
<h2>Active Variable Stars</h2>
<a href="#section-top"><button class="op">Back to Top ⬆️</button></a>
{% with table_id='constellation_variables' %}
{% include 'includes/var_table.html' %}
{% endwith %}
<a name="section-dso"></a>
<h2>DSOs</h2>
<a href="#section-top"><button class="op">Back to Top ⬆️</button></a>

{% with table_id='constellation_dso' %}
{% include 'includes/dso_table.html' %}
{% endwith %}

<a name="section-stars"></a>
<h2>Bright Stars</h2>
<a href="#section-top"><button class="op">Back to Top ⬆️</button></a>

<table id="constellation_stars">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>HR</th>
            <th>HD</th>
            <th>&alpha;</th>
            <th>&delta;</th>
            <th>Mag</th>
            <th>Spectral Type</th>
            <th>Flags</th>
        </tr>
    </thead>
    <tbody>
        {% for star in bright_stars %}
        <tr>
            <td>
                <span class="hidden">{{ star.name_sort_key }}</span>
                {% if star.printable_name %}
                {{ star.printable_name }}
                {% endif %}
            </td>
            <td>{% if star.proper_name %}{{ star.proper_name }}{% endif %}</td>
            <td class="number">
                <a href="{% url 'bright-star-detail' star.hr_id %}">
                {{ star.hr_id }}</a>
            </td>
            <td class="number">{{ star.hd_id }}</td>
            <td>{{ star.ra|to_hms:1 }}</td>
            <td>
                <span class="hidden">{{ star.dec|sortable_angle }}</span>
                {{ star.dec|to_dms:0 }}
            </td>
            <td>{{ star.magnitude|floatformat:2 }}</td>
            <td>{{ star.spectral_type }}</td>
            <td>
                <span class="flags">{{ star.flags_html|safe }}</span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
    $('#constellation_stars').DataTable( {
        columnDefs: [ 
            { targets: 6, orderData: [ 6, 1 ] }, 
            { targets: 0, orderData: [ 0, 1 ] }, 
            { targets: 1, orderData: [ 1, 0 ] } 
        ],
        paging: false
    } );
} );

</script>
{% endblock content %}
