{% extends "base.html" %}
{% load skytour_filters %}
{% block styles %}
{% endblock styles %}
{% block title %}{{ object.name }} Library Images: Skytour {% endblock %}
{% block content %}
<style>
    table.library_image_list td { font-size: 14px; }
    table.library_image_list td h3 { margin-top: 0; }
    img.library_image { display: block; max-width:400px; }
    span.nickname { color: #ff9; font-style: italic; margin-botton: 2px; }
    span.label { color: #999; }
    span.value { font-size: 90%; }
    div.object_header { margin-bottom: 2px; }
    div.object_type { margin-top: 2px; }
    h3 { margin-bottom: 3px; }
</style>
<!-- main -->
{# header section #}

<h1>Library Images</h1>

<h2>Filter by Object Type</h2>
<table>
    <tr>
        <td><b>Galaxies:</b></td>
        <td class="click"><a href="{% url 'library-by-type' 'galaxy' %}">All</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'galaxy--spiral' %}">Spirals</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'barred-spiral' %}">Barred</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'dwarf-galaxy' %}">Dwarf</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'irregular-galaxy' %}">Irregular</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'galaxy--elliptical' %}">Elliptical</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'galaxy--lenticular' %}">Lenticular</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'seyfert-galaxy' %}">Seyfert</a></td>
    </tr>
    <tr>
        <td><b>Nebulae:</b></td>
        <td class="click"><a href="{% url 'library-by-type' 'nebula' %}">All</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'nebula--emission' %}">Emission</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'reflection-nebula' %}">Reflection</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'diffuse-nebula' %}">Diffuse</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'dark-nebula' %}">Dark</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'planetary-nebula' %}">Planetary</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'interstellar-matter' %}">Interstellar</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'supernova-remnant' %}">SN Remnant</a></td>
    </tr>
    <tr>
        <td><b>Clusters:</b></td>
        <td class="click"><a href="{% url 'library-by-type' 'cluster' %}">All</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'open-cluster' %}">Open</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'globular-cluster' %}">Globular</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'stellar-association' %}">Association</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'asterism' %}">Asterism</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'cluster-nebulosity' %}">w/ Nebulosity</a></td>
        <td></td><td></td>
    </tr>
    <tr>
        <td><b>Solar System:</b></td>
        <td class="click"><a href="{% url 'library-by-type' 'solar-system' %}">All</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'planet' %}">Planet</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'asteroid' %}">Asteroid</a></td>
        <td class="click"><a href="{% url 'library-by-type' 'comet' %}">Comet</a></td>
        <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="7"><a href="{% url 'library-image-list'%}">All Object Types</a></td>
    </tr>
</table>
<br><br>
{% include 'includes/paginate.html' %}
<h3>Images {{ page_obj.start_index}} to {{ page_obj.end_index }} of {{ image_list_count }} Images for {{ object_count }} Objects in List</h3>
<table class="library_image_list" id='{{ table_id }}'>
    {% for image in image_list %}
    {% with image.object as object %}
    {% if forloop.counter0|divisibleby:3 %}<tr>{% endif %}
    <td width="33%">
        <a href="{{ image.image.url }}" target="_blank"><img src="{{ image.image.url }}" class="library_image"></a>
        <br>
        <table>
            <tr>
                <td width="60%">
                    <div class="object_header">
                        <h3>
                            <a href="{% url object.detail_view object.instance_id %}" target="_blank">
                                {% if object.object_class == 'dso' %}
                                {{ object.shown_name }}
                                </a>
                                &nbsp;
                                <span class="value">in {{ object.constellation.abbreviation }}</span>
                                {% else %}
                                {{ object.name }}
                                </a>
                                {% endif %}
                        </h3>
                        {% if object.nickname %}
                            <span class="nickname">{{ object.nickname }}</span>
                        {% endif %}
                        <br>
                        {% if object.object_class == 'dso' %}
                            {{ object.object_type.short_name }}
                            {% if object.morphological_type %}: 
                                <span type="value">{% if object.object_type.slug == 'globular-cluster' %}Class&nbsp;{% endif %}
                                {{ object.morphological_type }}</span>
                            {% endif %}
                        {% elif object.object_class == 'comet' %}
                            Comet
                        {% elif object.object_class == 'asteroid' %}
                            {% if object.number != 134340 %}
                            Asteroid <span class="value">({{ object.number }})</span>
                            {% else %}
                            Dwarf Planet
                            {% endif %}
                        {% endif %}
                    </div>
                    <br/>
                    <span class="label">Date:</span>
                    <span class="value">{{ image.ut_datetime|date:'d-M-Y h:m' }} UT</span>
                    <br>
                    <span class="label">Exposure:</span> 
                    <span class="value">{{ image.exposure }} min</span>
                </td>
                <td  width="40%" class="topalign">
                    {% if object.object_class == 'dso' %}
                    <span class="label">Mag:</span>
                    <span class="value">{{ object.magnitude }}</span>
                    <br/>
                    <span class="label">Ang Size:</span>
                    <span class="value">{{ object.angular_size }}</span>
                    <br/>
                    <span class="label">Surf Br:</span>
                    <span class="value">{{ object.surface_brightness }}</span>
                    <br/>
                    <span class="label">CI:</span> 
                    <span class="value">{{ object.contrast_index }}</span>
                    <br/>
                    <br/>
                    <span class="label">Dist:</span>
                    <span class="value">{{ object.distance }} {{ object.distance_units }}</span>
                    <br/>
                    {% endif %}
                </td>
            </tr>
        </table>
    </td>  
    {% if forloop.counter|divisibleby:3 %}</tr>{% endif %}
    {% endwith %}
    {% endfor %}
    </tr>
</table>
{% include 'includes/paginate.html' %}
{% endblock content %}
