{% extends "base.html" %}
{% load skytour_filters %}
{% block styles %}
{% endblock styles %}
{% block title %}
    {% if use_title %}{{ use_title }}
    {% else %}{{ object.name }} Library Images: Skytour
    {% endif %}
{% endblock %}
{% block content %}
<style>
    table.library_image_list td { font-size: 14px; }
    table.library_image_list td h3 { margin-top: 0; }
    div.library_image { height: 400px; }
    div.dso_metadata { border: 1px solid #cccccc; vertical-align: top; }
    img.library_image { display: block; width: 100%; max-width: 600px; max-height: 380px;}
    td.library_image_cell { height: 320px; }
    td.topalign { vertical-align: top; }
    span.nickname { color: #ff9; font-style: italic; margin-bottom: 2px; }
    span.label { color: #999; }
    span.value { font-size: 90%; }
    div.object_header { margin-bottom: 2px; }
    div.object_type { margin-top: 2px; }
    h3 { margin-bottom: 3px; }
    span.special_tagline { 
        display: none;
        text-align: center; color: #000; background-color: #fc0; font-style: italic;
        padding: 0 4px 0 4px; position: relative; float: right; margin-right: 4px;
    }
    span.redo_line {
        text-align: center; color: #0cc; font-style: italic;
        padding: 0 4px 0 4px; position: relative; float: right; margin-right: 4px;
    }
    span.admin_link {
        position: relative;
        float: right;
    }
    div.image_caption {
        text-align: left; background-color: #333; 
        padding: 4px; font-size: 80%;
    }
    table.nav {
        height: 2em; 
        background-color: #999!important;;
        border: 1px solid #ccc;
        margin: 5px 0;
        vertical-align: center;
    }
    table.nav td { border: none; }
    table.nav td label { color: #000; font-weight: bold; }
    table.nav td button { 
        float:right; 
        width: 10em; 
        font-weight: bold;
        margin-right: 1em;
    }
    table.nav td input.submit {
        height: 1.5em;
        font-weight: bold;
        width: 10em; 
        margin-left: 20px; 
    }
</style>
<!-- main -->
{# header section #}

<h1>Library Images</h1>
<h2>Catalog: {{ catalog }}</h2>
# Objects: {{ object_count }}
<br># Images: {{ image_list_count }} = {{ image_percent|floatformat:1 }}%
<a name="top"></a>
<br>
<br>
<table class="nav"> 
    <tr>
        <td>
            <form action="" method="GET">
                <label for="catalog_slug">Catalog: </label>
                <select name="catalog_slug">
                    {% for this_cat in catalog_list %}
                    <option value="{{ this_cat.slug }}"{% if this_cat.slug == catalog_slug %} selected{% endif %}>{{ this_cat.name }}</option>
                    {% endfor %}
                </select>

                <select name="scope">
                    <option value="all">Show all Available Objects</option>
                    <option value="seen" selected>Show only Imaged Objects</option>
                </select>

                <input class="submit" type="submit" value="Filter"/>
            </form>
        </td>
        <td class="jump">
            <a href="#bottom"><button class="nav">Jump to Bottom</button></a>
        </td>
    </tr>
</table>

<table class="library_image_list" id='{{ table_id }}'>
    {% for object in object_list %}
    {% if forloop.counter0|divisibleby:4 %}<tr>{% endif %}
    <td width="25%" class="library_image_cell">
        <div class="library_image">
            <a href="{{ object.library_image.image.url }}" 
                target="_blank"><img src="{{ object.library_image.image.url }}" 
                class="library_image"></a>
            <div class="image_caption">{{ object.library_image.caption }}</div>
        </div>
        <br>
        <div class="dso_metadata">
            <table class="dso_metadata">
                <tr>
                    <td width="55%" class="topalign">
                        <div class="object_header">
                            <h3>
                                {# deal with Caldwell 14 being two NGC objects #}
                                {% if catalog_slug == 'caldwell' and object.cid == 14 %}
                                    <a href="{% url 'dso-detail' object.pk %}" target="_blank">C 14</a>
                                    <small> ({{ object.shown_name }})</small>
                                {% else %}
                                    {% if catalog_slug not in no_alias_catalogs and catalog_slug not in no_number_catalogs %}
                                    # {{ object.cid }}:<br>
                                    {% endif %}
                                    <a href="{% url 'dso-detail' object.pk %}" target="_blank">{{ object.shown_name }}</a>
                                {% endif %}
                                &nbsp;<span class="value">in {{ object.constellation.abbreviation }}</span>
                                {% if object.mode_imaging_priority %}
                                    {{ object.mode_imaging_priority_span }}
                                {% endif %}
                                {% if object.num_slideshow_images > 1 %}
                                <span class="special_tagline">SLIDES</span>
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </h3>
                            {% if object.nickname %}
                                <span class="nickname">{{ object.nickname }}</span>
                            {% else %}<br>
                            {% endif %}
                            {% if object.reimage %}
                            <span class="redo_line">REDO</span>
                            {% endif %}
                            <div class="object_type">
                                {{ object.object_type.short_name }}{% if object.morphological_type %}: 
                                    <span type="value">{% if object.object_type.slug == 'globular-cluster' %}Class&nbsp;{% endif %}
                                    {{ object.morphological_type }}</span>
                            {% endif %}
                            </div>
                        </div>
                        <br/>
                        {% if object.library_image %}
                        <span class="label">Date:</span> 
                            <span class="value">{{ object.library_image.ut_datetime|date:'d-M-Y h:m' }} UT</span>
                            <br>
                        <span class="label">Exposure:</span> <span class="value">{{ object.library_image.exposure }} min</span>
                        {% else %}<br/><br/>
                        {% endif %}
                    </td>
                    <td width="45%" class="topalign">
                        <span class="label">Mag:</span> 
                        {% if object.find_magnitude.0 %}
                        <span class="value">{{ object.find_magnitude.0 }}</span>
                        {% endif %}    
                        <br/>
                        <span class="label">Ang. Size:</span> 
                        {% if object.find_angular_size.0 %}
                        <span class="value">{{ object.find_angular_size.0 }}</span>
                        {% endif %}
                        <br/>
                        <span class="label">Surf. Br.:</span> 
                        {% if object.find_surface_brightness.0 %}
                        <span class="value">{{ object.find_surface_brightness.0|floatformat:2 }}</span>
                        {% endif %}
                        <br/>
                        <span class="label">C.I.:</span> 
                        {% if object.contrast_index %}
                            <span class="value">{{ object.contrast_index}}</span>
                        {% endif %}
                        <br/><br/>
                        <span class="label">Dist:</span> 
                        {% if object.find_distance.0 %}
                        <span class="value">
                            {{ object.find_distance.0|floatformat:1 }}
                            &nbsp;
                            {{ object.find_distance.1 }}
                        </span>
                        {% endif %}
                        <br/>
                        <span class="admin_link">
                            {% if object.is_on_active_observing_list %}
                            🔭 &nbsp;
                            {% endif %}
                            {% if object.has_wiki == 'WIKI' %}
                            <button onclick="return realtimePopup('/dso/wiki/{{ object.pk }}')" class="wiki">
                                <b>🅆</b>
                            </button>
                            {% endif %}
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </td>  
    {% if forloop.counter|divisibleby:4 %}</tr>{% endif %}
    {% endfor %}
    </tr>
</table>
<a name="bottom"></a>
<table class="nav">
    <tr>
        <td>
            <a href="#top"><button class="nav">Back to Top</button></a></div>
        </td>
    </tr>
</table>
{% include 'includes/realtime_script.html' %}
{% endblock content %}
