[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
pyyaml = "*"
django-colorfield = "*"
reportlab = "*"
ipython = "*"
django-admin-autocomplete-filter = "*"
matplotlib = "*"
skyfield = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
