[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
pyyaml = "*"
django-colorfield = "*"
reportlab = "==3.6.6"
django-admin-autocomplete-filter = "*"
matplotlib = "*"
skyfield = "*"
pandas = "*"
django-yearlessdate = "*"
ipython = "<8.0.0"
scipy = "*"
django-taggit = "*"
django-ajax-selects = "*"
jsonfield = "*"
requests = "*"
wikipedia-api = "*"
regex = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.9"
