{% extends 'base.html' %}
{% block title %}{{ year|date:"Y" }} Events: Skytour{% endblock %}
{% block content %}
<style>
    h1 { color: #fc0; }
    table.inner td {
        background-color: #069;
        text-align: center;
        width: 16.7%;
    }
    table.inner td a { 
        font-weight: bold;
        color: #fff;
        text-decoration: none;
    }
    table.inner td.admin { 
        text-align: right;
        padding-right: 20px;
        background-color: #333!important;
    }
    table.inner td.admin button { width: 16em; }
    span.helptext { 
        font-size: 85%; 
        color: #fff;
    }
</style>
<table>
    <tr>
        <td>
            <h1> {{ year }} Events</h1>
        </td>
        <td>
            <table class="inner">
            {% for month in months %}
            {% if forloop.counter0|divisibleby:6 %}<tr>{% endif %}
                <td colspan=2>
                    <a href="{% url 'calendar-month' year month.2|lower %}">
                        {{ month.1 }}</a>
                </td>
            {% if forloop.counter|divisibleby:6 %}</tr>{% endif %}
            {% endfor %}
            <tr>
                <td colspan=6 class="admin"></td>
                <td colspan=3 class="admin">
                    <a href="{% url 'calendar-add' %}"><button>Add Event</button></a>
                    <br>
                    <span class="helptext">&nbsp;</span> 
                </td>
                <td colspan=3 class="admin">
                    <a href="/admin/misc/calendar"><button>Admin</button></a>
                    <br>
                    <span class="helptext">
                        <i>(to add/edit items - use with caution)</i>
                    </span>
                </td>
            </tr>
            </table>
        </td>
    </tr>
</table>

{% include 'inc_calendar_table.html' %}
{% endblock %}