{% extends 'base.html' %}
{% block title %}Glossary: Skytour{% endblock %}
{% block content %}
<style>
    .admin { float: right; }
    th { background-color: #996; border: None; color: #000; }
    td.term { vertical-align: top; padding: 10px 5px; border: 1px solid #663; }
    td.content { 
        vertical-align: top; padding 10px 5px; border: 1px solid #663; 
        font-size: 80%;
        line-height: 1.4;
        color: #aaa;
    }
</style>
<h1>Glossary</h1>

<table>
    <tr>
        <th>Term</th>
        <th>
            Description
            <span class="admin"><a href="/admin/misc/glossary/add/"><button>Add New</button></a></span>
        </th>
    </tr>
    {% for obj in object_list %}
    <tr>
        <td width="20%" class="term">
            {{ obj.name }}
            {% if obj.link %}
            <br><br>
            <small>
            <a href="{{ obj.link }}" target="_blank"><button>More Info</button></a>
            </small>
            {% endif %}
        </td>
        <td width="80%" class="content">
            {{ obj.description|safe }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}