<style>
    table.calendar-grid th {
        background-color: #996;
        color: #000;
        text-align: center;
    }
    td.edit-item {
        text-align: center;
    }
    td.edit-item button { width: 5em; }
</style>
<table class="calendar-grid">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time UT</th>
            <th>Type</th>
            <th>Event</th>
            <th>Objects</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ obj.date|date:"F j" }}</td>
            <td>{{ obj.time|date:"H:i" }}</td>
            <td>{{ obj.event_type }}</td>
            <td>{{ obj.title }}</td>
            <td>{{ obj.reference_list }}</td>
            <td class="edit-item">
                <a href="{% url 'calendar-edit' obj.pk %}"><button>✍️ Edit</button></a>
            </td>
        </tr>
        {% endfor %}      
    </tbody>
</table>
