{% extends 'base.html' %}
{% block title %}External Websites: Skytour{% endblock %}
{% block content %}
<style>
    .admin { float: right; }
    th { background-color: #996; color: #000; border: none; }
</style>
<h1>Links to External Websites</h1>

<button onClick='toggleWebSiteAddForm();'>Add Website</button>
{% include 'form_website_create.html' %}

<br/><br/>
<table>
    <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Edit/Delete</th>
    </tr>
    {% for obj in object_list %}
    <tr>
        <td>{{ obj.name }}</td>
        <td>
            <a href="{{ obj.url }}" target="_new">{{ obj.url }}</a>
        </td>
        <td style="text-align: center;">
            <button onClick='popupEditWebsiteForm({{ obj.pk }});'>✏️ Edit</button>
            <button onClick='popupDeleteWebsiteForm({{ obj.pk }});'>⛔️ Delete</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% include 'edit_website_script.html' %}
{% endblock %}