<script>
    const wscreenWidth = window.screen.width;
    const wwindowWidth = 600;
    const wwindowHeight = 360;
    const wrightOffset = 100;
    const wrightPosition = wscreenWidth - wwindowWidth - wrightOffset;
    const wtopOffset = 200;

    function popupEditWebsiteForm(pk) {
        const url = '/misc/website/edit/'+pk;
        newWindow = window.open(
            url,
            'Edit Website on List',
            `height=${wwindowHeight},  width=${wwindowWidth}, `
            + ` left=${wrightPosition}, top=${wtopOffset}, `
            + 'menubar=no,toolbar=no,location=no,status=no',
        );
        if (window.focus) { newWindow.focus() }
        return false;
    }
    function popupDeleteWebsiteForm(pk) {
        const url = '/misc/website/delete/'+pk;
        newWindow = window.open(
            url,
            'Delete from Website List',
            `height=${wwindowHeight},  width=${wwindowWidth}, `
            + ` left=${wrightPosition}, top=${wtopOffset}, `
            + 'menubar=no,toolbar=no,location=no,status=no',
        );
        if (window.focus) { newWindow.focus() }
        return false;
    }
</script>