{% extends "base.html" %}

{% block styles %}
<style>
	body {font-family: Arial, sans-serif; width: 900px}
	h1 { font-weight: bold; font-size: 200%; color: #fff; line-height: 1.2; }
    h2 { margin: 2px 4px 6px 4px; }
	h3 { color: #fff; margin: 8px; }
	p { margin: 3px 6px; }
	td { vertical-align: top; }
	td.object_name { vertical-align: middle; padding-left: 20px; }
	td.description { vertical-align: middle; text-align: center; line-height: 1.1; color: #FFF;}
	img.location_image { max-height: 300px;  max-width: 850px; height: auto; width: auto;}
	img.map_image { max-height: 400px; max-width: 400px; height: auto; width: auto;}
</style>
{% endblock styles %}
{% block title %}Location: {{ object.street_address}} {{ object.city }}: Skytour{% endblock %}
{% block content %}
<table>
<tr>
	<td colspan=2 class="object_header">
		<table width="100%" bgcolor="{{ object.status_color }}" width=100%>
			<tr>
				<td width=75% class="object_name">
					<h1>
                        {% if object.name %}
						{{ object.name }}<br/>
                        {% endif %}
                        {{ object.street_address }}<br/>
                        {{ object.city }}, {{ object.state }}
					</h1>

				</td>
				<td width=20% class="description" rowspan=2>
                    <h3>Distance</h3>
					{{ object.travel_distance }} mi
					<br>
                    <h3>Travel Time</h3>
					{{ object.travel_time }} min
					<br>
					<h3>Status</h3>
					{{ object.status }}
				</td>
			</tr>
		</table>
	</td>
</tr>

<tr>
	<td id="finder" width=50%>
		<h2>Map:</h2>
		{% if object.map_image %}
		<img src="{{ object.map_image.url }}" class="map_image">
		{% else %}
		<br>(No map.)
		{% endif %}
		<a href="https://www.google.com/maps/place/{ object.latitude }%2C{ object.longitude }"><button>Google Map</button></a>
	</td>

	<td id="field_view" width=50%>
		<h2>Earth Image:</h2>
		{% if object.earth_image %}
		<img src="{{ object.earth_image.url }}" class="map_image">
		{% else %}
		<br>(No Earth Image.)
		{% endif %}
	</td>
</tr>

<tr>
	<td id="metadata" colspan=2>
		<table width=100% class="info_box">
			<tr>
				<td rowspan=2><h2>Information:</h2></td>
				<td class="coordinates">Lat: {{ object.latitude }}</td>
				<td class="coordinates">Long: {{ object.longitude }}</td>
				<td>Elevation: {{ object.elevation }} m</td>
			</tr>
			<tr>

				<td>Bortle: {{ object.bortle }}</td>
				<td>SQM: {{ object.sqm }}</td>
				<td>Brightness: {{ object.brightness }} {{ object.distance_units }}</td>
				<td>Limiting Mag: {{ object.limiting_magnitude }}</td>
			</tr>
		</table>
	</td>
</tr>

<tr class="bottom">
	<td id="object_notes" valign="top" colspan=2>
		<h2>Description:</h2>
		{% if object.description %}
		{{ object.description}}
		{% else %}
		<br/><br/><br/><br/><br/><br/><br/>
		{% endif %}
		{% for img in object.locationimage_set.all %}
		<img src="{{ img.image.url }}" class="location_image">
		<br>
		{{ img.description }}
		{% endfor %}
	</td>
</tr>
<tr class="bottom">
	<td>
		<h2>Parking:</h2>
		{{ object.parking }}
	</td>
	<td>
		<h2>Level:</h2>
		{{ object.is_flat }}
	</td>
</tr>
<tr class="bottom">
	<td>
		<h2>Light Sources:</h2>
		{% if object.light_sources %}
		<p>Notes:<br/>{{ object.light_sources }}<br/></p>
		{% else %}
		<p>N:</p>
		<p>E:</p>
		<p>S:</p>
		<p>W:</p>
		<p>Notes:<br/><br/></p>
		{% endif %}
	</td>
	<td>
		<h2>Horizon:</h2>
		{% if object.horizon_blockage %}
		<p>Notes:<br/>{{ object.horizon_blockage }}<br/></p>
		{% else %}
		<p>N:</p>
		<p>E:</p>
		<p>S:</p>
		<p>W:</p>
		<p>Notes:<br/><br/></p>
		{% endif %}
	</td>
</tr>
</table>

{% endblock content %}
