{% extends "base.html" %}
{% block title %}Observing Locations: Skytour{% endblock %}
{% block content %}
<h1>Observing Locations</h1>
<table class="images">
    <tr>
        <td><img src="{{ sqm_plot }}"/></td>
        <td><img src="{{ brightness_plot }}"/></td>
    </tr>
    <tr>
        <td><img src="{{ bortle_plot }}"/></td>
    </tr>
</table>
<br>

{% for key, value in locations.items %}
    <h2>{{ key }} Locations</h2>
    {% with object_list=value table_id=key %}
        {% include 'inc_obs_location.html' %}
    {% endwith %}
{% endfor %}

{% endblock content %}