{% extends "base.html" %}

{% block styles %}
<style>
	td { padding: 10px; vertical-align: top; }
	td.description { padding-top: 20px; line-height: 1.4; }
	.map_image { width: 100%; }
	.location_image { width: 100%; }
</style>
{% endblock styles %}
{% block title %}Location: {{ object.street_address}} {{ object.city }}: Skytour{% endblock %}
{% block content %}

<table width="100%" bgcolor="{{ object.status_color }}">
	<tr>
		<td width=66% class="object_name">
			<h1>
				{% if object.name %}
				{{ object.name }}: 
				{% endif %}
				{{ object.street_address }}
			</h1>
			<h2>{{ object.city }}, {{ object.state }}</h2>

		</td>
		<td width=33% class="description">
			<b>Distance:</b>
			{{ object.travel_distance }} mi
			<br><b>Travel Time:</b>
			{{ object.travel_time }} min
			<br><b>Status:</b>
			{{ object.status }}
			<br><br><a href="/media/{{ object.pdf_form }}" target="_blank"><button>PDF Form</button></a>
			<a href="/admin/observe/observinglocation/{{ object.pk }}/change"><button>Admin</button></a>
		</td>
	</tr>
</table>

<table>
<tr>
	<td id="metadata" colspan=2>
		<table width=100% class="info_box">
			<tr>
				<td rowspan=2><h2>Information:</h2></td>
				<td class="coordinates">Lat: {{ object.latitude }}</td>
				<td class="coordinates">Long: {{ object.longitude }}</td>
				<td>Elevation: {{ object.elevation }} m</td>
			</tr>
			<tr>

				<td>Bortle: {{ object.bortle }} ({{ object.effective_bortle|floatformat:2 }})</td>
				<td>
					SQM: {{ object.sqm }}
					{% if object.mean_obs_sqm.0 %}
					&nbsp; (
						Obs.: {{ object.mean_obs_sqm.0|floatformat:2 }}
						{% if object.mean_obs_sqm.1 %}
							±{{ object.mean_obs_sqm.1|floatformat:2 }}
						{% endif %}
					)
					{% endif %}
				</td>
				<td>Brightness: {{ object.brightness }} {{ object.distance_units }}</td>
				<td>Limiting Mag: {{ object.limiting_magnitude }}</td>
			</tr>
		</table>
	</td>
</tr>

{% if object.observingsession_set.all|length > 0 %}
<tr>
	<td colspan=2>

		<table>
			<tr>
				<td width="50%">
					{% if sqm_plot is not None %}
					<img src="{{ sqm_plot }}">
					{% else %}
					(No SQM observations.)
					{% endif %}
				</td>
				<td>

					<h3>Sessions<h3>
						<table>
						<tr>
							<th>Date</th>
							<th># Obj</th>
							<th>SQM</th>
							<th>Seeing</th>

						</tr>
						{% for session in object.observingsession_set.all %}
						<tr>
							<td><a href="{% url 'session-detail' session.pk %}">{{ session.ut_date }}</td>
							<td>{{ session.number_objects_observed }}</td>
							<td>{{ session.sqm_avg }}</td>
							<td>
								{% if session.seeing_range != 'None' %}
								{{ session.seeing_range }}
								{% endif %}
							</td>
						</tr>
						{% endfor %}
						<table>
				</td>
			</tr>
		</table>
	</td>
</tr>
{% endif %}

<tr class="bottom">
	<td id="object_notes" valign="top" colspan=2>
		<h2>Description:</h2>
		{% if object.description %}
		{{ object.description }}
		{% else %}
		<br/><br/><br/><br/><br/><br/><br/>
		{% endif %}
	</td>
</tr>
<tr class="bottom">
	<td>
		<h2>Parking:</h2>
		{{ object.parking }}
	</td>
	<td>
		<h2>Level:</h2>
		{{ object.is_flat }}
	</td>
</tr>
<tr class="bottom">
	<td width="50%">
		<h2>Light Sources:</h2>
		{% if object.light_sources %}
		<p>Notes:<br/>{{ object.light_sources }}<br/></p>
		{% else %}
		<p>N:</p>
		<p>E:</p>
		<p>S:</p>
		<p>W:</p>
		<p>Notes:<br/><br/></p>
		{% endif %}
	</td>
	<td>
		<h2>Horizon:</h2>
		{% if object.horizon_blockage %}
		<p>Notes:<br/>{{ object.horizon_blockage }}<br/></p>
		{% else %}
		<p>N:</p>
		<p>E:</p>
		<p>S:</p>
		<p>W:</p>
		<p>Notes:<br/><br/></p>
		{% endif %}
	</td>
</tr>
</table>

<table>
	<tr>
		<td id="finder" width=33%>
			<h2>Google Map:</h2>
			{% if object.map_image %}
			<img src="{{ object.map_image.url }}" class="map_image">
			{% endif %}
			<br>
			<a href="https://www.google.com/maps/place/{ object.latitude }%2C{ object.longitude }">
			<button>Google Map</button></a>
		</td>

		<td id="field_view" width=33%>
			<h2>Google Earth Image:</h2>
			{% if object.earth_image %}
			<img src="{{ object.earth_image.url }}" class="map_image">
			{% endif %}
		</td>
		<td id="bortle_map">
			<H2>Sky Brightness Map:</h2>
			{% if object.bortle_image %}
			<img src="{{ object.bortle_image.url }}" class="map_image">
			{% endif %}
		</td>
	</tr>
</table>

{% if object.locationimage_set.all|length > 0 %}
<h2>&nbsp;Location Images:</h2>
<table class="lite">
{% for img in object.locationimage_set.all %}
	<tr><td>
		<img src="{{ img.image.url }}" class="location_image">
		<br>
		{{ img.description|safe }}
	</td></tr>
{% endfor %}
</table>
{% endif %}

{% endblock content %}
