{% extends 'base.html' %}
{% load skytour_filters humanize %}
{% block content %}
<style>
    .plan td {
        vertical-align: top;
        padding: 1em;
    }
    table .inner {
      border: 0;
      padding: 0 0;
    }
    td {
      border: 0; padding: 0 1em; vertical-align: top !important;
    }
details {
  user-select: none;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

summary {
  display: flex;
  cursor: pointer;
  background-color: #666;
  color: #fff;
  padding: 4px 10px;
  margin: 0px 10px 20px 10px;
}

summary::-webkit-details-marker {
  display: none;
}
</style>

<h1>Plan Observations</h1>
<div class="plan_form">
    {% if form %}
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit"/>
    </form>
    {% else %}
    There is no form!
    {% endif %}
</div>

{% if has_plan %}
  <h2>Observing Plan</h2>

  <table class="plan">
      <tr>
          <th>Session</th>
          <th>Almanac</th>
      </tr>
      <tr>
          <td>
              Start: {{ plan.utdt|date:"D Y M d  H:i"}} UT<br/>
              End: {{ plan.utdt_end|date:"D Y M d  H:i"}} UT<br/><br/>
              Julian Date: {{ plan.julian_date|floatformat:5 }}
          </td>
          <td>
              Twilight Ends: {{ plan.twilight_end|date:"D Y M d H:i" }} UT <br/>
              Twilight Begins: {{ plan.twilight_begin|date:"D Y M d H:i" }} UT
          </td>
      </tr>
  </table>

  <h2>Moon</h2>
  {% with plan.moon as object %}
  {% include 'includes/solar_system_object.html' %}
  {% endwith %}

  <h2>Planets</h2>
  {% for planet in plan.planets %}
    <h3>{{ planet.name }} - in {{ planet.observe.constellation.name }}</h3>
    {% with planet as object %}
    {% include 'includes/solar_system_object.html' %}
    {% endwith %}
    <hr/>
  {% empty %}
  <p>No planets visible.</p>
  {% endfor %}
  
  <h2>Targets</h2>
  <details>
    <summary>
      <h3>Highest Priority ({{ plan.targets.highest|length }} DSOs)</h3>
      <span class="icon">👇</span>
    </summary>
    {% with dso_list=plan.targets.highest table_id='highest-dsos' %}
    {% include 'includes/dso_table.html' %}
    {% endwith %}
  </details>

  <details>
    <summary>
      <h3>High Priority ({{ plan.targets.high|length }} DSOs)</h3>
      <span class="icon">👇</span>
    </summary>
    {% with dso_list=plan.targets.high table_id='high-dsos' %}
    {% include 'includes/dso_table.html' %}
    {% endwith %}
  </details>

  <details>
    <summary>
    <h3>Medium Priority ({{ plan.targets.medium|length }} DSOs)</h3>
    <span class="icon">👇</span>
    </summary>
    {% with dso_list=plan.targets.medium table_id='medium-dsos' %}
    {% include 'includes/dso_table.html' %}
    {% endwith %}
  </details>

  <details>
    <summary>
    <h3>Low Priority ({{ plan.targets.low|length }} DSOs)</h3>
    <span class="icon">👇</span>
    </summary>
    {% with dso_list=plan.targets.low table_id='low-dsos' %}
    {% include 'includes/dso_table.html' %}
    {% endwith %}
  </details>
{% endif %}
{% endblock %}