{% extends "base.html" %}

{% block styles %}
<style>
	table.main { border-collapse: collapse; height: 1px; }
	table.main tr { height: 1px; }
	table.main tr:last-child { height: auto; }
	table.main td { padding: 10px; vertical-align: top!important; border: 0px; }
	td.description { padding-top: 20px; line-height: 1.4; }
	td.start { position: relative; }
	.map_image { width: 100%; }
	.location_image { width: 100%; }
	h1 { margin: 0; color: #ccc; }
	h2 { color: #cc9; }
	h4 { color: #cc6; margin: 3px 0px 5px 0px; }
	table.inner th { background-color: #444; color: #fff; border: 0px; text-align: left; }
	table.inner th.header, table.maps th, table.images th { 
		background-color: #222; color: #ff9; border: 0px; padding-left: 3px; 
	}
	table.inner td { 
		padding: 4px 0px 4px 8px; 
		vertical-align: top; 
		border: 0px; 
		background-color: #000; 
	}
	table.session-table th {text-align: center; background-color: #555; }
	button { height: 2em; }
	.bottom { position: absolute; bottom: 5px; left: 5px; width: 100%; }
</style>
{% endblock styles %}

{% block title %}Location: {{ object.street_address}} {{ object.city }}: Skytour{% endblock %}
{% block content %}
<table width="100%" class="main">
	<tr>
		<td width="25%" bgcolor="{{ object.status_color }}" class="start">
			<h1>
				{% if object.name %}
				{{ object.name }}: 
				{% endif %}
				{{ object.street_address }}
			</h1>
			<h2>{{ object.city }}, {{ object.state }}</h2>
			<table class="inner">
				<tr><th colspan=2 class="header">Sessions</th></tr>
				<tr><th># Sessions:</th><td>{{ object.number_of_sessions }}</td></tr>
				{% if object.number_of_sessions > 0 %}
				<tr><th>Last Session:</th><td>{{ object.last_session|date:"Y-M-d" }}</td></tr>
				<tr><th># Days:</th><td>{{ object.days_since_last_session }}</td></tr>
				{% endif %}
			</table>
			<br>
			<div class="xbottom">
				<h4>Operations:</h4>
			<a href="/media/{{ object.pdf_form }}" target="_blank"><button>PDF Form</button></a>
			<a href="{% url 'observing-location-update' object.pk %}"><button>Edit/Update</button></a>
			<button onClick='popupDeleteLocation({{ object.pk }});'>⛔️ Delete</button>
			</div>
		</td>
		<td width="25%">
			<table class="inner">
				<tr><th colspan=2 class="header">Metadata</th></tr>
				<tr><th>Status:</th><td>{{ object.status }}</td></tr>
				<tr><th>Is Default Location:</th><td>{{ object.is_default }}</td></tr>
			</table>
			<br>
			<table class="inner">
				<tr><th colspan=2 class="header">Geographic Metadata</th></tr>
				<tr><th>Latitude:</th><td class="coordinates">{{ object.latitude }}</td></tr>
				<tr><th>Longitude:</th><td class="coordinates">{{ object.longitude }}</td></tr>
				<tr><th>Elevation:</th><td>{{ object.elevation }}</td></tr>
				<tr><th>Distance:</th><td>{{ object.travel_distance }} mi</td></tr>
				<tr><th>Travel Time:</th><td>{{ object.travel_time }} min</td></tr>
			</table>
			<br>
		</td>
		<td width="50%" rowspan="4">
			<table class="inner">
				<tr><th class="header">Azimuthal Sky Brightness</th></tr>
				<tr><td>
					{% if object.azimuthal_map %}
					<a href="{{ object.azimuthal_map.url }}" target="_blank">
					<img src="{{ object.azimuthal_map.url }}" class="map_image"></a>
				</td></tr>
					{% else %}
					(No Azimuthal Brightness Map)
					{% endif %}
					</td>
				</tr>
			</table>
			{% if object.observingsession_set.all|length > 0 %}
			<br><br>
			<table class="inner session-table">
				<tr><th class="header" colspan=5>Observing Sessions</th></tr>
				<tr>
					<th style="width:25%!important;">Date</th>
					<th style="width:15%!important;"># Obj</th>
					<th style="width:20%!important;">SQM</th>
					<th style="width:20%!important;">Bortle</th>
					<th style="width:20%!important;">Seeing</th>
				</tr>
				{% for session in object.observingsession_set.all %}
				<tr>
					<td style="width:25%!important;"><a href="{% url 'session-detail' session.pk %}">{{ session.ut_date }}</td>
					<td style="width:15%!important;">{{ session.number_objects_observed }}</td>
					<td style="width:20%!important;">{{ session.sqm_avg }}</td>
					<td style="width:20%!important;">{{ session.bortle_avg }}</td>
					<td style="width:20%!important;">
						{% if session.seeing_range != 'None' %}
						{{ session.seeing_range }}
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
			{% endif %}
		</td>
	</tr>
	<tr>
		<td colspan=2>
			<table class="inner">
				<tr><th colspan=2 class="header">Sky Brightness Metadata</th></tr>
				<tr><th>Bortle:</th>
					<td>
						{{ object.effective_bortle|floatformat:2 }}
						&nbsp; (
							Obs.: {{ object.mean_obs_bortle.0|floatformat:2 }}
							{% if object.mean_obs_bortle.1 %}
								± {{ object.mean_obs_bortle.1|floatformat:2 }}
							{% endif %}
						)
					</td>
				</tr>
				<tr><th>SQM:</th><td>
					{{ object.sqm }}
					{% if object.mean_obs_sqm.0 %}
					&nbsp; (
						Obs.: {{ object.mean_obs_sqm.0|floatformat:2 }}
						{% if object.mean_obs_sqm.1 %}
							± {{ object.mean_obs_sqm.1|floatformat:2 }}
						{% endif %}
					)
					{% endif %}
				</td></tr>
				<tr><th>Brightness:</th><td>{{ object.brightness }}</td></tr>
				<tr><th>Limiting Mag.:</th><td>{{ object.limiting_magnitude }}</td></tr>
			</table>
		</td>
		<td>

		</td>
	</tr>
	<tr>
		<td colspan=2>
			<table class="inner">
				<tr><th class="header">SQM Measures Plot</th></tr>
				<tr>
					<td>
					{% if sqm_plot is not None %}
					<img src="{{ sqm_plot }}">
					{% else %}
					(No SQM observations.)
					{% endif %}
					</td>
				</tr>
			</table>
			<br><br>
			<table class="inner">
				<tr><th class="header" colspan=2>Site Metadata</th></tr>
				<tr>
					<td width="50%">
					<h4>Description:</h4>
						{% if object.description %}
						{{ object.description }}
						{% else %}
						<br/><br/>
						{% endif %}
					</td>
					<td width="50%">
					<h4>Is Level:</h4>
						{{ object.is_flat }}
					</td>
				</tr>
				<tr><td>
					<h4>Parking:</h4>
						{{ object.parking }}
				</td>
				<td>
					<h4>Light Sources</h4>
						{% if object.light_sources %}
						{{ object.light_sources }}
						{% endif %}
				</td>
				<tr><td colspan=2>
					<h4>Horizon:</h4>
						{% if object.horizon_blockage %}
						<p>Notes:<br/>{{ object.horizon_blockage }}<br/></p>
						{% endif %}
				</td></tr>
			</table>
		</td>
	</tr>
	<tr><td></td><td></td></tr>
</table>

<table class="maps">
	<tr>
		<th>Google Map</th><th>Google Earth Map</th><th>Sky Brightness Map</th>
	<tr>
		<td id="finder" width=33%>
			{% if object.map_image %}
			<img src="{{ object.map_image.url }}" class="map_image">
			{% endif %}
			<br>
			<a href="https://www.google.com/maps/place/{ object.latitude }%2C{ object.longitude }">
			<button>Google Map</button></a>
		</td>
		<td id="field_view" width=33%>
			{% if object.earth_image %}
			<img src="{{ object.earth_image.url }}" class="map_image">
			{% endif %}
		</td>
		<td id="bortle_map">
			{% if object.bortle_image %}
			<img src="{{ object.bortle_image.url }}" class="map_image">
			{% endif %}
		</td>
	</tr>
</table>

{% if object.locationimage_set.all|length > 0 %}
<table class="images">
	<tr><th>Location Images</th></tr>
	<tr><td>
		<table class="lite">
		{% for img in object.locationimage_set.all %}
			<tr><td>
			<img src="{{ img.image.url }}" class="location_image">
			<br>
			{{ img.description|safe }}
			</td></tr>
		{% endfor %}
		</table>
	</td></tr>
</table>
{% endif %}

<script>
    const tscreenWidth = window.screen.width;
    const twindowWidth = 600;
    const twindowHeight = 600;
    const trightOffset = 100;
    const trightPosition = tscreenWidth - twindowWidth - trightOffset;
    const ttopOffset = 200;

    function popupDeleteLocation(pk) {
        const url = `/observing_location/delete/${pk}`;
        newWindow = window.open(
            url,
            'Delete Eyepiece',
            `height=400,  width=500, `
            + ` left=${trightPosition}, top=${ttopOffset}, `
            + 'menubar=no,toolbar=no,location=no,status=no',
        );
        if (window.focus) { newWindow.focus() }
        return false;
    }
</script>

{% endblock content %}
