{% extends 'base.html' %}
{% block content %}

<table>
    <tr>
        <td>
            <h1>SkyMap</h1> 
            Date: {{ utdt|date:"D Y M d  H:i"}} UT</br>
            Location: {{ location.latitude }} Longitude: {{ location.longitude }}
        </td>
        <td>
            <form method="GET">
            {{ form.as_p }}
            <input type="submit" value="Submit"/>
            </form>
            <small>Express date/time in UT.</small><br/>
        </td>
    </tr>
</table>

<img src="{{ skymap }}">

{% comment %}
<h1>Bright Star Catalog</h1>

<table id="bright-star">
<thead>
    <tr>
        <th>HR</th>
        <th>HD</th>
        <th>Name</th>
        <th>R.A.</th>
        <th>Dec.</th>
        <th>Mag.</th>
    </tr>
</thead>
<tbody>
    {% for star in object_list %}
    <tr>
        <td><a href="{% url 'star-detail' star.hr_id %}">{{ star.hr_id }}</a>a</td>
        <td>{{ star.hd_id }}</td>
        <td>{{ star.name }}</td>
        <td>{{ star.ra }}</td>
        <td>{{ star.ded }}</td>
        <td>{{ star.magnitude }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endcomment %}
{% endblock %}