{% load skytour_filters %}
<table>
    <tbody>
        {% if show_moon and url_type == 'planet-detail' %}
        <tr><td><a href="{% url 'moon-detail' %}" target="_blank">Moon</a></td></tr>
        {% endif %}
        {% for object in object_list %}
        <tr>
            <td>
                {% if url_type == 'dso-detail' %}
                <a href="{% url url_type object.pk %}" target="_blank">{{ object.shown_name }}</a> {{ object.object_type }}
                {% elif url_type == 'comet-detail' %}
                {{ object.letter }}: <a href="{% url url_type object.pk %}" target="_blank">{{ object.name }}</a>
                {% else %}
                <a href="{% url url_type object.slug %}" target="_blank">{{ object.name }}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>