{% load skytour_filters %}
<table>
    <tbody>
        {% if show_moon %}
        <tr><td><a href="{% url 'moon-detail' %}">Moon</a></td></tr>
        {% endif %}
        {% for object in object_list %}
        <tr>
            <td>
                {% if url_type == 'dso-detail' %}
                <a href="{% url url_type object.pk %}">{{ object.shown_name }}</a> {{ object.object_type }}
                {% elif url_type == 'comet-detail' %}
                {{ object.letter }}: <a href="{% url url_type object.pk %}">{{ object.name }}</a>
                {% else %}
                <a href="{% url url_type object.slug %}">{{ object.name }}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>