{% extends 'base.html' %}
{% load skytour_filters %}
{% block content %}
<style>
    td.side { font-size: 80%; }
    td.tight { padding: 0 !important; margin: 0 !important; }
</style>

<table>
    <tr>
        <td>
            <h1>SkyMap</h1> 
        </td>
        <td>
            Date: {{ utdt_start|date:"Y-m-d H:i" }} UT<br>
            Sidereal Time: {{ sidereal_time|to_hms }}
        </td>
        <td>
            Location:  {{ location }}<br>
            Latitude:  {{ location.latitude|to_dms }}<br> 
            Longitude: {{ location.longitude|to_dms }}
        </td>
        <td>

        </td>
    </tr>
</table>

<table>
    <tr>
        <td class="tight">
            <img src="{{ skymap }}">
        </td>
        <td class="side">
            <h4> Planets </h4>
            {% if interesting.planets|length > 0 %}
            {% with object_list=interesting.planets url_type='planet-detail' %}{% include 'inc_interesting.html' %}{% endwith %}
            {% else %}
            (No visible planets)
            {% endif %}

            {% if interesting.asteroids|length > 0 %}
            <h4>Asteroids</h4>
            {% with object_list=interesting.asteroids url_type='asteroid-detail' %}{% include 'inc_interesting.html' %}{% endwith %}
            {% endif %}
            
            <h4>DSOs</h4>
            {% with object_list=interesting.dsos url_type='dso-detail' %}{% include 'inc_interesting.html' %}{% endwith %}
            
            {% if interesting.meteor_showers|length > 0 %}
            <h4>Meteor Showers</h4>
                {% for shower in interesting.meteor_showers %}{{ shower.name }}<br>{% endfor %}
            {% endif %}

            {% if interesting.comets|length > 0 %}
            <h4>Comets</h4>
            {% with object_list=interesting.comets url_type='comet-detail' %}{% include 'inc_interesting.html' %}{% endwith %}
            {% endif %}
            
        </td>
    </tr>
</table>
{% endblock content %}