{% extends 'base.html' %}
{% load skytour_filters %}
{% block content %}
<div class="skymap">
<table class="lite splash">
    <tr>
        <td style="vertical-align: top;">
            <h1 style="padding-top: 0">SkyMap</h1> 
        </td>
        <td>
            <table class="lite">
            <tr><td>Date:</td><td>{{ utdt_start|date:"Y-m-d H:i" }} UT</td></tr>
            <tr><td>Local Time:</td><td>{{ local_time_str }}</td></tr>
            <tr><td>Sid. Time:</td><td>{{ sidereal_time|to_hms }}</td></tr>
            </table>
        </td>
        <td>
            <table class="lite">
            <tr><td>Location:</td><td> {{ location }}</td></tr>
            <tr><td>
                Latitude:</td><td>{{ location.latitude|to_dms }}
                    &nbsp;&nbsp;&nbsp;
                Longitude:{{ location.longitude|to_dms }}
            </td></tr>
            <tr><td>Elevation:</td><td>{{ location.elevation }} m ({{ location.elevation_feet|floatformat:0 }} ft)</td></tr>
            </table>
        </td>
        <td>
            <table class="lite">
            <tr><td>SQM:</td><td>{{ location.sqm|floatformat:2 }} <small>mag/arcsec<sup>2</sup></small></td></tr>
            <tr><td>Bortle:</td><td>Class {{ location.bortle }}</td></tr>
            <tr><td>Lim. Mag:</td><td>{{ location.limiting_magnitude }}</td></tr>
            </table>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td class="tight">
            <img src="{{ skymap }}">
        </td>
        <td class="side">

            <h4> Moon and Planets </h4>
            {% if interesting.planets|length > 0 or show_moon %}
            {% with object_list=interesting.planets url_type='planet-detail' %}{% include 'inc_interesting.html' %}{% endwith %}
            {% else %}
            (No visible planets or Moon)
            {% endif %}

            {% if interesting.asteroids|length > 0 %}
            <h4>Asteroids</h4>
            {% with object_list=interesting.asteroids url_type='asteroid-detail' %}{% include 'inc_interesting.html' %}{% endwith %}
            {% endif %}
            
            <h4>DSOs</h4>
            {% with object_list=interesting.dsos url_type='dso-detail' %}{% include 'inc_interesting.html' %}{% endwith %}
            
            {% if interesting.meteor_showers|length > 0 %}
            <h4>Meteor Showers</h4>
                {% for shower in interesting.meteor_showers %}{{ shower.name }}<br>{% endfor %}
            {% endif %}

            {% if interesting.comets|length > 0 %}
            <h4>Comets</h4>
            {% with object_list=interesting.comets url_type='comet-detail' %}{% include 'inc_interesting.html' %}{% endwith %}
            {% endif %}
            
        </td>
    </tr>
</table>
</div>
{% include 'includes/performance_time.html' %}
{% endblock content %}