{% extends 'base.html' %}
{% load skytour_filters %}
{% block title %}Skymap: Skytour{% endblock %}
{% block content %}
<style>
    td.subnav_ut {
        background: #303;
    }
</style>
<div class="skymap">
<table class="lite splash">
    <tr>
        <td style="vertical-align: top;">
            <h1 style="padding-top: 0">SkyMap</h1> 
        </td>
        <td>
            <table class="lite">
            <tr><td>Date:</td><td>{{ shown_datetime|date:"Y-m-d H:i" }} UT</td></tr>
            <tr><td>Local Time:</td><td>{{ local_time_str }}</td></tr>
            <tr><td>Sid. Time:</td><td>{{ sidereal_time|to_hms }}</td></tr>
            </table>
        </td>
        <td>
            <table class="lite">
            <tr><td>Location:</td><td> {{ location }}</td></tr>
            <tr><td>
                Latitude:</td><td>{{ location.latitude|to_dms }}
                    &nbsp;&nbsp;&nbsp;
                Longitude: {{ location.longitude|to_dms }}
            </td></tr>
            <tr><td>Elevation:</td><td>{{ location.elevation }} m ({{ location.elevation_feet|floatformat:0 }} ft)</td></tr>
            </table>
        </td>
        <td>
            <table class="lite">
            <tr><td>SQM:</td><td>{{ location.sqm|floatformat:2 }} <small>mag/arcsec<sup>2</sup></small></td></tr>
            <tr><td>Bortle:</td><td>Class {{ location.bortle }} ({{ location.effective_bortle|floatformat:2 }})</td></tr>
            {% if location.mean_obs_bortle.0 %}
                <tr><td>
                Obs:</td><td>{{ location.mean_obs_bortle.0|floatformat:2 }} 
                    {% if location.mean_obs_bortle.1 %}
                    ± {{ location.mean_obs_bortle.1|floatformat:2 }}
                    {% endif %}
                </td></tr>
            {% endif %}
            <tr><td>Lim. Mag:</td><td>{{ location.limiting_magnitude }}</td></tr>
            </table>
        </td>
    </tr>
</table>


<table>
    <tr>
        <td class="tight">
            <div class="subnav_ut">
            <table>
                <tr>
                    <td class="subnav_ut">
                        <b><span style="color: #ff0;">Reload: &nbsp;</span>
                    {% comment %}
                <a href="/stars/skyview?hours=-4">  <button>-4.0h</button></a>
                <a href="/stars/skyview?hours=-3.5"><button>-3.5h</button></a>
                <a href="/stars/skyview?hours=-3">  <button>-3.0h</button></a>
                <a href="/stars/skyview?hours=-2.5"><button>-2.5h</button></a>
                <a href="/stars/skyview?hours=-2">  <button>-2.0h</button></a>
                <a href="/stars/skyview?hours=-1.5"><button>-1.5h</button></a>
                <a href="/stars/skyview?hours=-1">  <button>-1.0h</button></a>
                <a href="/stars/skyview?hours=-0.5"><button>-0.5h</button></a>&nbsp;&nbsp;
                <a href="/stars/skyview?hours=0">   <button>+0.0h</button></a>&nbsp;&nbsp;
                <a href="/stars/skyview?hours=0.5"> <button>+0.5h</button></a>
                <a href="/stars/skyview?hours=1">   <button>+1.0h</button></a>
                <a href="/stars/skyview?hours=1.5"> <button>+1.5h</button></a>
                <a href="/stars/skyview?hours=2">   <button>+2.0h</button></a>
                <a href="/stars/skyview?hours=2.5"> <button>+2.5h</button></a>
                <a href="/stars/skyview?hours=3">   <button>+3.0h</button></a>
                <a href="/stars/skyview?hours=3.5"> <button>+3.5h</button></a>
                <a href="/stars/skyview?hours=4">   <button>+4.0h</button></a>
                </td></tr>
                <tr>
                    <td>
                    {% endcomment %}
                        <form method="GET" style="display:inline-block;">
                            &nbsp;&nbsp;&nbsp;
                            <label for="hours">Offset: </label>
                            <select name="hours">
                                <option value="0.0">------</option>
                                <option value="-5.0">-5.0</option>
                                <option value="-4.5">-4.5</option>
                                <option value="-4.0">-4.0</option>
                                <option value="-3.5">-3.5</option>
                                <option value="-3.0">-3.0</option>
                                <option value="-2.5">-2.5</option>
                                <option value="-2.0">-2.0</option>
                                <option value="-1.5">-1.5</option>
                                <option value="-1.0">-1.0</option>
                                <option value="-0.5">-0.5</option>
                                <option value="0.0">+0.0</option>
                                <option value="0.5">+0.5</option>
                                <option value="1.0">+1.0</option>
                                <option value="1.5">+1.5</option>
                                <option value="2.0">+2.0</option>
                                <option value="2.5">+2.5</option>
                                <option value="3.0">+3.0</option>
                                <option value="3.5">+3.5</option>
                                <option value="4.0">+4.0</option>
                                <option value="4.5">+4.5</option>
                                <option value="5.0">+5.0</option>
                            </select>
                            &nbsp;&nbsp;&nbsp;
                            <label for="house">House: </label>
                            <input type="checkbox" name="house">
                            &nbsp;&nbsp;&nbsp;
                            <label for="simple">Simple: </label>
                            <input type="checkbox" name="simple">
                            &nbsp;&nbsp;&nbsp;
                            <input type="submit">
                        </form>
                    </td>
                </tr>
            </table>
            <img src="{{ skymap }}">
        </td>
        <td class="side">

            <h4> Moon and Planets </h4>
            {% if interesting.planets|length > 0 or show_moon %}
            {% with object_list=interesting.planets url_type='planet-detail' %}{% include 'inc_interesting.html' %}{% endwith %}
            {% else %}
            (No visible planets or Moon)
            {% endif %}

            <h4>DSOs</h4>
            {% with object_list=interesting.dsos url_type='dso-detail' %}{% include 'inc_interesting.html' %}{% endwith %}
            
            {% if interesting.meteor_showers|length > 0 %}
            <h4>Meteor Showers</h4>
                {% for shower in interesting.meteor_showers %}{{ shower.name }}<br>{% endfor %}
            {% endif %}

            {% if interesting.asteroids|length > 0 %}
            <h4>Asteroids</h4>
            {% with object_list=interesting.asteroids url_type='asteroid-detail' %}{% include 'inc_interesting.html' %}{% endwith %}
            {% endif %}
            

            {% if interesting.comets|length > 0 %}
            <h4>Comets</h4>
            {% with object_list=interesting.comets url_type='comet-detail' %}{% include 'inc_interesting.html' %}{% endwith %}
            {% endif %}
            
        </td>
    </tr>
</table>
</div>
{% include 'includes/performance_time.html' %}
{% endblock content %}