{% load skytour_filters %}
<style>
    span.light-yellow { color: #ffc; font-weight: bold; }
    span.infield { float: right; font-size: 80%; }
    span.nickname { font-style: italic; color: #ff9; }
    table.dso_table tbody th, 
    table.dso_table tbody td { padding: 4px 10px 2px 10px; }
</style>
<small>
<table width="100%" id="{{ table_id }}" class="dso_table">
<thead>
    <tr class="table-header">
        <th>Name</th>
        {% if not hide_constellation %}<th>Con.</th>{% endif %}
        {% if not hide_type %}<th>Type</th>{% endif %}
        <th>Class</th>
        <th>R.A.</th>
        <th>Dec.</th>
        <th>Mag.</th>
        <th>Surf.</th>
        <th>Size</th>
        <th>Img</th>
        <th>Obs</th>
        <th>Mode</th>
        <th>Last Obs.</th>
    </tr>
</thead>
<tbody>
{% for dso in dso_list %}
    <tr>
        <td>
            <a href="{% url 'dso-detail' dso.id %}" target="_new">{{ dso.label_on_chart }}</a>
            {% if dso.nickname %} - <span class="nickname">{{ dso.nickname }}</span>{% endif %}
            {% if dso.dsoinfield_set.count > 0 %}
            <span class="infield">+{{ dso.dsoinfield_set.count }} in FOV</span>
            {% endif %}
            <br>
            <small>
            {% if dso.alias_list %}{{ dso.alias_list }}{% else %}&nbsp;{% endif %}
            </small>

        </td>
        {% if not hide_constellation %}
        <td><a href="{% url 'constellation-detail' dso.constellation.slug %}" target="_new">{{ dso.constellation.slug }}</a></td>
        {% endif %}
        {% if not hide_type %}
            <td>
                <!--a href="{% url 'object-type-detail' dso.object_type.slug %}" target="_new"-->
                    {{ dso.object_type.short_name }}
                <!--/a-->
            </td>
        {% endif %}
        <td>{{ dso.morphological_type }}</td>
        <td>{{ dso.ra|to_hm:1 }}</td>
        <td>{{ dso.dec|to_dm:1 }}</td>
        <td>{{ dso.magnitude|floatformat:2 }}</td>
        <td>{{ dso.surface_brightness|floatformat:1}}</td>
        <td>{{ dso.major_axis_size|floatformat:1 }}</td>
        <td>
            {% if dso.is_on_imaging_checklist %} 
                <span hidden>{{ dso.imaging_checklist_priority }}</span>
                <span style="float: left; color: {{ dso.color_imaging_checklist_priority }}">
                    {{ dso.library_image_priority }}
                </span>
                {# dso.num_library_images #}
                {% if dso.library_image_camera %}
                    <span style="float: right;">{{ dso.library_image_camera }}&nbsp;&nbsp;</span>
                {% endif %}
            {% endif %}
        </td>
        <td>
            <a href="{% url 'priority-detail' dso.priority %}" target="_new">
                {{ dso.get_priority_display }}</a>

        </td>
        <td>
            {{ dso.targetdso.mode_set }}
        </td>
        <td>
            {{ dso.number_of_observations }}
            {% if dso.last_observed %}
                &nbsp;
                <small>
                {% if dso.reimage_flag %}
                <span style="color: #f60;">
                {% elif dso.need_to_image_flag %}
                <span style="color: #0cf;">
                {% else %}
                <span style="color: #fff;">
                {% endif %}
                    {{ dso.last_observed|date:'Y-m-d' }}
                </span>
            </small>
            {% endif %}
            {% if table_id != 'dsos-on-list' and dso.is_on_active_observing_list %}
                &nbsp; ✅
            {% endif %}
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
</small>
{% include 'includes/sortable_table.html' %}
<br/>
