{% load skytour_filters %}
<style>
    span.light-yellow { color: #ffc; font-weight: bold; }
</style>
<small>
<table width="100%" id="{{ table_id }}">
<thead>
    <tr class="table-header">
        <th>Name</th>
        {% if not hide_constellation %}<th>Con.</th>{% endif %}
        {% if not hide_type %}<th>Type</th>{% endif %}
        <th>Class</th>
        <th>R.A.</th>
        <th>Dec.</th>
        <th>Mag.</th>
        <th>Surf.</th>
        <th>Size</th>
        <th> Priority</th>
        <th># Obs/Img</th>
        <th>Last Obs.</th>
    </tr>
</thead>
<tbody>
{% for dso in dso_list %}
    <tr>
        <td>
            <a href="{% url 'dso-detail' dso.id %}" target="_new">{{ dso.shown_name}}</a>
            {% if dso.nickname %} - {{ dso.nickname }}{% endif %}
            {% if dso.ngc_alias %} ({{ dso.ngc_alias }}){% endif %}
        </td>
        {% if not hide_constellation %}
        <td><a href="{% url 'constellation-detail' dso.constellation.slug %}" target="_new">{{ dso.constellation.slug }}</a></td>
        {% endif %}
        {% if not hide_type %}<td><a href="{% url 'object-type-detail' dso.object_type.slug %}" target="_new">{{ dso.object_type.name }}</a></td>{% endif %}
        <td>{{ dso.morphological_type }}</td>
        <td>{{ dso.ra|to_hms:1 }}</td>
        <td>{{ dso.dec|to_dm:1 }}</td>
        <td>{{ dso.magnitude|floatformat:2 }}</td>
        <td>{{ dso.surface_brightness|floatformat:1}}</td>
        <td>{{ dso.major_axis_size|floatformat:1 }}</td>
        <td>
            <a href="{% url 'priority-detail' dso.priority %}" target="_new">
                {{ dso.get_priority_display }}</a>
                {% if dso.is_on_imaging_checklist %} 
                    &nbsp; 
                    <span style="float: right; color: {{ dso.color_imaging_checklist_priority }}">
                    {{ dso.library_image_priority }}
                    </span>
                {% endif %}
        </td>
        <td>
            {{ dso.number_of_observations }} / {{ dso.num_library_images }}
            {% if dso.library_image_camera %}
            <span style="float: right;">{{ dso.library_image_camera }}&nbsp;&nbsp;</span>
            {% endif %}
        </td>
        <td>{% if dso.last_observed %}{{ dso.last_observed|date:'Y-m-d h:i' }} UT{% endif %}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</small>
{% include 'includes/sortable_table.html' %}
<br/>
