<style>
  table.dso-form { font-size: 12px; }
  table.dso-form td, th { height: 40px; }
  table.dso-form td b { color: #fff;  margin-left: 6px; }
  td.submit { background-color: #555; border: 1px solid #fff;  text-align: center; }
  td.submit input { 
    width: 40em; 
    height: 30px; 
    border: 1px solid #900; 
  }
  td.addlist { background-color: #606; text-align: center;  border: 1px solid #c0c; }
  td.addlist button { width: 20em; }
  .helptext { color: #aa7; font-size: 85%; font-style: italic; margin-left: 2em; }
</style>
<form action="" method="GET">
    <table class="dso-form">
        <tr>
            <td colspan=2><b>Name:</b>&nbsp;
              <input size=20 name="search_name"
                {% if search_name %}value="{{ search_name }}"{% endif %}>
                <br><span class="helptext">&nbsp;</span>
            </td>
            <td colspan=2><b>Constellations:</b> &nbsp; 
            <input size="20" name="constellation" 
                {% if constellation %}value="{{ constellation }}"{% endif %}>
                <br><span class="helptext">(Separate abbreviations with commas)</span>
            </td>
            <td colspan=1>
              <b>Obs. Mode: </b>
              <select name="use_mode">
                <option value="I" {% if use_mode == "I" %}selected{% endif %}>Imaging Telescope</option>
                <option value="M" {% if use_mode == "M" %}selected{% endif %}>Medium Telescope</option>
                <option value="S" {% if use_mode == "S" %}selected{% endif %}>Small Telescope</option>
                <option value="B" {% if use_mode == "B" %}selected{% endif %}>Binoculars</option>
                <option value="N" {% if use_mode == "N" %}selected{% endif %}>Naked Eye</option>
              </select>
              <br><span class="helptext">&nbsp;</span>
            </td>
            <td colspan=1>
            <b>Subset: </b>
            <input name="subset" value="observed" type="radio" 
                {% if subset == 'observed' %}checked="checked"{% endif %}>Observed
                &nbsp;&nbsp;
            <input name="subset" value="unobserved" type="radio" 
                {% if subset == 'unobserved' %}checked="checked"{% endif %}>Unobserved
                &nbsp;&nbsp;
            <input name="subset" value="all" type="radio" 
                {% if subset == 'all' %}checked="checked"{% endif %}>Both
            <br><span class="helptext">&nbsp;</span>
            </td>
            <td>
            <b>RA Range: </b>
            <input name="ra_low" 
                {% if ra_low %} value="{{ra_low}}" {% endif %}
                size=5>W to 
            <input name="ra_high" 
                {% if ra_high %} value="{{ra_high}}" {% endif %}
                size=5>E (hours)
              <br><span class="helptext">(Can cross 0h if E < W)
            </td>
        </tr>
        <td colspan=3>
            <b>DSO Type: </b>
            <select name="dso_type">
              <option value="all">----- ( All Types ) -----</option>
              <option value="cluster">            All Clusters</option>
              <option value="cluster--open">      &nbsp;&nbsp;Open Clusters</option>
              <option value="cluster--globular">  &nbsp;&nbsp;Globular Clusters</option>
              <option value="nebula">            All Nebulae</option>
              <option value="nebula--emission">  &nbsp;&nbsp;Emission Nebulae</option>
              <option value="nebula--reflection">&nbsp;&nbsp;Reflection Nebulae</option>
              <option value="nebula--dark">      &nbsp;&nbsp;Dark Nebulae</option>
              <option value="nebula--planetary"> &nbsp;&nbsp;Planetary Nebulae/Supernova Remnant</option>
              <option value="galaxy">             All Galaxies</option>
              <option value="galaxy--spiral">     &nbsp;&nbsp;Spiral Galaxies</option>
              <option value="galaxy--elliptical"> &nbsp;&nbsp;Elliptical Galaxies</option>
              <option value="galaxy--group">      &nbsp;&nbsp;Galaxy Clusters/Compact Groups</option>
              <option value="other">              Other</option>
            </select>
            <br><span class="helptext">&nbsp;</span>
          </td>
          <td colspan=1>
            <b>Redo: </b>
            <select name="redo_flag">
              <option value="any" {% if redo_flag == 'any' %}selected{% endif %}>Any</option>
              <option value="yes" {% if redo_flag == 'yes' %}selected{% endif %}>Yes</option>
              <option value="no" {% if redo_flag == 'no' %}selected{% endif %}>No</option>
            </select>
            <br><span class="helptext">(DSOs tagged with "redo")</span>
          </td>
          <td colspan=1>
            <b>Priority: </b>
            <select name="priority">
              <option value=0 {% if priority == 0 %}selected{% endif %}>All</option>
              <option value=4 {% if priority == 4 %}selected{% endif %}>Highest</option>
              <option value=3 {% if priority == 3 %}selected{% endif %}>High</option>
              <option value=2 {% if priority == 2 %}selected{% endif %}>Medium</option>
              <option value=1 {% if priority == 1 %}selected{% endif %}>Low</option>
            </select>
            <br><span class="helptext">(If a mode is provided; otherwise the current mode)</span>

          </td>
          <td colspan=1>
            <b>Subset: </b>
            <input name="imaged" value="imaged" type="radio" 
                {% if imaged == 'imaged' %}checked="checked"{% endif %}>Has Images
                &nbsp;&nbsp;
            <input name="imaged" value="unimaged" type="radio" 
                {% if imaged == 'unimaged' %}checked="checked"{% endif %}>No Images
                &nbsp;&nbsp;
            <input name="imaged" value="both" type="radio" 
                {% if imaged == 'all' %}checked="checked"{% endif %}>Either
            <br><span class="helptext">(Images are in either Library Image panel)</span>
            </td>            
          <td>
            <b>Dec Range: </b>
            <input name="dec_low" 
            {% if dec_low %} 
              value="{{ dec_low|floatformat:1 }}" 
            {% endif %}
            size=5>° to 
            <input name="dec_high" 
                {% if dec_high %}value="{{ dec_high|floatformat:1 }}" {% endif %}
                size=5>°
            <br><span class="helptext">(Defaults to your location's latitude)</span>
          </td>
        </tr>
        <tr>
            <td colspan=5 class="submit">
              <input type="submit" value="Filter">
            </td>
            <td colspan=2 class="addlist">
              <button onClick='toggleDSOListCreateForm(); return false;'>Create New DSOList</button>
            </td>
          </tr>
    </table>
</form>

{% include 'form_dsolist_create.html' %}