<style>
  table.dso-form { font-size: 12px; }
</style>
<form action="" method="GET">
    <table class="dso-form">
        <tr>
            <td colspan=2><b>Name:</b>&nbsp;
              <input size=20 name="search_name"
                {% if search_name %}value="{{ search_name }}"{% endif %}>
            </td>
            <td colspan=2><b>Constellations:</b> &nbsp; 
            <input size="20" name="constellation" 
                {% if constellation %}value="{{ constellation }}"{% endif %}>
            </td>
            <td colspan=1>
                <b>Priority: </b>
                <select name="priority">
                  <option value=0 {% if priority == 0 %}selected{% endif %}>All</option>
                  <option value=4 {% if priority == 4 %}selected{% endif %}>Highest</option>
                  <option value=3 {% if priority == 3 %}selected{% endif %}>High</option>
                  <option value=2 {% if priority == 2 %}selected{% endif %}>Medium</option>
                  <option value=1 {% if priority == 1 %}selected{% endif %}>Low</option>
                </select>
              </td>
            <td colspan=1>
            <b>Subset: </b>
            <input name="subset" value="observed" type="radio" 
                {% if subset == 'observed' %}checked="checked"{% endif %}>Observed
                &nbsp;&nbsp;
            <input name="subset" value="unobserved" type="radio" 
                {% if subset == 'unobserved' %}checked="checked"{% endif %}>Unobserved
                &nbsp;&nbsp;
            <input name="subset" value="all" type="radio" 
                {% if subset == 'all' %}checked="checked"{% endif %}>Both
            <!--input name="seen" type="checkbox" {% if seen %}checked{% endif %}>Seen<-->  
            </td>
            <td>
            <b>RA Range: </b>
            <input name="ra_low" 
                {% if ra_low %} value="{{ra_low}}" {% endif %}
                size=5>E to 
            <input name="ra_high" 
                {% if ra_high %} value="{{ra_high}}" {% endif %}
                size=5>W (hours)
            </td>
        </tr>
        <td colspan=3>
            <b>DSO Type: </b>
            <input name="dso_type" type="radio" value="all" 
              {% if dso_type == 'all' %}checked="checked"{% endif %}>All 
              &nbsp;&nbsp;
            <input name="dso_type" type="radio" value="cluster" 
              {% if dso_type == 'cluster' %}checked="checked"{% endif %}>Cluster 
              &nbsp;&nbsp;
            <input name="dso_type" type="radio" value="nebula"
            {% if dso_type == 'nebula' %}checked="checked"{% endif %}>Nebula 
              &nbsp;&nbsp;
            <input name="dso_type" type="radio" value="galaxy"
            {% if dso_type == 'galaxy' %}checked="checked"{% endif %}>Galaxy            
          </td>
          <td colspan=1>
            <b>Redo: </b>
            <select name="redo_flag">
              <option value="any" {% if redo_flag == 'any' %}selected{% endif %}>Any</option>
              <option value="yes" {% if redo_flag == 'yes' %}selected{% endif %}>Yes</option>
              <option value="no" {% if redo_flag == 'no' %}selected{% endif %}>No</option>
            </select>
          </td>
          <td colspan=1>
            {% comment %}
            <b>Img. Priority: </b>
            <select name="imaging_priority">
              <option value=0 {% if imaging_priority == 0 %}selected{% endif %}>All</option>
              <option value=4 {% if imaging_priority == 4 %}selected{% endif %}>Highest</option>
              <option value=3 {% if imaging_priority == 3 %}selected{% endif %}>High</option>
              <option value=2 {% if imaging_priority == 2 %}selected{% endif %}>Medium</option>
              <option value=1 {% if imaging_priority == 1 %}selected{% endif %}>Low</option>
            </select>
            {% endcomment %}
            <b>Obs. Mode: </b>
            <select name="use_mode">
              <option value="I" {% if use_mode == "I" %}selected{% endif %}>Imaging Telescope</option>
              <option value="M" {% if use_mode == "M" %}selected{% endif %}>Medium Telescope</option>
              <option value="S" {% if use_mode == "S" %}selected{% endif %}>Small Telescope</option>
              <option value="B" {% if use_mode == "B" %}selected{% endif %}>Binoculars</option>
              <option value="N" {% if use_mode == "N" %}selected{% endif %}>Naked Eye</option>
            </select>
          </td>
          <td colspan=1>
            <b>Subset: </b>
            <input name="imaged" value="imaged" type="radio" 
                {% if imaged == 'imaged' %}checked="checked"{% endif %}>Has Images
                &nbsp;&nbsp;
            <input name="imaged" value="unimaged" type="radio" 
                {% if imaged == 'unimaged' %}checked="checked"{% endif %}>No Images
                &nbsp;&nbsp;
            <input name="imaged" value="both" type="radio" 
                {% if imaged == 'all' %}checked="checked"{% endif %}>Either
            </td>            
          <td>
            <b>Dec Range: </b>
            <input name="dec_low" 
            {% if dec_low %} 
              value="{{ dec_low|floatformat:1 }}" 
            {% endif %}
            size=5>° to 
            <input name="dec_high" 
                {% if dec_high %}value="{{ dec_high|floatformat:1 }}" {% endif %}
                size=5>°
        </tr>
        <tr>
            <td colspan=5>
              <input type="submit" value="Filter">
            </td>
          </tr>
    </table>
</form>