<style>
  h1, h2, h3 { color: #fc6; }
  table.dso-form { font-size: 12px; border: 1px solid #fc6; }
  table.dso-form td, th { height: 40px; background-color: #444; border: 1px solid #c96; }
  table.dso-form td b { color: #fff;  margin-left: 6px; }
  table.dso-form td.submit { background-color: #960; border: 1px solid #fc6;  text-align: center; }
  td.submit input { 
    width: 40em; 
    height: 30px; 
    border: 1px solid #900; 
    font-weight: bold;
  }
  table.dso-form td.addlist { background-color: #930; text-align: center;  border: 1px solid #fc6; }
  table.dso-form td.addlist button { width: 20em; }
  .helptext { color: #aa7; font-size: 85%; font-style: italic; margin-left: 2em; }
</style>
<form action="" method="GET">
    <table class="dso-form">
        <tr>
            <td colspan=2><b>Name:</b>&nbsp;
              <input size=20 name="search_name"
                {% if search_name %}value="{{ search_name }}"{% endif %}>
                <br><span class="helptext">&nbsp;</span>
            </td>
            <td colspan=2><b>Constellations:</b> &nbsp; 
            <input size="20" name="constellation" 
                {% if constellation %}value="{{ constellation }}"{% endif %}>
                <br><span class="helptext">(Separate abbreviations with commas)</span>
            </td>
            <td colspan=1>
              <b>Obs. Mode: </b>
              <select name="use_mode">
                <option value="I" {% if use_mode == "I" %}selected{% endif %}>Imaging Telescope</option>
                <option value="M" {% if use_mode == "M" %}selected{% endif %}>Medium Telescope</option>
                <option value="S" {% if use_mode == "S" %}selected{% endif %}>Small Telescope</option>
                <option value="B" {% if use_mode == "B" %}selected{% endif %}>Binoculars</option>
                <option value="N" {% if use_mode == "N" %}selected{% endif %}>Naked Eye</option>
              </select>
              <br><span class="helptext">&nbsp;</span>
            </td>
            <td colspan=1>
            <b>Subset: </b>
            <input name="subset" value="observed" type="radio" 
                {% if subset == 'observed' %}checked="checked"{% endif %}>Observed
                &nbsp;&nbsp;
            <input name="subset" value="unobserved" type="radio" 
                {% if subset == 'unobserved' %}checked="checked"{% endif %}>Unobserved
                &nbsp;&nbsp;
            <input name="subset" value="all" type="radio" 
                {% if subset == 'all' %}checked="checked"{% endif %}>Both
            <br><span class="helptext">&nbsp;</span>
            </td>
            <td>
            <b>RA Range: </b>
            <input name="ra_low" 
                {% if ra_low %} value="{{ra_low}}" {% endif %}
                size=5>W to 
            <input name="ra_high" 
                {% if ra_high %} value="{{ra_high}}" {% endif %}
                size=5>E (hours)
              <br><span class="helptext">(Can cross 0h if E < W)</span>
            </td>
            <td>
              <b>Min Size: </b>
              <input name="size_min" type="number" min="0" max="999"
                {% if size_min %} value="{{ size_min }}"{% endif %}> 
              <br><span class="helptext">(arcmin)</span>
            </td>
        </tr>
        <td colspan=3>
            <b>DSO Type: </b>
            <select name="dso_type">
              <option value="all">----- ( All Types ) -----</option>
              {% for item in dso_type_items %}
              <option value="{{ item.0 }}" 
                {% if dso_type == item.0 %}selected{% endif %}>
                {{ item.1|safe }}
              </option>
              {% endfor %}
            </select>
            <br><span class="helptext">&nbsp;</span>
          </td>
          <td colspan=1>
            <b>Redo: </b>
            <select name="redo_flag">
              <option value="any" {% if redo_flag == 'any' %}selected{% endif %}>Any</option>
              <option value="yes" {% if redo_flag == 'yes' %}selected{% endif %}>Yes</option>
              <option value="no" {% if redo_flag == 'no' %}selected{% endif %}>No</option>
            </select>
            <br><span class="helptext">(DSOs tagged with "redo")</span>
          </td>
          <td colspan=1>
            <b>Priority: </b>
            <select name="priority">
              <option value=0 {% if priority == 0 %}selected{% endif %}>All</option>
              <option value=4 {% if priority == 4 %}selected{% endif %}>Highest</option>
              <option value=3 {% if priority == 3 %}selected{% endif %}>High</option>
              <option value=2 {% if priority == 2 %}selected{% endif %}>Medium</option>
              <option value=1 {% if priority == 1 %}selected{% endif %}>Low</option>
            </select>
            <br><span class="helptext">(If a mode is provided; otherwise the current mode)</span>

          </td>
          <td colspan=1>
            <b>Subset: </b>
            <input name="imaged" value="imaged" type="radio" 
                {% if imaged == 'imaged' %}checked="checked"{% endif %}>Has Images
                &nbsp;&nbsp;
            <input name="imaged" value="unimaged" type="radio" 
                {% if imaged == 'unimaged' %}checked="checked"{% endif %}>No Images
                &nbsp;&nbsp;
            <input name="imaged" value="both" type="radio" 
                {% if imaged == 'all' %}checked="checked"{% endif %}>Either
            <br><span class="helptext">(Images are in either Library Image panel)</span>
            </td>            
          <td>
            <b>Dec Range: </b>
            <input name="dec_low" 
            {% if dec_low %} 
              value="{{ dec_low|floatformat:1 }}" 
            {% endif %}
            size=5>° to 
            <input name="dec_high" 
                {% if dec_high %}value="{{ dec_high|floatformat:1 }}" {% endif %}
                size=5>°
            <br><span class="helptext">(Defaults to your location's latitude)</span>
          </td>
          <td>
            <b>Mag. Max: </b>
            <input name="mag_max" type="number" min="-9.99" max="19.99"
            {% if mag_max %}value="{{ mag_max }}"{% endif %}><br>&nbsp;
          </td>
        </tr>
        <tr>
            <td colspan=5 class="submit">
              <input type="submit" value="Filter DSOs">
            </td>
            <td colspan=3 class="addlist">
              <button onClick='toggleDSOListCreateForm(); return false;'>Create New DSOList</button>
            </td>
          </tr>
    </table>
</form>

{% include 'form_dsolist_create.html' %}