{% load static skytour_filters %}
<style>
    td.op-dso  { background-color:  #336; }  /* DSO          */
    td.op-sso  { background-color:  #850; }  /* SSO          */
    td.op-ses  { background-color:  #363; }  /* Session      */
    td.op-sky  { background-color:  #636; }  /* Sky          */
    td.op-info { background-color:  #069; }  /* Info         */
    td.op-app  { background-color:  #600; }  /* Application  */
    td.op-site { background-color:  #066; }  /* Site         */
    td.op-set  { background-color:  #222; }  /* Cookie Data  */
    td.logo { background-color: #999; color: #000; font-size: 16px; font-weight: bold; }
    /* topnav */
    table.navbar { background-color: #444; }
    table.navbar table { border: 1px solid black; }
    table.navbar td { 
        text-align: center; 
        vertical-align: middle !important; 
        font-size: 13px; 
    }
    table.navbar th, table.navbar td {
        padding: 5px !important;
        border: 1px solid white; 
    }
    table.navbar a { 
        color: #fff; 
        font-weight: 800; 
        text-decoration: none;
    }
    .dropbtn {
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .dropdown { position: relative; display: inline-block; }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #000;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        text-align: left;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover { background-color: #ccc; color: #000; }
    .show { display: block; }
    td.logo {
        background-color: #000;
        border: 1px solid black!important;
    }
    td.logo img { max-width: 75px; }
</style>
<table width="100%" class="navbar">
    <tr>
        <td rowspan=3 class="logo">
            <img src="{% static 'logos/skytour-v2.jpeg' %}" alt="Skytour V2.0"/>
            <br>
            <a href="{% url 'main-help-page' %}">Help</a>
        </td>
        <td class="click">
            <span onClick="myFunctionHome()" class="dropbtn">Home 🔽</span>
            <div id="myDropdownHome" class="dropdown-content">
                <a href="{% url 'home' %}">Home -- Now</a>
                <a href="{% url 'home' %}?cookie">Home - Cookie</a>
            </div>
        </td>
        <td class="click">
            <span onClick="myFunctionMisc()" class="dropbtn">Misc 🔽</span>
            <div id="myDropdownMisc" class="dropdown-content">
                <a href="{% url 'observing-plan' %}">Plan</a>
                <a href="{% url 'zenith-view' %}">Zenith Finding Chart</a>
                <a href="{% url 'glossary-list' %}">Glossary</a>
                <a href="{% url 'external-website-list' %}">Other Websites</a>
            </div>
        </td>
        <td class="click op-site" colspan=1>
            <a href="{% url 'observing-location-list' %}">Locations</a>
        </td>
        <td class="op-site">
            <a href="{% url 'site-parameter-list' %}">Settings</a>
            &nbsp; | &nbsp;
            <a href="/admin" target="_new"><button>Admin</button></a>
        </td>
        <td colspan=2 class="op-dso">DSOs:  &nbsp;
            <a href="{% url 'dso-list' %}">All</a>
            &nbsp;|&nbsp;
            <a href="{% url 'dso-available-objects' %}">@Now</a>
            &nbsp;|&nbsp;
            <a href="{% url 'dso-available-objects' %}?cookie=on">@Cookie</a>
        </td>
        <td class="op-dso">
            <span onClick="myFunctionDSOList()" class="dropbtn">DSO Lists 🔽</span>
            <div id="myDropdownDSOList" class="dropdown-content">
                <a href="{% url 'dsolist-list' %}">All DSO Lists</a>
                <a href="{% url 'dsolist-active' %}">Active DSO Lists</a>
            </div>
        </td>
        <td class="op-dso">
            <span onClick="myFunctionDSO()" class="dropbtn">DSO Filters 🔽</span>
            <div id="myDropdownDSO" class="dropdown-content">
                <a href="{% url 'dso-checklist' %}">Create DSO List</a>
                <a href="{% url 'dso-filter' %}">Filter All DSOs</a>
                <a href="{% url 'dso-observed' %}">Observed DSOs</a>
            </div>
        </td>
        <td class="op-dso">
            <a href="{% url 'catalog-list' %}">Catalogs</a>
            &nbsp;|&nbsp;
            <a href="{% url 'library-by-catalog' %}">Imaged</a>
        </td>
        <td class="click op-dso"><a href="{% url 'atlas-list' %}">Atlas</a></td>
        <td colspan=2 class="op-dso">
            <form action="/dso/search" method="GET">
                <b>Search DSO:</b>
                <input name="query" size="8">
                &nbsp;&nbsp;
                <input type="submit" value="Search">
            </form>
        </td>
    </tr>
    <tr>
        <td class="click op-info">
            <span onClick="myFunctionCalendar()" class="dropbtn">Calendar  🔽</span>
            <div id="myDropdownCalendar" class="dropdown-content">
                <a href="{% url 'calendar-current' %}">This Month: {% now "M Y" %}</a>
                <a href="{% url 'calendar-month' next_month|date:'Y' next_month|date:'b' %}">
                    Next: {{ next_month|date:"M Y"}}</a>
                <a href="{% url 'calendar-month' previous_month|date:'Y' previous_month|date:'b' %}">
                    Last: {{ previous_month|date:"M Y"}}</a>
            </div>
        </td>
        <td class="click op-sky" colspan="2">
            <span onClick="myFunctionSkyMap()" class="dropbtn">SkyMap  🔽</span>
                <div id="myDropdownSkyMap" class="dropdown-content">
                    <a href="{% url 'skymap-detail' %}">At Cookie Date/Time</a>
                    <a href="{% url 'skymap-detail' %}?utdt_now=on">Now</a>
                    <a href="{% url 'skymap-detail' %}?mask=on">With Location Mask</a>
                    <a href="{% url 'skymap-detail' %}?simple=on">Simple (for Printing)</a>
                    <a href="{% url 'skymap-detail' %}?simple=on&utdt_now=on">Simple (for Printing) - Now</a>
                </div>
        </td>
        <td class="click op-sky"><a href="{% url 'constellation-list' %}">Constellations</a></td>
        <td colspan="2" class="op-sky"><a href="{% url 'library-image-list' %}">Image Library</a></td>
        <td class="click op-sso"><a href="{% url 'planet-list' %}">Planets/Moon</a></td>
        <td class="click op-sso"><a href="{% url 'asteroid-list' %}">Asteroids</a></td>
        <td class="click op-sso"><a href="{% url 'comet-list' %}">Comets</a></td>
        <td class="click op-sso"><a href="{% url 'object-track' %}">Track</a></td>
        <td colspan=3 class="op-ses">Sessions: &nbsp;&nbsp;
            <a href="{% url 'session-list' %}">List</a>
            &nbsp;|&nbsp;
            <a href="{% url 'session-create' %}">Create New</a>
            &nbsp;|&nbsp;
            <a href="{% url 'session-add' %}">Observe</a>
            &nbsp;|&nbsp;
            <a href="{% url 'session-conditions' %}">Conditions</a>
        </td>
    </tr>
    <tr>
        <td colspan="3" class='op-set'>
            <span style="color: #fff; font-weight: bold;">Date:</span>
            <span style="color: #ff0;"><small>{{ utdt_str }}</small></span>
            <br>
            <span style="padding-left: 2.em; color: #ff0;"><small>{{ local_time_str }}</small></span>
        </td>
        <td colspan="3" class="op-set">
            <span style="color: #fff; font-weight: bold;">Location:</span>
            <span style="color: #ff0;">{{ location.name_for_header }}</span>
        </td>
        <td colspan="2" class="op-set">
                <span style="color: #fff;">Latitude: </span>
                <span style="color: #ff0;">{{ location.latitude|to_dms:0 }}</span>
                <br>
                <span style="color: #fff;">Longitude: </span>
                <span style="color: #ff0;">{{ location.longitude|to_dms:0 }}</span>
        </td>
        <td class="op-set">
            <span style="color: #fff;">Mode: </span>
            <span style="color: #ff0;">{{ observing_mode_string }}</span>
        </td>
        <td class="click op-app">
            <a href="{% url 'astro-calc' %}">Calculators</a>
        </td>
        <td class="op-ses">
            Settings:
            <a href="{% url 'session-set' %}"><button>Set Date/Time/Location</button></a>
            &nbsp;&nbsp;|&nbsp;&nbsp; 
            <a href="{% url 'show-cookies' %}">Show Cookie</a>
        </td>
    </tr>
</table>
{% include 'includes/realtime_script.html' %}

<script>
    function myFunctionMisc() {
        document.getElementById("myDropdownMisc").classList.toggle("show");
    }
    function myFunctionHome() {
        document.getElementById("myDropdownHome").classList.toggle("show");
    }
    function myFunctionDSO() {
        document.getElementById("myDropdownDSO").classList.toggle("show");
    }
    function myFunctionDSOList() {
        document.getElementById("myDropdownDSOList").classList.toggle("show");
    }
    function myFunctionSkyMap() {
        document.getElementById("myDropdownSkyMap").classList.toggle("show");
    }
    function myFunctionCalendar() {
        document.getElementById("myDropdownCalendar").classList.toggle("show");
    }
    window.onclick = function(event) {
        if(!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
