<table width="100%" class="navbar">
    <tr>
        <td><a href="{% url 'home' %}">Home</a></td>
        <td><a href="{% url 'observing-session' %}">Plan</a></td>
        <td><a href="{% url 'skymap-detail' %}">SkyMap</a></td>
        <td><a href="{% url 'observing-location-list' %}">Locations</a></td>
        <td><a href="{% url 'constellation-list' %}">Constellations</a></td>
        <td><a href="{% url 'object-type-list' %}">DSO Types</a></td>
        <td><a href="{% url 'priority-list' %}">DSO Priority</a></td>
        <td><a href="{% url 'planet-list' %}">Planets</a></td>
        <td><a href="{% url 'asteroid-list' %}">Asteroids</a></td>
        <td><a href="/admin">Admin</a></td>
    </tr>
</table>
