{% if is_paginated %}
<style>
    table.pagenav { table-layout: fixed; }
    table.pagenav td { 
        background-color: #600;
        text-align: center;
        color: #fff;
    }
    table.pagenav td.sides { width: 20%; }
    table.pagenav td.center { width: 50%; }
    table.pagenav td.extra { 
        width: 10%;
        background-color: #333;
        font-size: 80%;
        color: #999;
    }
</style>

<div class="pagination">
    <span class="page-links">
        <table class="pagenav" style="width: 800px">
            <tr>
                <td class="sides">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><button>Previous Page</button></a>
                {% endif %}
                </td>
                <td class="center">
                    <form action="" method="GET">
                    <span class="page-current">
                        <b>Page 
                            <input name="page" value="{{ page_obj.number }}" size="2">
                            </form>
                            of {{ page_obj.paginator.num_pages }}
                        </b>
                        &nbsp;&nbsp;
                        <input type="submit" value="Jump to Page">
                    </span>
                    </form>
                </td>
                <td class="sides">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><button>Next Page</button></a>
                {% endif %}
                </td>
                {% if total_count %}
                <td class="extra">
                    {{ total_count }} DSOs
                </td>
                {% endif %}
                {% if num_on_page %}
                <td class="extra">
                    {% if num_on_page %}<small># entries on page: {{ num_on_page }}</small>{% endif %}
                </td>
                {% endif %}
            </tr>
            {% if page_error %}<tr><td colspan=3>{{ page_error }}</td></tr>{% endif %}
        </table>
    </span>
</div>
{% endif %}