{% if times %}
{% with times|last as final %}
<h3 style="color: #999;">
    Page Generation Time: 
    {{ final.2|floatformat:2 }} secs
    <button onClick="togglePerformance();"
         style="margin-left: 20px;">Show Details</button>
</h3>
{% endwith %}
<ul class="no_bullets" id="performance-items" style="display:none;">
{% for t in times %}
<li> {{ t.0|floatformat:3 }} = {{ t.1|floatformat:3 }}, ∆ {{ t.2|floatformat:3 }}: {{ t.3 }}</li>
{% endfor %}
</ul>
<script>
    function togglePerformance() {
        var list = document.getElementById("performance-items");
        if (list.style.display === "none") {
            list.style.display = "block";
        } else {
            list.style.display = "none";
        }
    }
</script>
{% endif %}