{% load skytour_filters humanize %}
<style>
    table .inner { border: 0; padding: 0 0; }
    td { border: 0; padding: 0 1em; vertical-align: top !important; }

    table .twocol { border: 0; margin: 0; padding: 0}
    table .twocol td { padding: 0;}
    table th { background-color: #000; }
</style>

<table>
    <tr>
        <th>Location</th>
        <th>Observe</th>
        <th>Almanac</th>
    </tr>
    <tr>
        <td style="vertical-align:top;" width=30%>
            <h5>Coordinates</h5>
            &alpha;: {{ object.apparent.equ.ra_str }}<br/>
            &delta;: {{ object.apparent.equ.dec_str }}
            <h5>Distance</h5>
            AU: {{ object.apparent.distance.au|stringformat:'0.3f' }}<br/>
            km: {{ object.apparent.distance.km|stringformat:'0.1f'|intcomma }}<br/>
            mi: {{ object.apparent.distance.mi|stringformat:'0.1f'|intcomma }}<br/>
            Light Time: {{ object.apparent.distance.light_time_str }}<br/>&nbsp;
        </td>
        <td style="vertical-align:top;" width=30%>
            <h5>Apparent</h5>
            Mag: {{ object.observe.apparent_magnitude|floatformat:2 }}<br>
            Ang Size: {{ object.observe.angular_diameter|to_dms }}<br/>
            <h5>Projection</h5>
            {% if object.observe.lunar_phase %}
            Phase: {{ object.observe.lunar_phase.phase }}<br/>
            Phase Angle: {{ object.observe.lunar_phase.angle|to_dms }}<br/>
            Day: {{ object.observe.lunar_phase.days_since_new_moon|to_dhms }}<br/>
            {% else %}
            Phase Angle: {{ object.observe.phase_angle|to_dms }}<br/>
            {% endif %}
            {% if object.observe.fraction_illumunated %}
            Illum.: {{ object.observe.fraction_illumunated|floatformat:1 }} %</br>
            {% endif %}
            {% if object.observe.elongation %}
            Elongation: {{ object.observe.elongation|to_dms }}<br/>
            {% endif %}
        </td>
        <td style="vertical-align:top;">
            <h5>Rise/Set Events</h5>
            {% for event in object.almanac %}
            {{ event.type }}: 
                {{ event.local_time|get_local_time }} &nbsp;
                <small>({{ event.ut|get_datetime|date:"Y M d  h:i"}} UT)</small><br/>
            {% endfor %}
            <table class="twocol">
                <tr>
                    <td>
                        <h5>Start</h5>
                        Az: {{ object.session.start.azimuth|to_dms }}<br/>
                        Alt: {{ object.session.start.altitude|to_dms }}<br/>
                        Air: {{ object.session.start.airmass|floatformat:2 }}<br/>
                        Up: {{ object.session.start.is_up }}
                    </td>
                    <td>
                        <h5>End</h5>
                        Az: {{ object.session.end.azimuth|to_dms }}<br/>
                        Alt: {{ object.session.end.altitude|to_dms }}<br/>
                        Air: {{ object.session.end.airmass|floatformat:2 }}<br/>
                        Up: {{ object.session.end.is_up }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
  </table>