{% extends "base.html" %}

{% block styles %}
{% endblock styles %}
{% block title %}Observable Asteroids: Skytour{% endblock %}
{% block content %}
<h2>Observable Asteroids</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Coordinates</th>
            <th>Distance</th>
            <th>Constellation</th>
            <th>Magnitude</th>
            <th># Obs.</th>
            <th>Last Observed</th>
        </tr>
    </thead>
    <tbody>
        {% for asteroid in asteroid_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{% url 'asteroid-detail' asteroid.slug %}">{{ asteroid.name }}</a></td>
            <td>
                &alpha;: {{ asteroid.coords.ra_str }} &nbsp;
                &delta;: {{ asteroid.coords.dec_str }}
            </td>
            <td>{{ asteroid.coords.distance.au|floatformat:2 }} AU</td>
            <td>{{ asteroid.observe.constellation.name }}</td>
            <td>{{ asteroid.observe.apparent_mag|floatformat:2 }}</td>
            <td>{{ asteroid.object.number_of_observations }}</td>
            <td>{% if asteroid.object.last_observed %}{{ asteroid.object.last_observed|date:"Y-m-d H:i" }} UT{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
