{% extends "base.html" %}
{% block styles %}
<style>
    td { border: 0; padding: 0 1em; vertical-align: top !important; }
    body { line-height: 1.2; }
    img.constrained { width: 100%; max-width: 500px; }
    td.hvcenter { vertical-align: middle!important; text-align: center!important; }
</style>
{% endblock styles %}
{% block title %}{{ object.name }}: Skytour{% endblock %}
{% block content %}
<table>
    <tr>
        <td width="20%">
            <h1> {{ object.name }}</h1> 
            {% if in_cookie %}
            <h3> Currently in 
                <a href="{% url 'constellation-detail' asteroid.observe.constellation.abbr|upper %}">{{ asteroid.observe.constellation.name }}</a></h3>
            {% endif %}
                <table class="lite">
                <tr><td>Class:</td><td>{{ object.classification }}</td></tr>
                <tr><td>Diameter:</td><td>{{ object.diameter }} km</td></tr>
                <tr><td>Discovered:</td><td>{{ object.year_of_discovery }}<br/><br/></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td># Obs:</td><td>{{ object.number_of_observations }}</td></tr>
                <tr><td>Last Observed:</td><td> 
                    {% if object.last_observed %}{{ object.last_observed|date:"Y-m-d H:i"}}
                    {% else %}(not yet){% endif %}
                </td></tr>
                <tr><td>
                    <a href="/admin/solar_system/asteroid/{{object.pk}}/change" target="_new"><button>Admin</button></a>
                    <a href="{% url 'sso-pdf' 'asteroid' object.slug %}" target="_new"><button>PDF View</button></a>
                    <br>
                    <button onclick="return realtimePopup('/asteroid/real-time/{{ object.slug }}')")>
                        Real Time
                    </button>
                    <button onclick="return realtimePopup('/asteroid/real-time/{{ object.slug }}?utdt_base=cookie')")>
                        Cookie
                    </button>
                </td></tr>
            </table>
        </td>
        <td width="25%" class="hvcenter">
            {% if object.image %}
            <img src="{{ object.image.url }}" class="constrained">
            {% else %}
            No external image
            {% endif %}
        </td>
        <td width="20%">
            <p>{{ object.description|safe }}</p>
        </td>
        {% if library_slideshow|length > 1 %}
        <td width="500px" height="600px" style="position:relative;">
        {% include "includes/library_slideshow.html" %}
        </td>
        {% elif object.library_image %}
        <td width="35%">
            <a href="{{ object.library_image.image.url }}"><img 
                src="{{ object.library_image.image.url }}" class="constrained"></a>
        </td>
        {% else %}
        <td width="35%" class="hvcenter">
            <p>No Image</p>
        </td>
        {% endif %}
    </tr>
</table>

<table>
    <thead>
    <tr>
        <th>Session</th>
        <th>Location</th>
        <th>Observe</th>
        <th>Almanac</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="25%"  style="vertical-align:top;">
            {% include 'inc_date_time.html' %}
            {% include 'inc_location.html' %}
        </td>
        <td width="25%" style="vertical-align:top;">
            {% with asteroid as obj %}
            {% include 'inc_coordinates.html' %}
            {% endwith %}
        </td>
        <td width="25%" style="vertical-align:top;">
            {% with asteroid as obj %}
            {% include 'inc_apparent.html' %}
            {% endwith %}
        </td>

        <td width="25%" style="vertical-align:top;">
        {% with asteroid as obj %}
        {% include 'inc_rise_set.html' %}
        {% endwith %}
        </td>
    </tr>
</table>
<br><br>
<table class="lite">
    <tr>
        <td style="text-align: center;">
            <img src="{{ large_scale_map }}">
        </td>
        <td style="text-align: center;">
            <img src="{{ finder_chart }}">
        </td>
    </tr>
    </tbody>
</table>

{% with instance=object admin_dir='solar_system/asteroid' %}
{% include 'includes/observation_section.html' %}
{% endwith %}

{% endblock content %}
{% block extra-js %}
{% include 'includes/realtime_script.html' %}
{% endblock extra-js %}