{% extends "base.html" %}
{% load skytour_filters %}
{% block styles %}
{% endblock styles %}
{% block title %}Observable Asteroids: Skytour{% endblock %}
{% block content %}
<h2>Observable Asteroids</h2>
<table id="{{ table_id }}">
    <thead>
        <tr>
            <th>Name</th>
            <th>RA</th>
            <th>Dec</th>
            <th>Distance</th>
            <th>Constellation</th>
            <th>Magnitude</th>
            <th># Obs./Images</th>
            <th>Last Observed</th>
        </tr>
    </thead>
    <tbody>
        {% for asteroid in asteroid_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{% url 'asteroid-detail' asteroid.slug %}">{{ asteroid.name }}</a></td>
            <td>{{ asteroid.apparent.equ.ra|to_hms:1 }}</td>
            <td>{{ asteroid.apparent.equ.dec|to_dms:0 }}</td>
            <td>{{ asteroid.apparent.distance.au|floatformat:2 }} AU</td>
            <td>{{ asteroid.observe.constellation.name }}</td>
            <td>{{ asteroid.observe.apparent_magnitude|floatformat:2 }}</td>
            <td>{{ asteroid.n_obs }} / {{ asteroid.num_library_images }}</td>
            <td>{% if asteroid.last_observed %}{{ asteroid.last_observed|date:"Y-m-d H:i" }} UT{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'includes/sortable_table.html' %}
{% endblock content %}
