{% extends "base.html" %}
{% load skytour_filters %}

{% block styles %}
{% endblock styles %}
{% block title %}Observable Comets: Skytour{% endblock %}
{% block content %}
<style>
    table.comet-list th { background-color: #996; color: #000; }
    div.all-comets-link { height: 4em; }
    div.all-comets-link button { width 15em; height: 2.5em; }
    td.wiki { 
        white-space: nowrap; padding: 10px 4px; 
        text-align: center;
    }
    th.wiki { white-space: nowrap; padding: 10px 4px; }
    span.hidden { display: none; }
</style>
<h1>Observable Comets</h1>
<div class="all-comets-link">
    <a href="{% url 'comet-edit-list' %}"><button>See all Comets in DB</button></a>
</div>
<table id="{{ table_id }}" class="comet-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>RA</th>
            <th>Dec</th>
            <th>Distance</th>
            <th>Constellation</th>
            <th>Magnitude</th>
            <th class="wiki">🅆</th>
            <th># Obs.</th>
            <th>Last Obs.</th>
        </tr>
    </thead>
    <tbody>
        {% for comet in comet_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{% url 'comet-detail' comet.pk %}">{{ comet.name }}</a></td>
            <td>{{ comet.apparent.equ.ra|to_hms:1 }}</td>
            <td>
                <span class="hidden">{{ comet.apparent.equ.dec|sortable_angle}}</span>
                {{ comet.apparent.equ.dec|to_dms:0 }}
            </td>
            <td>{{ comet.apparent.distance.au|floatformat:2 }} AU</td>
            <td>{{ comet.observe.constellation.name }}</td>
            <td>
                {{ comet.observe.apparent_magnitude|floatformat:2 }}
                {% if comet.mag_offset != 0.0 %}
                     &nbsp; (est. {{ comet.observe.apparent_magnitude|add_two:comet.mag_offset|floatformat:2 }})
                {% endif %}
            </td>
            <td class="wiki">
                {% if comet.has_wiki == 'WIKI' %}
                <button onclick="return realtimePopup('/comet/wiki/{{ comet.pk }}')" class="wiki">
                   <b>🅆</b>
                </button>
                {% endif %}
            </td>
            <td>{{ comet.n_obs }} / {{ comet.num_library_images }}</td>
            <td>{% if comet.last_observed %}{{ comet.last_observed|date:"Y-m-d H:i" }} UT{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
{% include 'includes/sortable_table.html' %}
{% endblock content %}
