{% extends "base.html" %}
{% block styles %}
<style>
    td { border: 0; padding: 0 1em; vertical-align: top !important; }
    body { line-height: 1.2; }
    img.constrained { width: 100%; max-width: 500px; }
    td.hvcenter { vertical-align: middle!important; text-align: center!important; }

    h1 { margin-top: 8px; margin-bottom: 2px; }

    table.main { background-color: #555; width: 100%!important; }
    table.main td { padding-left: 15px;  }
	td.object_name { vertical-align: middle; padding-left: 20px; }
	td.description { vertical-align: middle!important; text-align: center; line-height: 1.75; color: #FFF;}
	td.description a { color: #ff0; }
    td.classification { padding-right: 75px; }
    td.operations { text-align: right; padding: 3px 10px!important; }
    td.operations button { width: 10em; }
    h2 { margin-top: 6px; margin-bottom: 4px; color: #fc9; }
    span.coordinates { 
        font-size: 150%; 
        padding: 3px 5px 15px 5px!important; 
        margin-bottom: 5px;
    }
    td.light-curve {
        vertical-align: top;
    }
    td.vt { width: 33.3%; }
    td.vt h4 { 
        margin-top: 4px; margin-bottom: 6px; 
        color: #f96;
    }
    span.boxed { font-size: 80%; border: 1px solid #999; padding: 1px 2px; }

</style>
{% endblock styles %}
{% block title %}{{ object.name }}: Skytour{% endblock %}
{% block content %}

<br>
<table>
    <!-- main -->
    <tr>
        <td class="lite">
            <table class="main">
                <tr>
                    <td width=69% class="object_name">
                        <h1>{{ object.name }}</h1>
                    </td>
                    <td width=20% class="description classification" rowspan=2>
                        {% if comet.observe %}
                        Comet
                        <br>currently in<br>
                        <a href="{% url 'constellation-detail' comet.observe.constellation.abbr|upper %}">
                            {{ comet.observe.constellation.name }}
                        </a>
                        {% endif %}
                    </td>
                    <td class="description operations" rowspan=2>
                        {% if object.has_wiki == 'WIKI' %}
                        <button onclick="return realtimePopup('/comet/wiki/{{ object.pk }}')">
                            Wiki Entry
                        </button>
                        {% else %}
                        <span class="boxed">{{ object.has_wiki_text }}</span>
                        {% endif %}
                        <br>
                        <button onClick="popupEditComet({{ object.pk }})">Edit Metadata</button>
                        <br>
                        <a href="{% url 'sso-pdf' 'comet' object.pk %}" target="_blank"><button>PDF View</button></a>
                    </td>
                    <td class="description operations" rowspan=2>
                        <button onclick="return realtimePopup('/comet/real-time/{{ object.pk }}')">
                            Real Time
                        </button>
                        <br>
                        <button onclick="return realtimePopup('/comet/real-time/{{ object.pk }}?utdt_base=cookie')">
                            Cookie
                        </button>
                        <br>
                        <a href="{% url 'session-add' %}?object_type=comet&pk={{ object.pk }}" target="_blank">
                            <button>Observe</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="ident">
                        {% if object.year_of_discovery %}
                        <b>Discovered:</b> {{ object.year_of_discovery }}
                        {% endif %}
                    </td>
                </tr>
            </table>
    
            <table width=100% class="lite info">
                <tr>
                    <td colspan=3>
                        <h2>Information:</h2>
                    </td>
                </tr>
                <tr>
                    <td colspan=3>
                        <span class="coordinates">
                            &alpha; (2000): {{ comet.apparent.equ.ra_str }}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            &delta; (2000): {{ comet.apparent.equ.dec_str }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class='vt'>
                        {% with comet as obj %}
                        {% include 'inc_distance.html' %}
                        {% endwith %}
                    </td>
                    <td class='vt'>
                        {% with comet as obj %}
                        {% include 'inc_apparent.html' %}
                        {% endwith %}
                    </td>
                    <td class='vt'>
                        {% with object as obj %}
                        {% include 'inc_comet_mpc.html' %}
                        {% endwith %}
                    </td>
                </tr>
                <tr>
                    <td>
                    <button onclick="return realtimePopup('/solar_system/sso_map/comet/{{ object.pk }}/wide')">
                        Wide Area Map (10°)
                    </button>
                    </td>
                    <td>
                        <button onclick="return realtimePopup('/solar_system/sso_map/comet/{{ object.pk }}/narrow')">
                        Narrow Area Map (4°)
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        <a href="{{ object.light_curve_graph_url }}" target="_blank">
                            <img src="{{ object.light_curve_graph_url }}" class="constrained">
                            </a>
                    </td>
                </tr>
            </table>
        </td>
        {% with 'comet' as object_type %}
        {% include 'inc_slideshow_panel.html' %}
        {% endwith %}
    </tr>
</table>

<script>
    const tscreenWidth = window.screen.width;
    const twindowWidth = 1000;
    const twindowHeight = 650;
    const trightOffset = 100;
    const trightPosition = tscreenWidth - twindowWidth - trightOffset;
    const ttopOffset = 100;

    function popupEditComet(pk) {
        const url = `/comet/edit/${pk}`;
        newWindow = window.open(
            url,
            'Edit Comet',
            `height=${twindowHeight},  width=${twindowWidth}, `
            + ` left=${trightPosition}, top=${ttopOffset}, `
            + 'menubar=no,toolbar=no,location=no,status=no',
        );
        if (window.focus) { newWindow.focus() }
        return false;
    }
</script>

{% with instance=object admin_dir='/comet' %}
{% include 'includes/observation_section.html' %}
{% endwith %}

{% include 'includes/performance_time.html' %}

{% endblock content %}

{% block extra-js %}
{% include 'includes/realtime_script.html' %}
{% endblock extra-js %}