{% extends "base.html" %}
{% block styles %}
<style>
    td { border: 0; padding: 0 1em; vertical-align: top !important; }
    body { line-height: 1.2; }
    img.constrained { width: 100%; max-width: 500px; }
    td.hvcenter { vertical-align: middle!important; text-align: center!important; }
</style>
{% endblock styles %}
{% block title %}{{ object.name }}: Skytour{% endblock %}
{% block content %}
<table>
    <tr> 
        <td width="20%">
            <h1> {{ object.name }}</h1> 
            <h2> Currently in {{ comet.observe.constellation.name }}</h2>
            <a href="/admin/solar_system/comet/{{ object.pk }}/change" target="_new"><button>Admin</button></a>
            <a href="{% url 'sso-pdf' 'comet' object.pk %}" target="_new"><button>PDF View</button></a><br>
            <a href="{{ object.light_curve_url }}" target="_new"><button>External Page</button></a>
            <br>
            <br>
            <button onclick="return realtimePopup('/comet/real-time/{{ object.pk }}')")>
                Real Time
            </button>
            <button onclick="return realtimePopup('/comet/real-time/{{ object.pk }}?utdt_base=cookie')")>
                Cookie
            </button>
            <br><br>
        </td>
        <td width="25%" class="hvcenter">
            <a href="{{ object.light_curve_graph_url }}" target="_new">
            <img src="{{ object.light_curve_graph_url }}" class="constrained">
            </a>
        </td>
        <td width="20%" class="hvcenter">
            {% if object.description %}
            <p>{{ object.description }}</p>
            {% else %}
            <p>No description.</p>
            {% endif %}
        </td>
        {% if library_slideshow|length > 1 %}
        <td width="500px" height="600px" style="position:relative;">
            {% include "includes/library_slideshow.html" %}
        </td>
            {% elif object.library_image %}
        <td width="500px">
            <a href="{{ object.library_image.image.url }}" target="_blank"><img 
                src="{{ object.library_image.image.url }}" class="constrained"></a>
        </td>
        {% else %}
        <td width="35%" class="hvcenter">
            <p>No Image</p>
        </td>
        {% endif %}
    </tr>
</table>

<table>
    <thead>
    <tr>
        <th>Location</th>
        <th>Observe</th>
        <th>Almanac</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="25%" style="vertical-align:top;">
            {% with comet as obj %}
            {% include 'inc_coordinates.html' %}
            {% endwith %}
        </td>
        <td width="25%" style="vertical-align:top;">
            {% with comet as obj %}
            {% include 'inc_apparent.html' %}
            {% endwith %}
        </td>

        <td width="25%" style="vertical-align:top;">
            <button onclick="return realtimePopup('/solar_system/sso_map/comet/{{ object.pk }}/wide')">
                Wide Area Map (10°)
            </button>
            <br>
            <button onclick="return realtimePopup('/solar_system/sso_map/comet/{{ object.pk }}/narrow')">
                Narrow Area Map (4°)
            </button>
        </td>
    </tr>
</table>
<br><br>
<table class="lite">
    <tr>
        <td style="text-align: center;">
            <img src="{{ large_scale_map }}">
        </td>
        <td style="text-align: center;">
            <img src="{{ finder_chart }}">
        </td>
    </tr>
    </tbody>
</table>

{% with instance=object admin_dir='solar_system/comet' %}
{% include 'includes/observation_section.html' %}
{% endwith %}

{% include 'includes/performance_time.html' %}

{% endblock content %}

{% block extra-js %}
{% include 'includes/realtime_script.html' %}
{% endblock extra-js %}