{% load skytour_filters humanize %}
<h4>Rise/Set Events</h4>
{% for event in obj.almanac %}
    {{ event.type }}:<br/> 
    &nbsp;&nbsp;{{ event.local_time|get_local_time}}<br>
    <small>&nbsp;&nbsp;({{ event.ut|get_datetime|date:"D Y M d H:i"}} UT)</small><br/>

{% endfor %}
<h4>Start</h4>
    Az: {{ obj.session.start.azimuth|to_dms }}<br/>
    Alt: {{ obj.session.start.altitude|to_dms }}<br/>
    Up: {{ obj.session.start.is_up }}
<h4>End</h4>
    Az: {{ obj.session.end.azimuth|to_dms }}<br/>
    Alt: {{ obj.session.end.altitude|to_dms }}<br/>
    Up: {{ obj.session.end.is_up }}
<br/>