{% load skytour_filters humanize %}

<table class="data-table">
    <tr><th>Projection</th></tr>

{% if obj.observe.lunar_phase %}
    <tr><td>Phase: {{ obj.observe.lunar_phase.phase }}</td></tr>
    <tr><td>Phase Angle: {{ obj.observe.lunar_phase.angle|to_dms }}</td></tr>
    <tr><td>Day: {{ obj.observe.lunar_phase.days_since_new_moon|to_dhms }}</td></tr>
{% else %}
    <tr><td>Phase Angle: {{ obj.observe.phase_angle|to_dms }}</td></tr>
{% endif %}
{% if obj.observe.fraction_illuminated %}
    <tr><td>% Illuminated: {{ obj.observe.fraction_illuminated|floatformat:1 }} %</td></tr>
{% endif %}
    <tr><td>Elongation: {{ obj.observe.elongation|to_dms }}</td></tr>
</table>