{% load skytour_filters humanize %}
<style>
    table.orbit-table { border: none; margin-top: 5px; }
    table.orbit-table td, th { border: none; }
    table.orbit-table th { 
        background-color: #fc6; color: #000; 
        text-align: left;
        padding: 5px 8px;
    }
</style>
<table class="orbit-table">
    <tr><th>Orbital/Metadata</th></tr>
    <tr><td>Eccentricity: {{ obj.mpc_object_dict.eccentricity|floatformat:3 }}</td></tr>
    <tr><td>Inclination: {{ obj.mpc_object_dict.inclination_degrees|floatformat:1 }}°</td></tr>
    <tr><td>Semi-Major Axis: {{ obj.mpc_object_dict.semimajor_axis_au|floatformat:2 }} AU</td></tr>
    <tr><td>Mean Daily Motion: {{ obj.mpc_object_dict.mean_daily_motion_degrees|floatformat:3 }}°</td></tr>
    <tr><td>
        Mag H: {{ obj.mpc_object_dict.magnitude_H }}
        &nbsp;
        Mag G: {{ obj.mpc_object_dict.magnitude_G }}
    </td></tr>
    <tr><td>Period: {{ obj.orbital_period|floatformat:2 }} yr</td></tr>
</table>
