{% load skytour_filters humanize %}
<table class="data-table">
    <tr><th>Physical</th></tr>
{% if planet.name == 'Jupiter' %}
    <tr><td>&omega;<sub>1</sub>: {{ planet.physical.omega_1|to_dms }}</td></tr>
    <tr><td>&omega;<sub>2</sub>: {{ planet.physical.omega_2|to_dms }}</td></tr>
    <tr><td>&lambda;: {{ planet.physical.longitude|to_dms }}</td></tr>
    <tr><td>D<sub>S</sub>: {{ planet.physical.d_s|floatformat:3 }}°</td></tr>
    <tr><td>D<sub>E</sub>: {{ planet.physical.d_e|floatformat:3 }}°</td></tr>
{% elif planet.name == 'Mars' %}
    <tr><td>&omega;: {{ planet.physical.omega|to_dms }}</td></tr>
    <tr><td>&zeta;: {{ planet.physical.zeta|to_dms }}</td></tr>
    <tr><td>D<sub>E</sub>: {{ planet.physical.d_e|to_dms }}</td></tr>
{% endif %}
</table>