<style>
    table.moon_table td { font-size: 80%; }
    table.moon_table th { 
        background-color: #666; 
        color: #fff; 
        text-align: center; 
    }
</style>
<table class="data-table">
    <tr><th>Moons</th></tr>
    <tr>
        <td>
            <table class="moon_table">
                <tr><th>Name</th><th>Mag.</th><th>Sep.</th><th>Loc.</th></tr>
                {% for moon in planet.moons %}
                <tr>
                    <td>{{ moon.name }}</td>
                    <td>{{ moon.apparent_magnitude|floatformat:2 }}</td>
                    <td>{{ moon.planet_sep_str }}</td>
                    <td>
                        {{ moon.rel_to_planet_str }}&nbsp;
                        {{ moon.au_to_planet_str }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
