{% extends "base.html" %}

{% block styles %}
{% endblock styles %}
{% block title %}Planet List: Skytour{% endblock %}
{% block content %}
<h1>Planets</h1>
<table>
    <thead>
        <tr>
            <th>Planet</th>
            <th>&alpha;</th>
            <th>&delta;</th>
            <th>Mag</th>
            <th>Constellation</th>
            <th># Obs.</th>
            <th>Last Obs.</th>
        </tr>
    </thead>
    <tbody>
        {% for p in planet_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{% url 'planet-detail' p.slug %}">{{ p.name }}</a></td>
            <td>{{ p.apparent.equ.ra_str }}</td>
            <td>{{ p.apparent.equ.dec_str }}</td>
            <td>{{ p.observe.apparent_magnitude|floatformat:2 }}</td>
            <td><a href="{% url 'constellation-detail' p.observe.constellation.abbr|upper %}">{{ p.observe.constellation.name }}</a></td>
            <td>{{ p.n_obs }}</td>
            <td>{% if p.last_observed %}{{ p.last_observed|date:"Y-m-d H:i" }} UT{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
