{% extends "base.html" %}
{% load skytour_filters humanize %}

{% block styles %}
<style>
    td { border: 0; padding: 0 1em; vertical-align: top !important; }
    body { line-height: 1.2; }
    button { width: 10em; }
</style>
{% endblock styles %}

{% block content %}
<table>
    <tr>
        <td width="25%">
            <h1> {{ planet.name }}</h1> 
            in {{ planet.observe.constellation.name }}
        </td>
        <td width="50%">
            <form method="GET">
            {{ form.as_p }}
            <input type="submit" value="Submit"/>
            {% if is_moon %}
            <button><a href="{% url 'moon-detail' %}">Now</a></button>
            {% else %}
            <button><a href="{% url 'planet-detail' planet.slug %}">Now</a></button>
            {% endif %}
            </form>
            <small>Express date/time in UT.</small><br/>
        </td>
        <td>
            <h2>Solar System</h2>
            <a href="{% url 'planet-detail' 'mercury' %}?{{ query_params }}">  <button>Mercury</button></a>
            <a href="{% url 'planet-detail' 'saturn' %}?{{ query_params }}">   <button>Saturn</button></a><br>
            <a href="{% url 'planet-detail' 'venus' %}?{{ query_params }}">    <button>Venus</button></a>
            <a href="{% url 'planet-detail' 'uranus' %}?{{ query_params }}">   <button>Uranus</button></a><br>
            <a href="{% url 'planet-detail' 'mars' %}?{{ query_params }}">     <button>Mars</button></a>
            <a href="{% url 'planet-detail' 'neptune' %}?{{ query_params }}">  <button>Neptune</button></a><br>
            <a href="{% url 'planet-detail' 'jupiter' %}?{{ query_params }}">  <button>Jupiter</button></a>
            <a href="{% url 'moon-detail' %}?{{ query_params }}">              <button>Moon</button></a>
        </td>
    </tr>
</table>
<br/>
USER PREFERENCES: {{ user_preferences }}<br>
INITIAL: {{ initial }}
<table>
    <thead>
    <tr>
        <th>Session</th>
        <th>Location</th>
        <th>Observe</th>
        <th>Almanac</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="25%"  style="vertical-align:top;">
            {% include 'inc_date_time.html' %}
            {% include 'inc_location.html' %}
        </td>
        <td width="25%" style="vertical-align:top;">
            {% with planet as obj %}
            {% include 'inc_coordinates.html' %}
            {% endwith %}
        </td>
        <td width="25%" style="vertical-align:top;">
            {% with planet as obj %}
            {% include 'inc_apparent.html' %}
            {% endwith %}

            {% if obj.close_to|length > 0 %}
            <h4>Nearby Planets</h4>
            {% for encounter in planet.close_to %}
                Close to {{ encounter.0 }}: {{ encounter.1|floatformat:1 }}°<br/>
            {% endfor %}
            {% endif %}

            {% if planet.physical %}
            {% include 'inc_physical.html' %}
            {% endif %}
        </td>

        <td width="25%" style="vertical-align:top;">
        {% with planet as obj %}
        {% include 'inc_rise_set.html' %}
        {% endwith %}
        </td>
    </tr>
    <tr>
        <td width="50%" colspan=2>
            <img src="{{ finder_chart }}">
        </td>
        <td width="50%" colspan=2>
            <img src="{{ view_image }}">
            <br>
            <div style="padding-left: 20px; margin-top:0"><small><i>
                ID above + = moon behind planet in orbit; 
                ID below + = moon in front of planet in orbit
            </i></small></div>
        </td>
    </tr>
    <tr>
        <td width="100%" colspan=4>
            <h4>Map</h4>
            <img src="{{ planet_map }}" style="margin:auto;">
        </td>
    </tr>
    
    {% if planet.physical.features %}
    <tr>
        <td width="100%" colspan=4>
            <h4>Features</h4>
            <table class="inner">
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>HA</th>
                        <th>View</th>
                        <th>Time from Meridian</th>
                        <th>Next Transit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feature in planet.physical.features %}
                    <tr>
                        <td>{{ feature.name }}</td>
                        <td>{{ feature.ha_deg|to_dms }}</td>
                        <td>{{ feature.view }}</td>
                        <td>{{ feature.time_from_meridian|dt_hms }}</td>
                        <td>{{ feature.next_transit|date:"Y-m-d H:i" }} UT</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
    {% endif %}
    </tbody>
</table>
{% endblock content %}
