{% extends "base.html" %}
{% load skytour_filters humanize %}

{% block styles %}
<style>
    td { border: 0; padding: 0 1em; vertical-align: top !important; }
    body { line-height: 1.2; }
    button { width: 10em; }
</style>
{% endblock styles %}
{% block title %}{{ planet.name }}: Skytour{% endblock %}
{% block content %}
<table>
    <tr>
        <td width="25%">
            <h1> {{ planet.name }}</h1> 
            in 
            <a href="{% url 'constellation-detail' planet.observe.constellation.abbr|upper %}">{{ planet.observe.constellation.name }}</a>
            <br><br>
            <a href="/admin/solar_system/planet/{{instance.pk}}/change" target="_new"><button>Admin</button></a>
        </td>
        <td width="40%">
            <h2>Observations</h2>
            # Observations:  {{ planet.object.number_of_observations }}
            <br>
            Last Observed:
            {% if planet.object.last_observed %}
                {{ planet.object.last_observed|date:"Y-m-d H:i" }} UT
            {% else %}
                (not yet)
            {% endif %}
        </td>
        <td>
            <h2>Solar System</h2>
            <a href="{% url 'planet-detail' 'mercury' %}">  <button>Mercury</button></a>
            <a href="{% url 'planet-detail' 'mars' %}">     <button>Mars</button></a>
            <a href="{% url 'planet-detail' 'uranus' %}">   <button>Uranus</button></a><br>
            <a href="{% url 'planet-detail' 'venus' %}">    <button>Venus</button></a>
            <a href="{% url 'planet-detail' 'jupiter' %}">  <button>Jupiter</button></a>
            <a href="{% url 'planet-detail' 'neptune' %}">  <button>Neptune</button></a><br>
            <a href="{% url 'moon-detail' %}">              <button>Moon</button></a>
            <a href="{% url 'planet-detail' 'saturn' %}">   <button>Saturn</button></a>
            <br><br>
        </td>
    </tr>
</table>

<table>
    <thead>
    <tr>
        <th>Session</th>
        <th>Location</th>
        <th>Observe</th>
        <th>Almanac</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="25%"  style="vertical-align:top;">
            {% include 'inc_date_time.html' %}
            {% include 'inc_location.html' %}
            <br><br>
        </td>
        <td width="25%" style="vertical-align:top;">
            {% with planet as obj %}
            {% include 'inc_coordinates.html' %}
            {% endwith %}
            <br><br>
        </td>
        <td width="25%" style="vertical-align:top;">
            {% with planet as obj %}
            {% include 'inc_apparent.html' %}
            {% endwith %}

            {% if close_by|length > 0 %}
            <h4>Nearby Planets</h4>
            {% for encounter in close_by %}
                {{ encounter.0 }} is {{ encounter.1|floatformat:1 }}° away<br/>
            {% endfor %}
            {% endif %}

            {% with planet as obj %}
            {% include 'inc_projection.html' %}
            {% endwith %}

            {% if planet.physical %}
            {% include 'inc_physical.html' %}
            {% endif %}
            <br><br>
        </td>

        <td width="25%" style="vertical-align:top;">
        {% with planet as obj %}
        {% include 'inc_rise_set.html' %}
        {% endwith %}
        <br><br>
        </td>
    </tr>
    
    <tr style='margin-top: 40px;'>
        <td width="50%" colspan=2>
            <img src="{{ finder_chart }}">
        </td>
        <td width="50%" colspan=2>
            <div style="padding-left: 20px; margin-top:0">
                <img src="{{ view_image }}">
                <br>
                <small><i>
                    ID above + = moon behind planet in orbit; 
                    ID below + = moon in front of planet in orbit
                </i></small>
            </div>
        </td>
    </tr>
    {% if planet_map %}
    <tr>
        <td width="100%" colspan=4>
            <h4>Map</h4>
            <img src="{{ planet_map }}" style="margin:auto;">
        </td>
    </tr>
    {% endif %}
    
    {% if planet.physical.features %}
    <tr>
        <td width="100%" colspan=4>
            <h4>Features</h4>
            <table class="inner">
                <thead>
                    <tr>
                        <th>Feature</th>
                        <th>HA</th>
                        <th>View</th>
                        <th>Time from Meridian</th>
                        <th>Next Transit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feature in planet.physical.features %}
                    <tr>
                        <td>{{ feature.name }}</td>
                        <td>{{ feature.ha_deg|to_dms }}</td>
                        <td>{{ feature.view }}</td>
                        <td>{{ feature.time_from_meridian|dt_hms }}</td>
                        <td>{{ feature.next_transit|date:"Y-m-d H:i" }} UT</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
    {% endif %}
    </tbody>
</table>
{% endblock content %}
