{% extends "base.html" %}

{% block styles %}
{% endblock styles %}
{% block title %}Planet List: Skytour{% endblock %}
{% block content %}
<h2>Date: {{ utdt }}</h2>
{% comment %}Location: {{ location }}{% endcomment %}
<table>
    <thead>
        <tr>
            <th>Planet</th>
            <th>&alpha;</th>
            <th>&delta;</th>
            <th>Mag</th>
            <th>Constellation</th>
            <th># Obs.</th>
            <th>Last Obs.</th>
        </tr>
    </thead>
    <tbody>
        {% for k, v in pdict.items %}
        <tr>
            <td><a href="{% url 'planet-detail' k|lower %}">{{ k }}</a></td>
            <td>{{ v.coords.ra_str }}</td>
            <td>{{ v.coords.dec_str }}</td>
            <td>{{ v.observe.apparent_mag|floatformat:2 }}</td>
            <td><a href="{% url 'constellation-detail' v.observe.constellation.abbr|upper %}">{{ v.observe.constellation.name }}</a></td>
            <td>{{ v.object.number_of_observations }}</td>
            <td>{% if v.object.last_observed %}{{ v.object.last_observed|date:"Y-m-d h:i" }} UT{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
