{% extends "base.html" %}
{% load skytour_filters humanize %}
{% block title %}Tracker: Skytour{% endblock %}
{% block content %}
<style>
    h2.notop { margin-top: 0; }
    table { border: none; }
    table.form-table { 
        border: none;
    }
    table.form-table th {
        border: none!important;
    }
    table.form-table td {
        font-size: 90%;
        vertical-align: top;
        border: none!important;
    }
    table.tracker-form td { xborder: none; vertical-align: top;}
    td { border: 1px solid #666; vertical-align: top; }
    table.track-positions th {
        background-color: #996;
        color: #000;
        padding: 2px 1px;
        font-size: 90%;
    }
    table.track-positions td {
        border: none; font-size: 90%;
    }
    td.submit { 
        height: 3em;  ; 
        background-color: #999;
        vertical-align: middle!important;
    }
    td.submit input { 
        width: 20em; height: 2.5em; 
        margin-left: 5em; 
    }
    td.forced-width {
        width: 40% !important; /* Force width */
        max-width: 40% !important; /* Prevent expansion */
        overflow: hidden; /* Hide overflow if necessary */
        word-wrap: break-word; /* Handle text if necessary */
    }

    td.forced-width img {
        max-width: 100%; /* Image cannot be wider than TD */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Remove bottom whitespace */
    }

    .helptext { 
        font-style: italic;
        font-size: 85%;
        color: #fff;
    }
</style>
<h1>Tracker</h1>
<table class="tracker-form">
    <tr>
        <td width="25%">
            {% if form %}
            <form method="post">
                {% csrf_token %}
                <table class="form-table">
                    {{ form.as_table }}
                <tr>
                    <td colspan=3 class="submit">
                        <input type="submit" value="Submit"/>
                    </td>
                </tr>
                </table>
            </form>
            {% else %}
            There is no form!
            {% endif %}

            {% if instance %}
            <br/>
            <h3>Tracking {{ instance.name }}</h3> 
            <ul>
            <li><b>Starting at {{ observe.utdt|date:"Y-m-d H:i" }} UT</b><br/>
            
            <li>&alpha;: {{ observe.ra|to_hms }}
            <li>&delta;: {{ observe.dec|to_dms }}
            <li>Dist.: {{ observe.dist|floatformat:3 }} AU
            <li>in <a href="{% url 'constellation-detail' constellation.abbr|upper %}">{{ constellation.name }}</a>
            </ul>
            {% endif %}
        </td>
        <td class="forced-width">
            {% if track_image %}
            <img src="{{ track_image }}">
            {% endif %}
        </td>
        <td>
            {% if track_positions|length > 0 %}
            <h2 class="notop">Track Positions</h2>
            <table class="track-positions">
                <tr>
                    <th>Date</th>
                    <th>RA</th>
                    <th>Dec.</th>
                    <th>Con.</th>
                    <th>Dist.</th>
                    <th>Mag.</th>
                </tr>
            {% for pos in track_positions %}
                <tr>
                    <td>{{ pos.utdt.date|date:"Y-m-d" }}</td>
                    <td>{{ pos.ra|to_hm }}</td>
                    <td>{{ pos.dec|to_dm }}</td>
                    <td>{{ pos.constellation.abbr }}</td>
                    <td>{{ pos.distance|floatformat:2 }} AU</td>
                    <td>{{ pos.mag|floatformat:2 }}</td>
                </tr>
            {% endfor %}
            </table>
{% endif %}

        </td>
    </tr>
</table>


<hr/>
<small>
{% include 'includes/performance_time.html' %}
</small>
{% endblock content %}
