{% extends "base.html" %}
{% load skytour_filters static %}
{% block title %}{{ object.shown_name}}: Skytour{% endblock title %}
{% block styles %}
<style>
	table.lite { border-style: none; }
	table.lite td { border-style: none;}
	h1 { font-weight: bold; font-size: 250%; color: #fff; margin-bottom: 0px; }
	h2.nickname { font-size: 125%; margin-top: 5px; color: #ffd; }
	h2.short {  margin-top: 0.4em; margin-bottom: 0.5em; }
	td { vertical-align: top;}
	td.object_name { vertical-align: middle; padding-left: 20px; }
	td.description { vertical-align: middle!important; text-align: center; line-height: 1.75; color: #FFF;}
	td.description a { color: #ff0; }
	td.aliases { padding-left: 20px; padding-bottom: 20px; color: #ff0; }
	td.dso_image { padding: 0; }
	td.coordinates { width: 40%; font-size: 150%; padding: 3px 5px 15px 5px!important; margin-bottom: 5px; }
	table.info_box { border: 2px solid black }
	tr.bottom { height: 150px; }
    img.constrained { max-width: 500px; }
	img.library_image { display: block; }
    .hvcenter { vertical-align: middle!important; text-align: center!important; }
	.hcenter { text-align: center!important; }
	table.short {  display:inline-block; border-style: none; }
	table.short td { margin-right: 4px; }
	table.short td.hour { margin-right: 8px; }
	div.no-library-image { font-size: 20px; line-height: 2.5; }
	span.nickname { font-size: 80%; font-style: italic; color: #ff6; }
	tr.dif th { background-color: #006; }
	span.annotation { padding-left: 10px; font-size: 50%; font-style: italic; color: #ff6; }
    .image-text {
        position: absolute;
        bottom: -30px;
        width: 100%;
        display: flex;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0.3);
        height: 35px;
    }
	.image-text1 {
		position: absolute;
		width: 98%;
		display: flex;
		font-size: 12px;
		justify-content: center;
		align-items: center;
		color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0.3);
        height: 35px;
	}
	.slide-header {
		width: 100%;
		padding-left: 10px;
		font-size: 12px;
		display: flex;
		align-items: center;
		color: rgb(204, 204, 204);
		background: rgba(0, 0, 0, 0.3);
		height: 35px;
	}
</style>
{% endblock styles %}

{% block content %}
<br>
<table>
<!-- main -->
{# header section #}
<tr>
	<td colspan=2 class="lite">
		<a name="top"></a>
		<table width="100%" class="lite" bgcolor="{{ object.object_type.bgcolor}}" width=100%>
			<tr>
				<td width=60% class="object_name">
					<h1>{{ object.label_on_chart }}</h1>
					<h2 class="nickname">
						{% if object.nickname %}
						{{ object.nickname }}
						{% endif %}
					</h2>
				</td>
				<td width=20% class="description" rowspan=2>
					<a href="{% url 'object-type-detail' object.object_type.slug %}">{{ object.object_type }}</a>
					<br>in<br>
					<b>
						<a href="{% url 'constellation-detail' object.constellation.abbreviation %}">
							{{ object.constellation.abbreviation }}
						</a>
					</b>
				</td>
				<td width=20% class="description" rowspan=2>
					<b>Priority:&nbsp;
						<a href="{% url 'priority-detail' object.priority %}">{{ object.priority }}</a>
					<br>
					<b>On Skymap:&nbsp;</b>{{ object.get_show_on_skymap_display }}
					<br>
					<a href="/admin/dso/dso/{{ object.pk }}"><button>Admin</button></a>
					<a href="/media/{{ object.pdf_page }}" target="_new"><button>PDF</button></a>
					<br>

					<button onclick="return realtimePopup('/dso/real-time/{{ object.pk }}')")>
					Real Time
					</button>
					<button onclick="return realtimePopup('/dso/real-time/{{ object.pk }}?utdt_base=cookie')")>
					Cookie
					</button>

				</td>
			</tr>
			{% if object.alias_list %}
			<tr><td class="aliases">{{ object.alias_list }}</td></tr>
			{% endif %}
		</table>
	</td>
	<td 
			width="500px" height="600px" rowspan=2 
			{% if library_slideshow|length < 2 %}
			class="hvcenter"
			{% else %}
			class="hcenter"
			{% endif %} {# overflow; auto #}
			style="position:relative; max-height: 600px;"
	>
		{% if library_slideshow|length > 0 %}
		<h2 class="short">Library Image(s)</h2>
			<div class="slideshow-container">
				{% for item in library_slideshow %}
				<div class="mySlides libslide">
					{# just remove the controls if there's only one image #}
					{% if library_slideshow|length > 1 %}
					<div class="slide-header">
						<a onclick="plusSlides(-1, 1)"><button>Previous</button></a>
						&nbsp; | &nbsp; 
						<a onclick="plusSlides(1, 1)"><button>Next</button></a>
						&nbsp; | &nbsp; 
						Image {{ forloop.counter }} of {{ library_slideshow | length }}
					</div>
					{% endif %}
					<a href="{{ item.image.url }}" target="_blank>">
						<img src="{{ item.image.url }}" alt="add data here" style="width:100%"/>
					</a>
					<div class="image-text">{{ item.caption }}</div>
				</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="no-library-image">
			No image in library.
			{% if object.library_image_priority %}
				<br>
				Imaging Priority: 
				<span style="color: {{ object.color_imaging_checklist_priority}}">
					{{ object.library_image_priority }}
				</span>
			{% else %}
				<br>
				Not available for imaging.
			{% endif %}
			</div>
		{% endif %}
	</td>
</tr>
<tr>
	<td id="metadata" colspan=2>
		<h3>Information:</h3>
		<table width=100% class="lite">
			<tr>
				<td class="coordinates">&alpha; (2000): {{ object.ra_text }}
					<br><span class="annotation">{{ object.ra_float|floatformat:3}}h {{ object.ra_deg_float|floatformat:3 }}°</span>
				</td>
				<td class="coordinates">&delta; (2000): {{ object.dec_text }}
					<br><span class="annotation">{{ object.dec_float|floatformat:3}}°</span>
				</td>
				<td></td>
			</tr>
			<tr>
				<td>
					{% if object.find_magnitude.1 %}{{ object.find_magnitude.1 }}&nbsp;{% endif %}
					Mag.: 
					{{ object.find_magnitude.0|floatformat:2 }}
				</td>
				<td>
					Ang. Size: {{ object.find_angular_size.0 }}
				</td>
				<td rowspan="4" style="padding: 0;">
					{% for item in other_metadata %}
					<p style="padding: 3px 5px; margin: 0">{{ item }}</p>
					{% endfor %}
				</td>		
			</tr>
			<tr>
				<td>
					Surf. Bri: {{ object.find_surface_brightness.0|floatformat:2 }}
				</td>
				<td>
					Distance:
					{{ object.find_distance.0|floatformat:1 }} {{ object.find_distance.1 }}
				</td>
			</tr>
			<tr>
				<td>
					Orientation Angle: {{ object.find_orientation.0|floatformat:0 }}°
				</td>
				<td>Morphological Type: {{ object.morphological_type }}</td>
			</tr>
			<tr>
				<td>
				Contrast Index: {{ object.contrast_index }}
				</td>
				<td></td>
			</tr>
			<tr>
				<td>
					<h3>
						Observing Season: 
						<small>
						{% if observing_date_grid.no_grid_reason %}
							(Max Alt: {{ max_altitude|floatformat:1 }}°)
						{% else %}
							(Alt = {{ observing_date_grid.alt }}°; Max Alt: {{ max_altitude|floatformat:1 }}°)
						{% endif %}
					</small>
					</h3>
					{% if observing_date_grid.no_grid_reason %}
						{{ observing_date_grid.no_grid_reason }}
					{% else %}
						<table class="short">
						<tr>
							<th>Time</th><th>Start Date</th><th>Meridian Date<th>End Date</th>
						</tr>
						{% for k, v in observing_date_grid.grid.items %}
						<tr>
							<td class="hour">{{k}}</td>
							<td>{{v.0|date:"M d"}}</td>
							<td>{{v.1|date:"M d"}}</td>
							<td>{{v.2|date:"M d"}}</td>
						</tr>
						{% endfor %}
						</table>
					{% endif %}
				</td>
				<td colspan="2">
					<h3>On Atlas Plates:</h3>
					{% for plate in object.atlasplate_set.all %}
					<a href="{% url 'atlas-detail' plate.slug %}" target="_new">{{ plate.plate_id }}<a>
					{% if not forloop.last %}, {% endif %}
					{% endfor %}

					<br>
					<h3>Target Viability:</h3>
					{{ object.targetdso.viability_chart }}

				</td>
			</tr>
		</table>
	</td>
</tr>
</table>

<table>
<tr>
	<td id="field_chart_view" width="50%">
		<h3>Finder Chart(s):</h3>
		<div class="finder-chart-container">
			{% for item in finder_slideshow %}
			<div class="mySlides finderslide">
				{% if finder_slideshow|length > 1 %}
				<div class="slide-header">
					<a onclick="plusSlides(-1, 0)"><button>Previous</button></a>
					&nbsp; | &nbsp;
					<a onclick="plusSlides(1, 0)"><button>Next</button></a>
					&nbsp; | &nbsp;
					Image {{ forloop.counter }} of {{ finder_slideshow|length }}
				</div>
				{% endif %}
				<a href="{{ item }}" target="_blank>">
					<img
						src="{{ item }}"  
						alt="add data here"
						style="width:100%;"
					/>
				</a>
				<!--div class="image-text">{{ item.caption }}</div-->
			</div>
			{% endfor %}
		</div>
	</td>

	<td id="imaging_view" colspan=3 style="width:50%;">
		{% if map_slideshow|length < 2 %}
			<h3>Imaging Chart:</h3>
			{% if object.dso_imaging_chart %}
			<img src="{{ object.dso_imaging_chart.url }}" width=100% style="display:block;">
			{% else %}
			<br>(No imaging view.)
			{% endif %}
		{% else %}
			<h3>Imaging Chart and Full View</h3>
			<div class="slideshow-container">
				{% for item in map_slideshow %}
				<div class="mySlides mapslide">
					{% if map_slideshow|length > 1 %}
					<div class="slide-header">
						<a onclick="plusSlides(-1, 2)"><button>Previous</button></a>
						&nbsp; | &nbsp;
						<a onclick="plusSlides(1, 2)"><button>Next</button></a>
						&nbsp; | &nbsp;
						Image {{ forloop.counter }} of {{ map_slideshow|length }}
					</div>
					{% endif %}
					
					<a href="{{ item.url }}" target="_blank>">
						<img
							src="{{ item.url }}"  
							alt="add data here"
							style="width:100%;"
						/>
					</a>
					<div class="image-text">{{ item.caption }}</div>
				</div>
				{% endfor %}
			</div>
		{% endif %}
	</td>

</tr>
</table>

<table>
<tr>
	<td>
		<a name="dsos_in_field"></a>
		{% if object.dsoinfield_set.all %}
		<h3>DSOs in Field ({{ object.dsos_in_field_count }})</h3>
		<table>
		<tr class='dif'><th>Name</th><th>Const.</th><th>Type</th><th>Location</th><th>Mag.</th><th>Size</th><th>Surf.Br.</th></tr>
		{% for fdso in object.dsoinfield_set.all %}
		<tr>
			<td>
				{{ fdso.shown_name }}
				{% if fdso.nickname %}<span class="nickname"> - {{ fdso.nickname }}</span>{% endif %}
			</td>
			<td>{{ fdso.constellation.abbreviation }}</td>
			<td>
				{{ fdso.object_type.short_name }} 
				{% if fdso.morphological_type %}&nbsp;({{ fdso.morphological_type }}){% endif %}
			</td>
			<td>{{ fdso.primary_distance|floatformat:1 }}' at {{ fdso.primary_angle|floatformat:0 }}°</td>
			<td>{{ fdso.magnitude|floatformat:2 }}</td>
			<td>{{ fdso.angular_size }}</td>
			<td>{{ fdso.surface_brightness|floatformat:2 }}</td>
		</tr>
		{% endfor %}
		</table>
		{% endif %}
		<a name="nearby_dsos"></a>
		<h3>Nearby DSOs ({{ object.nearby_dsos|length }})</h3>
			<small>
			{% if object.nearby_dsos|length > 0 %}<table class="lite">{% endif %}
			{% for x in object.nearby_dsos %}
			{% if forloop.counter0|modulus:5 == 0 %}<tr>{% endif %}
				<td width="20%">
					{% if x is not None %}
						<a href="{% url 'dso-detail' x.pk %}">{{ x.label_on_chart }}</a>
						({{ x.object_type.short_name }}, 
						<span style="color: {{ x.priority_color }}">{{ x.priority }}</span>
						{% if x.library_image_priority %}
							&nbsp;
							<span style="color: {{ x.color_imaging_checklist_priority }}">{{ x.library_image_priority }}</span>
						{% endif %}
						{% if x.library_image_camera %}{{ x.library_image_camera }}{% endif %}
						)
						{% if not forloop.last %}, {% endif %}
					{% endif %}
				</td>
			{% if forloop.counter0|modulus:5 == 4  or forloop.last %}</tr>{% endif %}
			{% empty %}
			None
			{% endfor %}
			{% if object.nearby_dsos|length > 0 %}</table>{% endif %}
		</small>
	</td>
</tr>
</table>

<table>
<tr class="bottom">
	<td id="object_notes" valign="top" width=30% rowspan=2>
		<a name="notes"></a>
		<h3>Notes</h3>
		{{ object.notes|linebreaks }}
	</td>
	<td>
		{% with instance=object admin_dir='dso/dso'%}
		{% include 'includes/observation_section.html' %}
		{% endwith %}
	</td>
</tr>
</table>

{% comment %}
<table class="lite">
<tr>
	<td id="close_up" width=50%>
		<h3>Close-Up Finder Chart:</h3>
		{% if object.dso_finder_chart_narrow %}
		<img src = "{{ object.dso_finder_chart_narrow.url }}" width="100%">
		{% else %}<p>No Narrow finder (yet)</p>
		{% endif %}
	</td>
	<td id="field_view" colspan=3 style="width:50%;">
		<h3>DSS Field View:</h3>
		{% if object.field_view %}
		<img src="{{ object.field_view.url }}" width=100% style="display:block;">
		{% else %}
		<br>(No field view.)
		{% endif %}
	</td>
</tr>
<table>
{% endcomment %}

{% if image_list.0 %}
<table>
<tr><td colspan="6"><h2>Images</h2></td></tr>
<tr class="bottom">

	<td class="dso_image" colspan=2 style="width:33%;">
		{% if object.images.all.0 %}
		<a href="{{ image_list.0.image.url}}" target="_blank">
		<img src="{{ image_list.0.image.url }}" width=100%>
		</a>
		{% endif %}
	</td>
	<td class="dso_image" colspan=2 style="width:33%;">
		{% if image_list.1 %}
		<a href="{{ image_list.1.image.url}}" target="_blank">
		<img src="{{ image_list.1.image.url }}" width=100%>
		</a>
		{% endif %}
	</td>
	<td class="dso_image" colspan=2 style="width=33%;">
		{% if image_list.2 %}
		<a href="{{ image_list.2.image.url}}" target="_blank">
		<img src="{{ image_list.2.image.url }}" width=100%>
		</a>
		{% endif %}
	</td>
</tr>
</table>
{% endif %}

{# include 'includes/performance_time.html' #}
{% include 'includes/multiple_slideshows.html' %}
{% endblock content %}

{% block extra-js %}
{% include 'includes/realtime_script.html' %}
<script src="/media/js/bootstrap.js">
<!--script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script-->
{% endblock extra-js %}