{% extends "base.html" %}
{% load skytour_filters static %}
{% block title %}{{ object.shown_name}}: Skytour{% endblock title %}
{% block styles %}
<style>
	table.lite { border-style: none; }
	table.lite td { border-style: none; padding-left: 10px; padding-right: 30px; }
	h1 { font-weight: bold; font-size: 250%; color: #fff; margin-bottom: 0px; margin-top: 10px; }
	h2 { color: #fc0; }
	h2.nickname { font-size: 125%; margin-top: 5px; color: #ffd; }
	h2.short {  margin-top: 0.4em; margin-bottom: 0.5em; }
	h3 { color: #ff9; }
	td { vertical-align: top;}
	td.object_name { vertical-align: middle; padding-left: 20px; }
	td.description { 
		vertical-align: middle!important; 
		text-align: center; line-height: 1.75; 
		color: #FFF;
	}
	td.description a { color: #ff0; }
	td.operations { text-align: right; padding: 3px 10px!important; }
	td.aliases { padding-left: 20px; padding-bottom: 20px; color: #ff0; }
	td.dso_image { padding: 0; }
	td.coordinates { 
		width: 40%; 
		font-size: 150%; 
		padding: 3px 5px 15px 5px!important; 
		margin-bottom: 5px; 
		color: #fff;
	}
	table.info_box { border: 2px solid black }
	tr.bottom { height: 150px; }
    img.constrained { max-width: 500px; }
	img.library_image { display: block; }
    .hvcenter { vertical-align: middle!important; text-align: center!important; }
	.hcenter { text-align: center!important; }
	table.short {  display:inline-block; border-style: none; }
	table.short td, th { margin-right: 4px; font-size: 80%; }
	table.short td.hour { margin-right: 8px; }
	table.short th { background-color: #990; color: #000; border: none; }
	div.no-library-image { font-size: 20px; line-height: 2.5; }
	span.nickname { font-size: 80%; font-style: italic; color: #ff6; }
	tr.dif th { background-color: #006; }
	span.annotation { padding-left: 10px; font-size: 50%; font-style: italic; color: #ff6; }
    span.source { 
		padding: 0px 5px 0px 5px; 
		margin-left: 10px;
		background-color: #393; 
		color: #000;
		font-size: 65%; 
		border: 1px solid #390;
		vertical-align: middle;
	}
	span.mode-header { color: #fff; font-weight: bold; }
	div.mode-chart hr { border-color: #870; border-width: 1px; border-style: solid; }
	.image-text {
        position: absolute;
        bottom: -30px;
        width: 100%;
        display: flex;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0.3);
        height: 35px;
    }
	.slide-header {
		width: 100%;
		padding-left: 10px;
		font-size: 12px;
		display: flex;
		align-items: center;
		color: rgb(204, 204, 204);
		background: rgba(0, 0, 0, 0.3);
		height: 35px;
	}
	ul.dso-list { 
		list-style-type: none; /* Remove bullets */
		padding: 0; /* Remove padding */
		margin: 0; /* Remove margins */
	}
	ul.dso-list li {
		line-height: 1.4;
	}
	div.panel-type {float: right!important;  }
	span.little-header { font-size: 11px; color: #ccc; margin-right: 2em; }
	.popup-button, .popup-dso, .popup-list-button { float: right; }
	.object-metadata { xfont-weight: bold; color: #ccc; }
	div.conditions { 
		padding: 5px; 
		border: 1px solid #ccc; 
		line-height: 1.6; 
	}
	button.op { width: 12em; }
	td.edit_images {
		vertical-align: middle;
		background-color: #900;
		text-align: center;
	}
	table.infield th { background-color: #009; color: #fff; }
	td.edit_images button { width: 20em; height: 20px; }
	td.editing { border: 2px solid #900!important; }
	td.editing h3, td.obslist h3 { margin-top: 8px; }
	td.editing button { width: 8em; margin-right: 8px;  }
	td.indented { background-color: #666; padding-left: 20px; }
	.rightside { float: right!important; }
	.white { color: #fff; }
	span.cat_entry {
		color: #ccc;
		font-style: italic;
	}
	span.cat_entry_text {
		color: #fff;
		font-weight: bold;
		font-style: normal;
	}
	span.boxed { font-size: 80%; border: 1px solid #fff; padding: 1px 4px; }
	button.adminb { width: 5em!important; color: #f00; }
	td.field-td-wiki { text-align: center; }
</style>
{% endblock styles %}

{% block content %}
<br>
<table>
<!-- main -->
{# header section #}
<tr>
	<td colspan=2 class="lite">
		<a name="top"></a>
		<table width="100%" class="lite" bgcolor="{{ object.object_type.bgcolor}}" width=100%>
			<tr>
				<td width=60% class="object_name">
					<h1>{{ object.label_on_chart }}</h1>
					<h2 class="nickname">
						{% if object.nickname %}
						{{ object.nickname }}
						{% endif %}
					</h2>
				</td>
				<td width=16% class="description" rowspan=2>
					<a href="{% url 'object-type-detail' object.object_type.slug %}">{{ object.object_type }}</a>
					<br>in<br>
					<b>
						<a href="{% url 'constellation-detail' object.constellation.abbreviation %}">
							{{ object.constellation.abbreviation }}
						</a>
					</b>
				</td>
				<td width=15% class="description operations" rowspan=2>
                    {% if object.has_wiki == 'WIKI' %}
                    <button onclick="return realtimePopup('/dso/wiki/{{ object.pk }}')" class="op">
                        Wiki Entry
                    </button>
                    {% else %}
                    <span class="boxed">{{ object.has_wiki_text }}</span>
                    {% endif %}
					<br>
					{% if object.pdf_page %}
					<a href="/media/{{ object.pdf_page }}" target="_blank"><button class="op">PDF</button></a>
					{% else %}
					<span class="boxed">No PDF Page</span>
					{% endif %}
					<br>

					&nbsp;
				</td>
				<td width=12% class="description operations" rowspan=2>
					<button onclick="return realtimePopup('/dso/real-time/{{ object.pk }}')" class="op">
					Real Time
					</button>
					<br>
					<button onclick="return realtimePopup('/dso/real-time/{{ object.pk }}?utdt_base=cookie')" class="op">
					Cookie
					</button>
					<br/>
					<a href="{% url 'session-add' %}?object_type=dso&pk={{ object.pk }}" target="_blank">
					<button class="op">Add Observation</button>
					</a>
				</td>
			</tr>
			{% if object.alias_list %}
			<tr>
				<td class="aliases">
					{{ object.alias_list }}
				</td>
			</tr>
			{% endif %}
		</table>
	</td>
	<td 
			width="500px" height="600px" rowspan=2 
			{% if library_slideshow|length < 2 %}
			class="hvcenter"
			{% else %}
			class="hcenter"
			{% endif %} {# overflow; auto #}
			style="position:relative; max-height: 600px;"
	>
		{% if library_slideshow|length > 0 %}
		<h2 class="short">
			Library Image(s)
		</h2>
			<div class="slideshow-container">
				<div class="panel-type">
					<span class="little-header">Library Panel</span>					
					<div class="rightside">
						<a href="{% url 'dso-manage-panel' 'slideshow' object.pk %}">
						<button>Manage Images</button>
						</a>
					</div>
				</div>

				{% for item in library_slideshow %}
				<div class="mySlides libslide">
					{# just remove the controls if there's only one image #}
					<div class="slide-header">
					{% if library_slideshow|length > 1 %}
						<div class="slideshow-nav">
						<a onclick="plusSlides(-1, 1)"><button>Previous</button></a>
						&nbsp; | &nbsp; 
						<a onclick="plusSlides(1, 1)"><button>Next</button></a>
						&nbsp; | &nbsp; 
						Image {{ forloop.counter }} of {{ library_slideshow | length }}
						</div>
					{% endif %}
					</div>
					<a href="{{ item.image.url }}" target="_blank>">
						<img src="{{ item.image.url }}" alt="add data here" style="width:100%"/>
					</a>
					<div class="image-text">{{ item.caption }}</div>
				</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="no-library-image">
			No image in library.
			{% if object.mode_imaging_priority %}
				<br>
				Imaging Priority: 
				{{ object.mode_imaging_priority_span }}
			{% else %}
				<br>
				Not available for imaging.
			{% endif %}

			<div class="manage">
				<a href="{% url 'dso-manage-panel' 'slideshow' object.pk %}">
				<button>Manage Images</button>
				</a>
			</div>
			</div>
		{% endif %}
	</td>
</tr>
<tr>
	<td id="metadata" colspan=2>
		<table width=100% class="lite">
			<tr>
				<td colspan=2><h2>Information:</h2></td>
				<td rowspan=2>
					<br>
					<div class="conditions">
						<span class="object-metadata">
							Priority ({{ observing_mode_string_short }}):
						</span>&nbsp;
						{% if observing_mode != 'I' %}
						<span class="white">{{ mode_priority_label }}</span>
						{% else %}				
						{{ mode_priority_span }}
						{% endif %}
						{% if object.reimage %}
							<span style="color:#0cc"> - REDO </span>
						{% endif %}
						<br>
						<span class="object-metadata">On SkyMap:</span>&nbsp;
							<b>{{ object.get_show_on_skymap_display }}</b>
						<br>
						<span class="object-metadata">On Simple SkyMap:</span>&nbsp;
							<b>{{ object.get_show_on_simple_skymap_display }}</b>
						{% if object.is_on_active_observing_list %}
						<br>
						🔭 - on active observing list
						{% endif %}
					</div>
				</td>
			<tr>
				<td class="coordinates">&alpha; (2000): {{ object.ra_text }}
					<br>
					<span class="annotation">
							{{ object.ra_float|floatformat:3}}h 
							&nbsp;&nbsp;&nbsp;
							{{ object.ra_deg_float|floatformat:3 }}°
						</span>
				</td>
				<td class="coordinates">&delta; (2000): {{ object.dec_text }}
					<br>
					<span class="annotation">
						{{ object.dec_float|floatformat:3}}°
					</span>
				</td>
			</tr>
			<tr>
				<td>
					{% if object.find_magnitude.1 %}{{ object.find_magnitude.1 }}&nbsp;{% endif %}
					Mag.: 
					{% if object.find_magnitude.0 %}
						{{ object.find_magnitude.0|floatformat:2 }}
						{% if object.find_magnitude.1 != 'O' %}
						<span class="source">{{ object.find_magnitude.2|show_property_source }}</span>
						{% endif %}
					{% endif %}
				</td>
				<td>
					Ang. Size: 
					{% if object.find_angular_size.0 %}
						{{ object.find_angular_size.0 }}
						{% if object.find_angular_size.1 != 'O' %}
						<span class="source">{{ object.find_angular_size.1|show_property_source }}</span>
						{% endif %}
					{% endif %}
				</td>
				<td rowspan="4" style="padding: 0;">
					{% for item in other_metadata %}
					<p style="padding: 3px 5px; margin: 0">{{ item }}</p>
					{% endfor %}
				</td>		
			</tr>
			<tr>
				<td>
					Surf. Bri: 
					{% if object.find_surface_brightness.0 %}
						{{ object.find_surface_brightness.0|floatformat:2 }}
						{% if object.find_surface_brightness.1 != 'O' %}
						<span class="source">{{ object.find_surface_brightness.1|show_property_source }}</span>
						{% endif %}
					{% endif %}
				</td>
				<td>
					Distance:
					{% if object.find_distance.0 %}
						{{ object.find_distance.0|floatformat:1 }} {{ object.find_distance.1 }}
						{% if object.find_distance.2 != 'O' %}
						<span class="source">{{ object.find_distance.2|show_property_source }}</span>
						{% endif %}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					Orientation Angle: 
					{% if object.find_orientation.0 %}
						{{ object.find_orientation.0 }}°
						{% if object.find_orientation.1 != 'O' %}
						<span class="source">{{ object.find_orientation.1|show_property_source }}</span>
						{% endif %}
					{% endif %}
					</td>
				<td>Morphological Type: 
					{% if object.morphological_type %}
					{{ object.morphological_type }}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					Contrast Index: 
					{% if object.contrast_index %}
					{{ object.contrast_index }}
					{% endif %}
				</td>
				<td></td>
			</tr>
			<tr>
				<td>
					<h3>
						Obs. Season: 
						<small>
						{% if observing_date_grid.no_grid_reason %}
							(Max Alt: {{ max_altitude|floatformat:1 }}°)
						{% else %}
							(Alt = {{ observing_date_grid.alt }}°; Max Alt: {{ max_altitude|floatformat:1 }}°)
						{% endif %}
					</small>
					</h3>
					{% if observing_date_grid.no_grid_reason %}
						{{ observing_date_grid.no_grid_reason }}
					{% else %}
						<table class="short">
						<tr>
							<th>Time</th><th>Start<br>Date</th><th>Meridian<br>Date<th>End<br>Date</th>
						</tr>
						{% for k, v in observing_date_grid.grid.items %}
						<tr>
							<td class="hour">{{k}}</td>
							<td>{{v.0|date:"M d"}}</td>
							<td>{{v.1|date:"M d"}}</td>
							<td>{{v.2|date:"M d"}}</td>
						</tr>
						{% endfor %}
						</table>
					{% endif %}
				</td>
				<td colspan="2">
					<h3>On Atlas Plates:</h3>
					{% for plate in object.atlasplate_set.all %}
					<a href="{% url 'atlas-detail' plate.slug %}" target="_blank">{{ plate.plate_id }}</a>
					{% if not forloop.last %}, {% endif %}
					{% endfor %}

					<br>
					<h3>
						Observing Mode Viability:
						<span class='popup-button'>
							<button onclick="return realtimePopup('/help/popup/dso-observing-mode')">&#9432;</button>
						</span>
					</h3>
					{{ object.mode_viability_chart }}
				</td>
			</tr>
			<tr>
				<td class="editing">
					<h3>Editing</h3>
					<a href="{% url 'dso-edit-metadata' object.pk %}"><button class="op">Edit Metadata</button></a>
					<a href="/admin/dso/dso/{{ object.pk }}/change"><button class="adminb">Admin</button></a>
					<a href="{% url 'dso-edit-modes' object.pk %}"><button>Obs. Modes</button></a>
				</td>
				<td class="obslist" colspan="2">
					<h3>
						Active Observing Lists
						<span class='popup-list-button' onClick="DSOAddPopup({{ object.pk }})">
							<button> ✅ Add to DSO List</button>
						</span>
					</h3>
					{% if active_dsolists.count > 0 %}
						<ul class="dso-list">
							{% for ol in active_dsolists %}
							<li>
								<a href="{% url 'dsolist-detail' ol.pk %}" target="_blank">{{ ol.name }}</a>
							</li>
							{% endfor %}
						</ul>
					{% else %}
					<p>Not on any active Observing Lists</p>
					{% endif %}
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>

<table>
<tr>
	<td id="field_chart_view" width="50%">
		<h3>Finder Chart(s):</h3>
		<div class="finder-chart-container">
			<div class="panel-type">
				<span class="little-header">
				Finder Chart Panel
				</span>
			</div>
			{% for item in finder_slideshow %}
			<div class="mySlides finderslide">
				{% if finder_slideshow|length > 1 %}
				<div class="slide-header">
					<a onclick="plusSlides(-1, 0)"><button>Previous</button></a>
					&nbsp; | &nbsp;
					<a onclick="plusSlides(1, 0)"><button>Next</button></a>
					&nbsp; | &nbsp;
					Image {{ forloop.counter }} of {{ finder_slideshow|length }}
				</div>
				{% endif %}
				<a href="{{ item }}" target="_blank>">
					<img
						src="{{ item }}"  
						alt="add data here"
						style="width:100%;"
					/>
				</a>
			</div>
			{% endfor %}
		</div>
	</td>

	<td id="imaging_view" colspan=3 style="width:50%;">
		{% if map_slideshow|length < 2 %}
			<h3>Imaging Chart:</h3>
			<div class="panel-type">
				<span class="little-header">Full-Sized View Panel</span>
				<div class="rightside">
					<a href="{% url 'dso-manage-panel' 'landscape' object.pk %}">
					<button>Manage Images</button>
					</a>
				</div>
			</div>
			{% if object.dso_imaging_chart %}
			<img src="{{ object.dso_imaging_chart.url }}" width=100% style="display:block;">
			{% else %}
			<br>(No imaging view.)
			{% endif %}
		{% else %}
			<h3>Full-Frame Images and Finder Image</h3>
			<div class="slideshow-container">
				<div class="panel-type">
					<span class="little-header">Full-Sized View Panel</span>
					<div class="rightside">
						<a href="{% url 'dso-manage-panel' 'landscape' object.pk %}">
						<button>Manage Images</button>
						</a>
					</div>
				</div>
				{% for item in map_slideshow %}
				<div class="mySlides mapslide">
					<div class="slide-header">
						{% if map_slideshow|length > 1 %}
						<a onclick="plusSlides(-1, 2)"><button>Previous</button></a>
						&nbsp; | &nbsp;
						<a onclick="plusSlides(1, 2)"><button>Next</button></a>
						&nbsp; | &nbsp;
						Image {{ forloop.counter }} of {{ map_slideshow|length }}
						{% endif %}

				 	</div>
					<a href="{{ item.url }}" target="_blank>">
						<img
							src="{{ item.url }}"  
							alt="add data here"
							style="width:100%;"
						/>
					</a>
					<div class="image-text">{{ item.caption }}</div>
				</div>
				{% endfor %}
			</div>
		{% endif %}
	</td>

</tr>
</table>

<table>
<tr>
	<td>
		<a name="dsos_in_field"></a>
		{% if object.dsoinfield_set.all %}
		<h3>DSOs in Field ({{ object.dsos_in_field_count }})</h3>
		<table class='infield'>
		<tr class='dif'><th>Name</th><th>Const.</th><th>Type</th><th>Location</th>
			<th>Mag.</th><th>Surf. Br.</th><th>Size</th><th>Dist.</th>
			<th>Wiki</th>
		</tr>
		{% for fdso in object.dsoinfield_set.all %}
		<tr>
			<td>
				{{ fdso.name_plus_alias }}
				{% if fdso.nickname %}<span class="nickname"> - {{ fdso.nickname }}</span>{% endif %}
			</td>
			<td>{{ fdso.constellation.abbreviation }}</td>
			<td>
				{{ fdso.object_type.short_name }} 
				{% if fdso.morphological_type %}&nbsp;({{ fdso.morphological_type }}){% endif %}
			</td>
			<td>{{ fdso.primary_distance|floatformat:1 }}' at {{ fdso.primary_angle|floatformat:0 }}°</td>
			<td>{{ fdso.magnitude|floatformat:2 }}</td>
			<td>{{ fdso.surface_brightness|floatformat:2 }}</td>
			<td>{{ fdso.angular_size }}</td>
			<td>{{ fdso.find_distance.0|floatformat:1 }} {{ fdso.find_distance.1 }}</td>
			<td class="field-td-wiki">
				{% if fdso.has_wiki == 'WIKI' %}
				<button onclick="return realtimePopup('/dso/fieldwiki/{{ fdso.pk }}')">
					<b>🅆</b>
				</button>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
		</table>
		{% endif %} 
		<a name="nearby_dsos"></a>
		<h3>
			Nearby DSOs ({{ neighbor_list|length }})
			{% if neighbor_list|length > 0 %}
			&nbsp;&nbsp;&nbsp;
			<button onClick="showNeighborTable();">Show/Hide List</button>
			{% endif %}
		</h3>
			<small>
			{% if object.nearby_dsos|length > 0 %}<table class="lite">{% endif %}
			{% for x in object.nearby_dsos %}
			{% if forloop.counter0|modulus:5 == 0 %}<tr>{% endif %}
				<td width="20%">
					{% if x is not None %}
						<a href="{% url 'dso-detail' x.pk %}">{{ x.label_on_chart }}</a>
						(
							{{ x.object_type.short_name }}, 
							{{ x.mode_priority_dict|mode_priority_span:observing_mode }}
							{% if x.mode_imaging_priority is not None %}
								&nbsp;{{ x.mode_imaging_priority_span }}
							{% endif %}
							{% if x.library_image_camera %}{{ x.library_image_camera }}{% endif %}
							{% if x.is_on_active_observing_list %}🔭{% endif %}
							{% if x.reimage %}↪️{% endif %}
						)
						{% if not forloop.last %}, {% endif %}
					{% endif %}
				</td>
			{% if forloop.counter0|modulus:5 == 4  or forloop.last %}</tr>{% endif %}
			{% empty %}
			None
			{% endfor %}
			{% if object.nearby_dsos|length > 0 %}</table>{% endif %}
		</small>
		<div id="nearby_table" style="display: none;">
			<br><br>
			{% with neighbor_list as dso_list %}
			{% include 'includes/dso_table.html' %}
			{% endwith %}
		</div>
	</td>
</tr>
</table>

<table>
<tr class="bottom">
	<td id="object_notes" valign="top" width=30% rowspan=2>
		<a name="notes"></a>
		<h3>Notes</h3>
		{{ object.notes|linebreaks }}
	</td>
	<td>
		{% with instance=object admin_dir='dso/dso'%}
		{% include 'includes/observation_section.html' %}
		{% endwith %}
	</td>
</tr>
</table>

<table>
<tr>
	<td colspan="5" class="indented">
		<h2>Uploaded External Images</h2>
	</td>
	<td class="edit_images">
		<a href="{% url 'dso-manage-image' object.pk %}">
			<button>Manage Images</button>
		</a>
	</td>
</tr>
{% if image_list|length > 0 %}
	{% for image in image_list %}
		{% if forloop.counter0|divisibleby:3 %}
		<tr class="bottom">
		{% endif %}
			<td class="dso_image" colspan=2 style="width:33%">
				<a href="{{ image.image.url}}" target="_blank">
					<img src="{{ image.image.url }}" width=100%>
				</a>
			</td>
		{% if forloop.counter|divisibleby:3 %}
		</tr>
		{% endif %}
	{% endfor %}
	{% if image_list|length|modulo:3 == 1 %} {# clear out row #}
			<td colspan=2 style="width:33%">&nbsp;</td>
			<td colspan=2 style="width:33%">&nbsp;</td>
		</tr>
	{% elif image_list|length|modulo:3 == 2 %} {# clear out row#}
			<td colspan=2 style="width:33%">&nbsp;</td>
		</tr>
	{% endif %}
{% else %} {# oops = no images #}
<tr>
	<td colspan=6>
		(No uploaded images.  Use "Manage Images" to add some.)
	</td>
</tr>
{% endif %}
</table>

{% include 'includes/performance_time.html' %}
{% include 'includes/multiple_slideshows.html' %}
{% endblock content %}

{% block extra-js %}
<script>
	function showNeighborTable() {
		var div = document.getElementById("nearby_table");
		if (div.style.display === "none") {
			div.style.display = "block";
		} else {
			div.style.display = "none"
		}
	}
</script>
{% include 'includes/realtime_script.html' %}
{% include 'includes/dsolistadjust_script.html' %}
<script src="/media/js/bootstrap.js">
{% endblock extra-js %}