{% extends 'base.html' %}
{% load skytour_filters humanize %}
{% block title %}Filter DSO: Skytour{% endblock %}
{% block content %}
<h1>DSO Filter Form</h1>
<form method="POST" action="">
    {% csrf_token %}
    <table width="50%">
        {{ form.as_table }}
    </table>
    <br><input type="submit">
</form>

{% if completed %}
    <br>RA Range: {{ values.ra_min }} to {{ values.ra_max }}
    <br>Dec Range: {{ values.dec_min }} to {{ values.dec_max }}
    <br>Object Type: {{ values.object_type }}
    <br>Priorities: {{ values.priority }}
    <br>
    <h2>DSO LIST</h2>
    {{ dso_count }} Objects


<form action='/dso/create_dso_list' method="post">
    {% csrf_token %}
    <table id="dso_picker">
        <tr>
            <th></th>
            <th>Name</th>
            <th>ID</th>
            <th>Aliases</th>
            <th></th>
            <th>Const.</th>
            {% comment %}
            <th>RA</th>
            <th>DEC</th>
            {% endcomment %}
            <th>Coord.</th>
            <th>Type</th>
            <th>Priority</th>
            <th>Mag</th>
            <th>Size</th>
            <th>Surf Br.</th>
        </tr>
    {% for dso in dso_found %}
        <tr>
            <td><input type="checkbox" name="add_dso" value="{{ dso.pk }}" checked></td>
            <td><a href="{% url 'dso-detail' dso.pk %}">{{ dso.pk }}</a></td>
            <td><a href="{% url 'dso-detail' dso.pk %}">{{ dso }}</a></td>
            <td>{{ dso.alias_list }}</td>
            <td>
                {% with dso.images.all|first as img %}
                <img src="{{ img.image.url }}" width=80>
                {% endwith %}
            </td>
            <td>{{ dso.constellation.abbreviation }}</td>
            {% comment %}
            <td>{{ dso.ra_text }}</td>
            <td>{{ dso.dec_text }}</td>
            {% endcomment %}
            <td>{{ dso.short_ra_dec }}</td>
            <td>{{ dso.object_type }}</td>
            <td>
                {{ dso.mode_priority_dict|mode_priority_span:observing_mode }}
                {% if dso.mode_imaging_priority is not None %} 
                <span hidden>{{ dso.mode_imaging_priority }} </span>
                {{ dso.mode_imaging_priority_span }}
            {% endif %}
            {% if dso.library_image_camera %}
                <span style="float: right;">{{ dso.library_image_camera }}&nbsp;&nbsp;</span>
            {% endif %}
            </td>
            <td>{{ dso.magnitude }}</td>
            <td>{{ dso.angular_size }}</td>
            <td>{{ dso.surface_brightness }}</td>
        </tr>
    {% endfor %}
    </table>
    <p>Select a current DSO List to add these items.</p>
    <b>Current DSO List: </b>
    {{ add_form.dso_list }}
    <p>Or, create a new DSO List.</p>
    <b> New DSO List Name:</b>
    {{ add_form.new_dso_list }}
    <br>
    <b>Description</b>
    {{ add_form.new_dso_description }}
    <br>
    <input type="submit">
</form>
{% endif %}
{% include 'includes/sortable_table.html' %}
{% endblock %}