{% extends 'base.html' %}
{% load skytour_filters humanize %}
{% block title %}DSO List: {{ object.name }}: Skytour{% endblock %}
{% block content %}
<style>
    h1 { color: #fc0; }
</style>
<h1>DSO List: {{ object.name }}</h1>
<h2>Description</h2>
<p> {{ object.description }} </p>
<p>
    <button onClick='toggleDSOListEditForm();'>Edit/Delete DSOList</button>
    {% include 'form_dsolist_edit.html' %}
</p>
<p><a href="{% url 'dsolist-pdf' object.pk %}" target="_new"><button>PDF Page</button></a></p>

<h2>{{ object.dso.count}} DSOs</h2>
{% with object.dso.all as dso_list %}
{% include 'includes/dso_table.html' %}
{% endwith %}
<h2>Map</h2>
<img src="{{map}}">
{% endblock %}