{% extends 'base.html' %}
{% load skytour_filters humanize %}
{% block title %}DSO Lists: Skytour{% endblock %}
{% block content %}
<style>
    table.dsolist th {
        background-color: #996; color: #000; border: none;
    }
    table.dsolist td.center  {text-align: center; }
</style>
<h1>Lists of Deep Sky Objects</h1>
<br/>
<button onClick='toggleDSOListCreateForm();'>Create New DSOList</button>
{% include 'form_dsolist_create.html' %}
<br/><br/>

<table class="dsolist">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th># DSOs</th>
        <th>RA Range</th>
        <th>Dec Range</th>
        <th>Active</th>
    </tr>
{% for object in object_list %}
    <tr>
        <td><a href="{% url 'dsolist-detail' object.pk %}">{{ object.pk }}</a></td>
        <td><a href="{% url 'dsolist-detail' object.pk %}">{{ object.name }}</a></td>
        <td>{{ object.description }}</td>
        <td>{{ object.dso_count }}</td>
        <td>{{ object.ra_range.0|to_hm:0 }} to {{ object.ra_range.1|to_hm:0 }}</td>
        <td>{{ object.dec_range.0|to_dm:0 }} to {{ object.dec_range.1|to_dm:0 }}</td>
        <td class='center'>
            {% if object.active_observing_list %}
            ✅
            {% else %}
            ❌
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}