{% extends 'base.html' %}
{% load skytour_filters humanize %}
{% block title %}Available DSOs: Skytour{% endblock %}
{% block content %}
<style>
    h1 { color: #fc0; }
    h2.count { color: #fff; }
    h3.metadata { color: #ff9; }
    h4.metadata { color: #cc9; }
    h5 { color: #f63; margin: 3px 2px 3px 2px; font-size: 16px; }

    span.infield { float: right; font-size: 80%; }
    span.nickname { font-style: italic; color: #ff9; }
    table.dso_table tbody th, 
        table.dso_table tbody td { padding: 4px 10px 2px 10px; }
    table.dso_table th {
        background-color: #996;
        color: #000;
    }
    table.dso_table tbody td.wiki { 
        white-space: nowrap; padding: 10px 4px; 
        text-align: center;
    }
    table.dso_table thead th.wiki { white-space: nowrap; padding: 10px 4px; }
    button.wiki { width: 1en; }
    table.filter_form label { color: #ff6; font-weight: bold; }
    table.filter_form { border: 1px solid #996; }
    table.filter_form td.submit { 
        background-color: #666; 
        height: 3em; 
    }
    table.filter_form td.submit input { 
        width: 20em; 
        height: 2em;
        margin-left: 20px;
    }
    span.gear { color: #999; font-weight: normal; }
    .add-del button { 
        background-color: rgba(144, 144, 144, 0); 
        padding: 2px 4px;  border: none;
        text-decoration: none;
        font-size: 120%;
    }
    table.top-main { border: none;  margin-bottom: 20px; }
    table.top-main td { border: none; }
    td.list-name { max-width: 400px!important; }
    button.nav { margin: 5px 5px; height: 2em; width: 15em; }
    span.hidden { display: none; }
</style>

<h1>Deep Sky Objects</h1>
<table class="top-main">
    <tr>
        <td>
<h2 class="count">{{ dso_count }} DSOs available at:</h2>
<h3 class="metadata">&nbsp;&nbsp;&nbsp;{{ local_time }}</h3>
<h4 class="metadata">&nbsp;&nbsp;&nbsp;{{ calc_utdt|date:"Y-M-d H:i:s" }} UT</h4>
<h4 class="metadata">&nbsp;&nbsp;&nbsp;
    <a href="{% url 'observing-location-detail' location.pk %}" target="_blank">
    {{ location.concise_name }}</a>
</h4>
        </td>
        <td>
            <h5>Filter DSOs</h5>
            <form target="" method="GET">
                {% if not is_now %}
                <input type="hidden" name="cookie" value="on">
                {% endif %}
                <table class="filter_form">
                    <tr>
                        <td>
                            <label for="utdt">UT:&nbsp;</label> 
                            <input name="utdt" value="{{ format_utdt }}">
                        </td>
                        <td>
                            <label for="ut_offset">UT Offset:&nbsp;</label> 
                            <input name="ut_offset" value="{{ ut_offset }}" size=8>
                            &nbsp;&nbsp;
                            <label for="imaged">Imaged:&nbsp;</label> 
                            <select name="imaged">
                                <option {% if imaged == 'All' %}selected{% endif %}>All</option>
                                <option {% if imaged == 'No' %}selected{% endif %}>No</option>
                                <option {% if imaged == 'Yes' %}selected{% endif %}>Yes</option>
                                <option {% if imaged == 'Redo' %}selected{% endif %}>Redo</option>
                            </select>
                        </td>
                        <td>
                            <label for="incl_low_culmination">Incl. Low Culmination Objects:&nbsp;</label>
                            <input type="checkbox" name="incl_low_culmination" {% if incl_low_culmination %} checked{% endif %}>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <label for="min_priority">Min Priority:&nbsp;</label>
                        <select name="min_priority">
                            <option {% if pri == '0' %}selected{% endif %}>0</option>
                            <option {% if pri == '1' %}selected{% endif %}>1</option>
                            <option {% if pri == '2' %}selected{% endif %}>2</option>
                            <option {% if pri == '3' %}selected{% endif %}>3</option>
                            <option {% if pri == '4' %}selected{% endif %}>4</option>
                        </select>
                        &nbsp;&nbsp;
                        <label for="on_dso_list_all">All Pri. on DSOList:&nbsp;</label>
                        <input type="checkbox" name="on_dso_list_all" {% if on_dso_list_all %} checked{% endif %}>
                        </td>
                        <td>
                        <label for="show_thumbs">Show Thumbnails:&nbsp;</label>
                        <input type="checkbox" name="show_thumbs" {% if show_thumbs %} checked{% endif %}>
                        &nbsp;&nbsp;
                        <label for="show_map">Show Map:&nbsp;</label>
                        <input type="checkbox" name="show_map" {% if show_map %} checked{% endif %}>
                        </td>
                        <td>
                        <label for="west_ha_limit">W. HA Limit:&nbsp;</label>
                        <input name="west_ha_limit" size=5 {% if west_ha_limit %}value="{{ west_ha_limit }}"{% endif %}> hours
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="min_dec">Min Dec.:&nbsp;</label> 
                            <input name="min_dec" size=5 {% if min_dec %}value="{{ min_dec_string }}"{% endif %}>
                            &nbsp;&nbsp;&nbsp;
                            <label for="max_dec">Max Dec.:&nbsp;</label>
                            <input name="max_dec" size=5 {% if max_dec %}value="{{ max_dec_string }}"{% endif %}>
                        </td>
                        <td>
                            <label for="min_alt">Min Alt.:&nbsp;</label> 
                            <input name="min_alt" size=5 {% if min_alt %}value="{{ min_alt }}"{% endif %}>
                            &nbsp;&nbsp;&nbsp;
                            <label for="max_alt"> Max. Alt:&nbsp;</label>
                            <input name="max_alt" size=5 {% if max_alt %}value="{{ max_alt }}"{% endif %}>
                        </td>
                        <td>
                            <label for="min_dso_lunar_distance">Min. Lunar Sep.:&nbsp;</label>
                            <input name="min_dso_lunar_distance" size=4 {% if min_dso_lunar_distance %}value="{{ min_dso_lunar_distance }}"{% endif %}>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="no_mask">No Mask:&nbsp;</label>
                            <input name="no_mask" type="checkbox" {% if no_mask %}checked{% endif %}>
                            &nbsp;&nbsp;
                            <label for="scheduled">On Active DSO List:&nbsp;</label>
                            <input name="scheduled" type="checkbox" {% if scheduled %}checked{% endif %}>
                        </td>
                        <td colspan="2">
                            <label for="gear_N">Obs. Modes:&nbsp;</label>
                            <span style="color: #fff;">
                            <input type="checkbox" name="gearN" value="N" {% if gearN %}checked{% endif %}>
                                <span class="gear">Naked Eye</span>
                            <input type="checkbox" name="gearB" value="B" {% if gearB %}checked{% endif %}>
                                <span class="gear">Binoculars</span>
                            | <span style="font-weight: bold;">Telescopes</span>: 
                            <input type="checkbox" name="gearS" value="S" {% if gearS %}checked{% endif %}>
                                <span class="gear">Small</span>
                            <input type="checkbox" name="gearM" value="M" {% if gearM %}checked{% endif %}>
                                <span class="gear">Medium/Large</span>
                            <input type="checkbox" name="gearI" value="I" {% if gearI %}checked{% endif %}>
                                <span class="gear">Imaging</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="submit">
                            <input type="submit">
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>

<a name="top"></a>
<a href="#bottom"><button class="nav" type="button">Go to Bottom</button></a>

<small>
<table width="100%" id="{{ table_id }}" class="dso_table">
<thead>
    <tr class="table-header">
        {% if show_thumbs %}
        <th>Thumb</th>
        {% endif %}
        <th>Name</th>
        <th class="wiki">🅆</th>
        {% if not hide_constellation %}<th>Con.</th>{% endif %}
        {% if not hide_type %}<th>Type</th>{% endif %}
        <th>Class</th>
        <th>R.A.</th>
        <th>Dec.</th>
        <th>Alt.</th>
        <th>Az.</th>
        <th>Air</th>
        <th>Mag.</th>
        <th>Surf.</th>
        <th>Size</th>
        {% if observing_mode != 'I' %}
        <th>Priority<br>(Mode {{ observing_mode }})</th>
        {% endif %}
        <th>Img</th>
        <th>Modes</th>
        <th>Last Obs.</th>
        <th>DSO List<br>Add/Del</th>
    </tr>
</thead>
<tbody>
{% for dso in dso_list %}
    <tr>
        {% if show_thumbs %}
        <td>{% include 'includes/dso_thumbnail.html' %}</td>
        {% endif %}
        <td class="list-name">
            <a href="{% url 'dso-detail' dso.id %}" target="_blank">{{ dso.label_on_chart }}</a>
            {% if dso.nickname %} - <span class="nickname">{{ dso.nickname }}</span>{% endif %}
            {% if dso.dsoinfield_set.count > 0 %}
            <span class="infield">+{{ dso.dsoinfield_set.count }} in FOV</span>
            {% endif %}
            <br>
            <small>
            {% if dso.alias_list %}{{ dso.alias_list }}{% else %}&nbsp;{% endif %}
            </small>
        </td>
        <td class="wiki">
            {% if dso.has_wiki == 'WIKI' %}
            <button onclick="return realtimePopup('/dso/wiki/{{ dso.pk }}')" class="wiki">
                <b>🅆</b>
                </button>
            {% endif %}
        </td>
        {% if not hide_constellation %}
        <td><a href="{% url 'constellation-detail' dso.constellation.slug %}" target="_blank">{{ dso.constellation.slug }}</a></td>
        {% endif %}
        {% if not hide_type %}
            <td>{{ dso.object_type.short_name }}</td>
        {% endif %}
        <td>{{ dso.morphological_type }}</td>
        <td>{{ dso.ra|to_hm:1 }}</td>
        <td>
            <span class="hidden">{{ dso.dec|sortable_angle }}</span>
            {{ dso.dec|to_dm:1 }}
        </td>
        <td>{{ dso.altitude|floatformat:2 }}</td>
        <td>{{ dso.azimuth|floatformat:1 }}</td>
        <td>{{ dso.airmass|floatformat:3 }}</td>
        <td>{{ dso.magnitude|floatformat:2 }}</td>
        <td>{{ dso.surface_brightness|floatformat:1}}</td>
        <td>{{ dso.major_axis_size|floatformat:1 }}</td>
        {% if observing_mode != 'I' %}
        <td>
            {{ dso.mode_priority_dict|mode_priority_span:observing_mode }}
        </td>
        {% endif %}
        <td>
            {% if dso.mode_imaging_priority >= 0 %} 
                <span hidden>{{ dso.mode_imaging_priority }} </span>
                {{ dso.mode_imaging_priority_span }}
            {% endif %}
            {% if dso.library_image_camera %}
                <span style="float: right;">{{ dso.library_image_camera }}&nbsp;&nbsp;</span>
            {% endif %}
        </td>
        <td>
            {{ dso.mode_set }}
        </td>
        <td>
            {{ dso.number_of_observations }}
            {% if dso.last_observed %}
                &nbsp;
                <small>
                {% if dso.reimage_flag %}
                <span style="color: #f60;">
                {% elif dso.need_to_image_flag %}
                <span style="color: #0cf;">
                {% else %}
                <span style="color: #fff;">
                {% endif %}
                {{ dso.last_observed|date:'Y-m-d' }}
                </span>
            {% endif %}
            {% if dso.is_on_active_observing_list %}🔭{% endif %}
            {% if dso.reimage %}↪️{% endif %}
            </small>
        </td>
        <td class="add-del">
            <span onClick="DSOAddPopup({{ dso.pk }})">
                <button> ✅ </button>
            </span>
            {% if dso.is_on_active_observing_list %}
            <span onClick="DSODeletePopup({{ dso.pk }})">
                <button> ⛔  </button>
            </span>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
</small>
<a name="bottom"></a>
<a href="#top"><button class="nav" type="button">Go to Top</button></a>
{% if show_map %}
    <h2>Map</h2>
    <img src="{{map}}">
{% endif %}

{% include 'includes/sortable_table.html' %}
{% include 'includes/realtime_script.html' %}
{% include 'includes/dsolistadjust_script.html' %}
<br/>
{% include 'includes/performance_time.html' %}

{% endblock %}
