{% extends 'base.html' %}
{% load skytour_filters humanize %}
{% block title %}Imaging Checklist: Skytour{% endblock %}
{% block content %}
<style>
.plan td {
    vertical-align: top;
    padding: 1em;
}
.td-center td {
  vertical-align: middle;
}
details {
  user-select: none;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

table.subnav { 
	width: 80%; 
	margin-left: auto;
	margin-right: auto;
	background-color: #603; 
}
table.subnav td {
	text-align: center; 
	vertical-align: middle !important; 
	padding: 5px !important;
	border: 1px solid white !important; 
}
table.subnav td a {
	color: #fff; 
	font-weight: 800; 
	text-decoration: none;
}


details[open] summary span.icon {
  transform: rotate(180deg);
}
summary {
  display: flex;
  cursor: pointer;
  background-color: #666;
  color: #fff;
  padding: 4px 10px;
  margin: 0px 10px 20px 10px;
}

summary::-webkit-details-marker {
  display: none;
}
</style>
<table>
  <tr>
    <td>
      <h1>Deep Sky Objects: Imaging Checklist</h1>
      <br><br>
      {% if new_obs_list %}
      <b>New Observing List:</b> 
      <a href="{% url 'dsolist-detail' new_obs_list.pk %}">{{ new_obs_list.name }}</a> created!
      <br><small>({{ new_obs_list.dso.count }} objects)</small>
      {% endif %}
    </td>
    <td>
      {% include 'includes/checklist_filter_form.html' %}
    </td>
</table>
{# include 'includes/paginate.html' #}

<small>
<h2># Matching DSOs: {{ list_count }}</h2>
<table width="100%" id="dsos-on-list">
<thead>
    <tr class="table-header">
        <th>Name</th>
        {% if not hide_constellation %}<th>Con.</th>{% endif %}
        {% if not hide_type %}<th>Type</th>{% endif %}
        <th>Class</th>
        <th>R.A.</th>
        <th>Dec.</th>
        <th>Mag.</th>
        <th>Surf.</th>
        <th>Ang. Size</th>
        <th>Priority</th>
        <th># Obs/Img</th>
        <th>Issues</th>
    </tr>
</thead>
<tbody>
{% for obj in dso_list %}
    {% with obj.dso as dso %}
    <tr>
        <td>
            <a href="{% url 'dso-detail' dso.id %}" target="_new">{{ dso.shown_name}}</a>
            {% if dso.nickname %} - {{ dso.nickname }}{% endif %}
            {% if dso.alias_list %} ({{ dso.alias_list }}){% endif %}
        </td>
        {% if not hide_constellation %}
        <td><a href="{% url 'constellation-detail' dso.constellation.slug %}" target="_new">{{ dso.constellation.slug }}</a></td>
        {% endif %}
        {% if not hide_type %}<td><a href="{% url 'object-type-detail' dso.object_type.slug %}" target="_new">{{ dso.object_type.name }}</a></td>{% endif %}
        <td>{{ dso.morphological_type }}</td>
        <td>{{ dso.ra|to_hms:1 }}</td>
        <td>{{ dso.dec|to_dm:1 }}</td>
        <td>{{ dso.magnitude|floatformat:2 }}</td>
        <td>{{ dso.surface_brightness|floatformat:1}}</td>
        <td>{{ dso.major_axis_size|floatformat:1 }}</td>
        <td>
          {{ obj.get_priority_display }}
          {% if dso.is_on_imaging_checklist %} 
            &nbsp; 
            <span style="float: right; color: {{ dso.color_imaging_checklist_priority }}">
            {{ dso.library_image_priority }}
            </span>
          {% endif %}
        </td>
        <td>
            {{ dso.number_of_observations }} / {{ dso.num_library_images }}
            {% if dso.library_image_camera %}
            <span style="float: right;">{{ dso.library_image_camera }}&nbsp;&nbsp;</span>
            {% endif %}
        </td>
        {% comment %}
        <td>{% if dso.last_observed %}{{ dso.last_observed|date:'Y-m-d h:i' }} UT{% endif %}</td>
        {% endcomment %}
        <td>{% if obj.issues %}{{ obj.issues }}{% endif %}</td>
    </tr>
    {% endwith %}
{% endfor %}
</tbody>
</table>
</small>

{% if map %}
<h2>Map</h2>
<img src="{{ map }}">
{% endif %}
<br/>

{# include 'includes/paginate.html' #}
{% include 'includes/sortable_table.html' %}
{% endblock %}