{% extends 'base.html' %}
{% load skytour_filters humanize %}
{% block title %}Observing Plan: Skytour{% endblock %}
{% block content %}
<style>
.plan td {
    vertical-align: top;
    padding: 1em;
}
.td-center td {
  vertical-align: middle;
}
details {
  user-select: none;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

table.subnav { 
	width: 80%; 
	margin-left: auto;
	margin-right: auto;
	background-color: #603; 
}
table.subnav td {
	text-align: center; 
	vertical-align: middle !important; 
	padding: 5px !important;
	border: 1px solid white !important; 
}
table.subnav td a {
	color: #fff; 
	font-weight: 800; 
	text-decoration: none;
}


details[open] summary span.icon {
  transform: rotate(180deg);
}
summary {
  display: flex;
  cursor: pointer;
  background-color: #666;
  color: #fff;
  padding: 4px 10px;
  margin: 0px 10px 20px 10px;
}

summary::-webkit-details-marker {
  display: none;
}
</style>
<h1>Deep Sky Objects</h1>
{# include 'includes/paginate.html' #}
{# include 'includes/dso_table.html' #}
{% load skytour_filters %}
<small>
<table width="100%" id="dso_imaging_checklist">
<thead>
    <tr class="table-header">
        <th>Name</th>
        {% if not hide_constellation %}<th>Con.</th>{% endif %}
        {% if not hide_type %}<th>Type</th>{% endif %}
        <th>Class</th>
        <th>R.A.</th>
        <th>Dec.</th>
        <th>Mag.</th>
        <th>Surf.</th>
        <th>Ang. Size</th>
        <th>Priority</th>
        <th># Obs./Images</th>
        <th>Issues</th>
    </tr>
</thead>
<tbody>
{% for obj in object_list %}
    {% with obj.dso as dso %}
    <tr>
        <td>
            <a href="{% url 'dso-detail' dso.id %}" target="_new">{{ dso.shown_name}}</a>
            {% if dso.nickname %} - {{ dso.nickname }}{% endif %}
            {% if dso.ngc_alias %} ({{ dso.ngc_alias }}){% endif %}
        </td>
        {% if not hide_constellation %}
        <td><a href="{% url 'constellation-detail' dso.constellation.slug %}" target="_new">{{ dso.constellation.slug }}</a></td>
        {% endif %}
        {% if not hide_type %}<td><a href="{% url 'object-type-detail' dso.object_type.slug %}" target="_new">{{ dso.object_type.name }}</a></td>{% endif %}
        <td>{{ dso.morphological_type }}</td>
        <td>{{ dso.ra|to_hms:1 }}</td>
        <td>{{ dso.dec|to_dm:1 }}</td>
        <td>{{ dso.magnitude|floatformat:2 }}</td>
        <td>{{ dso.surface_brightness|floatformat:1}}</td>
        <td>{{ dso.major_axis_size|floatformat:1 }}</td>
        <td>{% if obj.priority %}{{ obj.get_priority_display }}{% endif %}</a></td>
        <td>
            {{ dso.number_of_observations }} / {{ dso.num_library_images }}
        </td>
        {% comment %}
        <td>{% if dso.last_observed %}{{ dso.last_observed|date:'Y-m-d h:i' }} UT{% endif %}</td>
        {% endcomment %}
        <td>{% if obj.issues %}{{ obj.issues }}{% endif %}</td>
    </tr>
    {% endwith %}
{% endfor %}
</tbody>
</table>
</small>
{% include 'includes/sortable_table.html' %}
<br/>

{# include 'includes/paginate.html' #}
{% endblock %}