{% extends 'base.html' %}
{% load skytour_filters %}
{% block title %}DSO Priority List: Skytour{% endblock %}
{% block content %}
<h1>DSO Priorities</h1>

<table id="{{ table_id }}">
<thead>
    <tr><th>Priority</th><th>Count</th></tr>
</thead>
<tbody>
{% for p in priorities %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td><a href="{% url 'priority-detail' p %}">{{ p }}</a></td>
        <td>{{ priority_count|dict_value:p }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
<br>
{% include 'includes/sortable_table.html' %}
{% endblock %}