{% load static %}
<!doctype html>
<html lang="end">
<head>
	<meta charset="utf-8">
	<title>{% block title %}SkyTour{% endblock title %}</title>

	<link rel="stylesheet" href="/media/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/media/css/datatables.min.css"/>
	<link rel="stylesheet" href="/media/css/skytour.css">

	<script type="text/javascript" src="/media/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="/media/js/datatables.min.js"></script>
	<script src="/media/js/jquery-ui/external/jquery/jquery.js"></script>
	<script src="/media/js/jquery-ui/jquery-ui.min.js"></script>

	{% block styles %}{% endblock styles %}
</head>
<body>
{% include 'includes/navbar.html' %}
{% block header  %}{% endblock header  %}
{% block content %}{% endblock content %}
{% block footer  %}{% endblock footer  %}
<script>
$( function() {
	$( "#accordion" ).accordion({
		collapsible: true
	});
} );
</script>
{% block extra-js %}{% endblock extra-js %}
</body>
</html>
