{% load static skytour_filters %}
<!doctype html>
<html lang="end">
<head>
	<meta charset="utf-8">
	<title>{% block title %}RealTime: Skytour{% endblock title %}</title>

	<link rel="stylesheet" href="/media/css/jquery-ui.min.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/media/css/datatables.css" type="text/css">
	<link rel="stylesheet" href="/media/css/skytour.css" type="text/css">

	<script type="text/javascript" src="/media/js/jquery-3.6.0.min.js"></script>
	<script src="/media/js/jquery-ui/external/jquery/jquery.js"></script>
	<script src="/media/js/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/media/js/datatables.min.js"></script>

{% block styles %}
<style>
    h2 { color: #f96; font-size: 30px; margin-left: 10px; }
    label { color: #ff9;  font-weight: 400; }
    span.form_label { color: #39f; font-weight: 600; } 
    td { padding: 5px; line-height: 1.4; font-size: 20px; }
    form { padding: 18px 4px 8px 20px; }
    table.loc td { line-height: 1.2; font-size: 14px; }
    table.loc td label { color: #6f6; font-weight: 400; }
</style>
{% endblock styles %}
</head>
<body>
{% block header  %}{% endblock header  %}
{% block content %}
<h2>{{ real_time.display_name }}</h2>
<table>
    <tr>
        <td>
            <label>UTDT:</label> {{ real_time.utdt|date:"Y-M-d H:i:s" }}<br>
            <label>JD:</label> {{ real_time.julian_date|floatformat:5 }}<br>
            <label>Sid. Time:</label> {{ real_time.sidereal_time|to_hms }}<br>
            <br>
            <label>RA:</label> {{ real_time.ra|to_hms }}<br>
            <label>Dec:</label> {{ real_time.dec|to_dms }}<br>
            <label>Constellation:</label> {{ real_time.constellation }}<br>
            <label>Distance: </label>
                {% if object_type != 'DSO' %}
                {{ real_time.distance|floatformat:3 }} 
                {% else %}
                {{ real_time.distance|floatformat:1 }} 
                {% endif %}
                {{ real_time.distance_units }}
                <br>
            <label>Lunar Distance: </label>{{ real_time.lunar_distance|to_dms }}
        
        </td>
        <td>
            <label>Local Time:</label> {{ real_time.local_time_str }}<br/>
            <label>Magnitude:</label> 
            {{ real_time.apparent_magnitude|floatformat:1 }}
            {% if real_time.surface_brightness %}
            ({{ real_time.surface_brightness|floatformat:2 }})
            {% endif %}
            <br>
            {% if real_time.angular_diameter %}
            <label>Ang. Diam:</label> {{ real_time.angular_diameter|floatformat:1 }}{{ real_time.angular_diameter_units}}<br>
            {% else %}
            <br>
            {% endif %}
            <br>
            <label>Hour Angle:</label> {{ real_time.hour_angle|to_hms }}<br>
            <label>Azimuth:</label> {{ real_time.azimuth|to_dms }}<br>
            <label>Altitude:</label> {{ real_time.altitude|to_dms}}<br>
            <label>Max. Alt:</label> {{ real_time.max_alt|to_dms }}<br>
            <label>Air Mass:</label> {{ real_time.sec_z|floatformat:2 }}<br>
        </td>
    </tr>
</table>
<form action="" method="GET">
    <span class="form_label">Time:</span>
    <input 
        type="radio" 
        name="utdt_base" 
        value="cookie" 
        {% if use_date == 'cookie' %} checked{% endif %}
    /> Cookie
    <input 
        type="radio" 
        name="utdt_base" 
        value="now"
        {% if use_date == 'now' %} checked{% endif %}
    /> Now
    &nbsp;|&nbsp;
    <span class="form_label">UT Offset (hours): </span>
    <input name="offset" value="{{ use_offset }}" size="4"> 
    &nbsp;|&nbsp;
    <input type="submit" value="Reload">
</form>

<hr>
<table class="loc">
    <tr>
        <td colspan=2>
            <label>Location:</label> {{ real_time.location.placename }}
        </td>
    </tr>
    <tr>
        <td>
            <label>Longitude:</label> {{ real_time.location.longitude|to_dms }}
        </td>
        <td>
            <label>Latitude:</label> {{ real_time.location.latitude|to_dms }}
        </td>
    </tr>
</table>

{% endblock content %}
{% block footer  %}
<footer>
<div class="footer2">
	<br clear="all"/>
	<p>© {% now 'Y' %} - Skepsis Interplanetary</p>
</div>
</footer>
{% endblock footer  %}
{% block extra-js %}{% endblock extra-js %}
</body>
</html>
